<!--
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Codename		| Date				| Remarks
	| SDS01		| Healer			| 18/06/2017	| Newly added about on SDS and crew

	======================================================================================
-->

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row" style="margin-bottom: 45px;">
		<div class="text-center">
			<div class=" abtus-cap-title">
				<div class="abtus-cap-space">
					<div class="abtus-cap-s">
						<div class="abtus-incap-s" style="margin-left: 30%"> </div>
						<div class="abtus-incap-s" style="margin-top: 45px;"> </div>
					</div>
				</div>

				<div class="abtus-cap-space">
					<div class="abtus-dot" > </div>
				</div>

				<div class="abtus-cap-space">
					<div class="abtus-cap-d">
						<div class="abtus-incap-d" > </div>
					</div>
				</div>

				<div class="abtus-cap-space">
					<div class="abtus-dot"> </div>
				</div>

				<div class="abtus-cap-space">
					<div class="abtus-cap-s">
						<div class="abtus-incap-s" style="margin-left: 30%"> </div>
						<div class="abtus-incap-s" style="margin-top: 45px;"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row border-bottom white-bg dashboard-header">
		<div class="m-b-md" >
			<h1 class="text-center"> About Us </h1>
		</div>
		<p class="text-center lead"> SDS a.k.a Silverlake Digital Switch is one of the Silverlake Colud Ecosystem product.  </p>
		<p class="text-center lead"> So, what do you know about SDS? </p>
		<div class="row">
			<button class="btn  btn-md pull-right btn-info m-r-md dim" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_SDS.html',menu:''})">Click here to learn more about SDS </button>
		</div>
		<!--div class="hr-line-dashed"> </div>
		<p class="text-center lead"> And what do you know about the crew of SDS </p>
		<p class="text-right"> <a href="#" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_CREW.html',menu:''})"><span><img class="sds-logo-sm" src="img/user.png"> </img></span> Click here to check them out....... </a></p-->
	</div>
</div>

<script type="text/javascript">

</script>
