<!--
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Codename		| Date				| Remarks
	| SDS01		| Healer			| 18/06/2017	| Newly added about on SDS and crew

	======================================================================================
-->

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight crew-details">
	<div class="row header">
		<div class="col-md-1">
			<button class="btn btn-md dim btn-primary" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_CREW.html',menu:''})"> <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
		</div>
		<div class="col-md-offset-3 col-md-5">
			<h1> Silverlake Digital Switch </h1>
		</div>
	</div>
	<div class="ibox product-detail">
		<div class="ibox-content">
			<div class="row">
				<div class="col-md-4">
					<div class="product-image">
						<img src="img/profile/IS/Profile_IS.jpg" > </img>
					</div>
				</div>
				<div class="col-md-7">
					<h2 class="font-bold m-b-xs"> Isaac Syaz </h2>
					<div class="m-t-md">
						<h3> The brain of Silverlake Digital Switch </h3>
					</div>
					<hr>
					<h4> Roles </h4>
					<ul>
						<li>The <strong> Boss </strong> and the <strong> Founder </strong> of <strong>Silverlake Cloud Ecosystem & Silverlake Digital Switch</strong>. </li>
						<li>Ideas provider. </li>
						<li>Decision maker. </li>
						<li>Decides the direction of SDS. </li>
					</ul>
					<h4> Profile Summary </h4>
					<div class="">
						<p>Isaac who is a very good boss and always care his subordinates no matter they are having small or big problems. He has the most important roles in SDS, who is currently taking care of sales and marketing for SDS. He is also the main person who taking care of SDS critical technical problems if others unable to solve. Because of his belief, which allow how far SDS had move until the current stage.</p>
						<hr>
						<blockquote>
							<p><em>The man who earn the name <strong>GOD</strong> of AS/400 himself (absolutely not kidding, has agreed by others Silverlaker too).</em></p>
							<footer> Anonymous </footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

</script>
