<!--
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Codename		| Date				| Remarks
	| SDS01		| Healer			| 18/06/2017	| Newly added about on SDS and crew

	======================================================================================
-->

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight crew">
	<div class="row header">
		<div class="col-md-1">
			<button class="btn btn-md dim btn-primary" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_Us.html',menu:''})"> <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
		</div>
		<div class="col-md-offset-3 col-md-5">
			<h1> Silverlake Digital Switch </h1>
		</div>
	</div>
	<div class="row dashboard-header crew-body">
		<h2 class="text-center"> <strong> Crew </strong> </h2>
		<div class="row">
			<div class="col-md-offset-5 col-md-2">
				<div class="ibox">
					<div class="ibox-content product-box">
						<div class="product-imitation">
							<img src="img/profile/IS.jpg">
							<p class="lead"> Issac Syaz </p>
						</div>
						<div class="product-desc">
							<div class="m-t text-center no-margins">
								<a href="#" class="btn btn-xs btn-outline btn-primary" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_Profile_IS.html',menu:''})"> Read more </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-offset-1 col-md-2">
				<div class="ibox">
					<div class="ibox-content product-box">
						<div class="product-imitation">
							<img src="img/profile/KB.jpg">
							<p class="lead"> KB Hoh </p>
						</div>
						<div class="product-desc">
							<div class="m-t text-center no-margins">
								<a href="#" class="btn btn-xs btn-outline btn-primary" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_Profile_KB.html',menu:''})"> Read more </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row hall-of-fame-body dashboard-header" >
		<h2 class="text-center"> <strong> Hall of Fame </strong> </h2>
		<div class="row">
			<div class="col-md-offset-1 col-md-2">
				<div class="ibox">
					<div class="ibox-content product-box">
						<div class="product-imitation">
							<img src="img/profile/CT.jpg">
							<p class="lead"> CT Oh </p>
						</div>
						<div class="product-desc">
							<div class="m-t text-center no-margins">
								<a href="#" class="btn btn-xs btn-outline btn-primary" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_Profile_CT.html',menu:''})"> Read more </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">

</script>
