<!--
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Codename		| Date				| Remarks
	| SDS01		| Healer			| 18/06/2017	| Newly added about on SDS and crew

	======================================================================================
-->

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight crew-details">
	<div class="row header">
		<div class="col-md-1">
			<button class="btn btn-md dim btn-primary" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_CREW.html',menu:''})"> <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
		</div>
		<div class="col-md-offset-3 col-md-5">
			<h1> Silverlake Digital Switch </h1>
		</div>
	</div>
	<div class="ibox product-detail">
		<div class="ibox-content">
			<div class="row">
				<div class="col-md-4">
					<div class="product-image">
						<img src="img/profile/CT/Profile_CT.jpg"> </img>
					</div>
				</div>
				<div class="col-md-7">
					<h2 class="font-bold m-b-xs"> Chin Tack Oh </h2>
					<div class="m-t-md">
						<h3> The EX-Hands of Silverlake Digital Switch </h3>
					</div>
					<hr>
					<h4> Roles </h4>
					<ul>
						<li>The most senior developer in SDS.</li>
						<li>Fully Techinical Developer.</li>
						<li>In charge of SDS development & enchancement.</li>
						<li>In charge of extra utilities development needed by SDS.</li>
						<li>In charge of handling MQ connection in CBI project, Message Map Generator Tools creator (For demo)</li>
					</ul>
					<h4> Profile Summary </h4>
					<div class="">
						<p>CT who is the most senior developer in SDS, he has a very unique way of carry out his task. He had helped out a lot for SDS when it comes to develop tools for SDS Demo and extra ultilies for SDS during project period. When come to work, he is very serious and responsible. His seriousness is not at the level which you can joke with.</p>
						<hr>
						<blockquote>
							<p><em> Had a very unique characteristics and ways of dealing his job and tasks.</em></p>
							<footer> CY </footer>
						</blockquote>
					</div>
				</div>
			</div>
		<d/vi>
	</div>
</div>

<script type="text/javascript">

</script>
