<!--
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Codename		| Date				| Remarks
	| SDS01		| Healer			| 18/06/2017	| Newly added about on SDS and crew

	======================================================================================
-->

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight crew-details">
	<div class="row header">
		<div class="col-md-1">
			<button class="btn btn-md dim btn-primary" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_CREW.html',menu:''})"> <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
		</div>
		<div class="col-md-offset-3 col-md-5">
			<h1> Silverlake Digital Switch </h1>
		</div>
	</div>
	<div class="ibox product-detail">
		<div class="ibox-content">
			<div class="row">
				<div class="col-md-4">
					<div class="product-image">
						<img src="img/profile/KB/Profile_KB.jpg"> </img>
					</div>
				</div>
				<div class="col-md-7">
					<h2 class="font-bold m-b-xs"> Kok Boon Hoh </h2>
					<div class="m-t-md">
						<h3> The Face of Silverlake Digital Switch </h3>
					</div>
					<hr>
					<h4> Roles </h4>
					<ul>
						<li>SDS Lead in CBI Dubai Project.</li>
						<li>In charge of managing SDS function and flow.</li>
						<li>Interact with Other Silverlake Module for Integration.</li>
						<li>Interact and deal with SDS User.</li>
					</ul>
					<h4> Profile Summary </h4>
					<div class="">
						<p>KB who is reaching his <strong> 30s </strong> soon is a very responsible person in the matter of handling projects and SDS components. Don't judge by his innocent face, he is a good flirter so <strong class="text-danger"> BEWARE </strong>. He manage to survive in CBI Dubai for almost 2 months straight by dealing with the CBI user until cutover and support period which is quite impress.</p>
						<hr>
						<blockquote>
							<p><em>He is an annoyer. A <strong> Super Duper ANNOYING </strong> person...... the <strong> ANNOY </strong> from hin is no joke. </em></p>
							<footer> CY </footer>
						</blockquote>
					</div>
				</div>
			</div>
		<d/vi>
	</div>
</div>

<script type="text/javascript">

</script>
