<!--
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Codename		| Date				| Remarks
	| SDS01		| Healer			| 18/06/2017	| Newly added about on SDS and crew

	======================================================================================
-->

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight article">
	<div class="row">
		<div class="col-lg-offset-1 col-lg-10">
			<div class="ibox">
				<div class="ibox-content">
					<div class="pull-left">
						<button class="btn btn-lg dim btn-primary" onclick="setBackPath({id:'mainContent',path:'pages/SDS_HOME/About_Us.html',menu:''})"> <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
					</div>
					<div class="text-center article-title">
						<h1> About Silverlake Digital Switch </h1>
						<img class="sds-diagram no-margin" src="img/SDS_diag.png"> </img>
					</div>
					<p> <strong> Silverlake Digital Switch </strong> formerly known as DSPC, enables for rapid deployment of Web Services.It allows for legacy system to support Service Oriented Architecture (SOA) Enablement and to expose modern APIs. SDS also provides for an Enterprise Service Bus (ESB) ecosystem achieved through rules, functors and adapters.</p>
					<p>SDS enables bridging of applications, middleware, and other ESB solutions to leverage present and legacy applications domain into a common space easily accessible and connected via local and cloud based APIs. </p>
					<div class="hr-line-dashed"> </div>
					<div class="row">
						<div class="col-lg-5">
							<div class="widget">
								<div class="p-m">
									<h2 class="m-xs font-bold"> SDS Key Features </h2>
								</div>
								<div class="">
									<ul>
										<li>Rapid enablement of Web Services.</li>
										<li>Supports SOAP and RESTful APIs. </li>
										<li>Bridges legacy system proprietary interface to SOA. </li>
										<li>Rule based transaction blocking. </li>
										<li>Real time transaction alerts. </li>
										<li>Transaction search GUI. </li>
										<li>Extension for data warehouse and analytics. </li>
										<li>User customizable and extensible interface.	</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="widget">
								<div class="p-m">
									<h2 class="m-xs font-bold"> SDS Benefits </h2>
								</div>
								<div class="">
									<ul>
										<li><strong> Publish Silverlake Transactions as Web Services Rapidly : </strong> SDS is able to convert between MBASE and ABCS without any coding required. All Silverlake core banking transactions are readily Web Services via SDS.</li>
										<li><strong> Reusable Transaction: </strong> SDS allows for the same transaction to be published under different web services with different subset of fields. </li>
										<li><strong> Composite Transaction: </strong> Using SDS multiple transactions can be invoked via single web service call. </li>
										<li><strong> Integrated: </strong> Supports various protocols including but not limited to IBM MQ, AS/400 data queue, raw TCP/IP, e-mail, etc. </li>
										<li><strong> Metrics and Analytics. </strong> Transaction analytics are stored securely and encrypted in SDS database without affecting on-line transaction processing. </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="hr-line-dashed"> </div>
					<div class="row">
						<div class="col-lg-12">
							<div class="widget">
								<div class="p-m">
									<h2 class="m-xs font-bold"> History & Achievements </h2>
								</div>
								<div class="inspinia-timeline">
									<div class="timeline-item">
										<div class="row">
											<div class="date col-xs-2">
												<i class="fa fa-archive" aria-hidden="true"></i>
												<h3>2017</h3>
											</div>
											<div class="col-xs-10 content">
												<p class="m-b-xs"> <strong> CBI - Dubai </strong> </p>
												<p> The first project invovlement for SDS as a standalone product for OLTP. Is a very successful cutover for SDS which serving as API Enablement for SIBS Core Banking and Enterprise Service Bus between SDE, SIBS and 13 on-line 3rd parties. </p>
											</div>
										</div>
									</div>
									<div class="timeline-item">
										<div class="row">
											<div class="date col-xs-2">
												<i class="fa fa-archive" aria-hidden="true"></i>
												<h3>2015</h3>
											</div>
											<div class="col-xs-10 content">
												<p class="m-b-xs"> <strong> KTC - Thailand </strong> </p>
												<p> SDS was known as DSPC at that time which is use as communication between ETP and AS/400 via RESTFUL web service. ETP is the front end system which allow back office use. Although no OLTP involve during time but SDS carry out an important role which allow ETP retreive transaction data for investigation purpose and analytics data to impress users. </p>
											</div>
										</div>
									</div>
									<div class="timeline-item">
										<div class="row">
											<div class="date col-xs-2">
												<i class="fa fa-archive" aria-hidden="true"></i>
												<h3>2014</h3>
											</div>
											<div class="col-xs-10 content">
												<p class="m-b-xs"> <strong> Ghana </strong> </p>
												<p> Not sure much detail about Ghana project but SDS had applied and involved for the Ghana SSNIT Project.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

</script>
