<!-- 
	
	
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks   
	| SDS01		| KhaiMeng		| 27/02/2016	| New Release.
	| SDS02		| ChunYong		| 22/11/2016	| SDS Config File

	======================================================================================

-->

<!-- ContentBody -->
<div class="modal-dialog modal-lg">
	<!-- Modal content-->
	<div class="modal-content animated fadeIn">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" id="Add_MClose">&times;</button>
			<h4 class="modal-title">Config View</h4>
		</div>
	
		<div class="modal-body">
			<div class="row">
				<textarea id="cfgviewer">
				</textarea>
			</div>
		</div>
	
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" id="btn_Add_Save">Save</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_Add_MClose">Close</button>
		</div>
	</div>
</div>

<script type="text/javascript">


$(document).ready(function () {
	var editor_one = '';
	$.ajax({
			"url"	: "php/SQL/UTIL/GetConfig.php",
			"type"	: "POST",
			"data"  :"",
			success: function(data){
				$("#cfgviewer").val(data);
				editor_one = CodeMirror.fromTextArea(document.getElementById("cfgviewer"), {
                 lineNumbers: true,
                 matchBrackets: true,
                 styleActiveLine: true,
     			});
			}
		});
		
	$("#btn_Add_Save").click(function(event){
		event.preventDefault();
		$.ajax(
				{
					url : 'PHP/SQL/UTIL/PutConfig.php',
					type: "POST",
					data : {"content" : editor_one.getValue()},
					success:function(data) 
					{
						$("#cfgModal").modal('hide');
						$("#conf_box input").val("");
					}
			});
	});
		
	
});	
</script>