<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 27/02/2016	| New Release.
	| SDS02		| ChunYong		| 22/11/2016	| SDS Config File

	======================================================================================

-->

<!-- ContentBody -->
<div class="modal-dialog modal-lg">
	<!-- Modal content-->
	<div class="modal-content animated fadeIn">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" id="Add_MClose">&times;</button>
			<h4 class="modal-title">Config View</h4>
		</div>

		<div class="modal-body">
			<div class="tabs-container">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#tab-1"> Database Config</a></li>
					<li class=""><a data-toggle="tab" href="#tab-2">HTTP Config</a></li>
					<li class=""><a data-toggle="tab" href="#tab-3">Portation Config</a></li>
				</ul>
				<div class="tab-content" id="conf_cont">
					<div id="tab-1" class="tab-pane active">
						<div class="panel-body">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-lg-4 control-label" for="DBTYPE"> Database Type</label>
									<div class="col-lg-4">
										<input class="form-control" id="DBTYPE"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label" for="DBIP"> Database IP</label>
									<div class="col-lg-3">
										<input class="form-control" id="DBIP"></input>
									</div>
									<label class="col-lg-3 control-label" for="DBPORT"> Database Port</label>
									<div class="col-lg-2">
										<input class="form-control" id="DBPORT"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label" for="DBUSERNAME"> Database Username</label>
									<div class="col-lg-4">
										<input class="form-control" id="DBUSERNAME"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label" for="DBPASSWORD"> Database Password</label>
									<div class="col-lg-4">
										<input class="form-control" id="DBPASSWORD"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label" for="SERVERNAME"> Server Name</label>
									<div class="col-lg-4">
										<input class="form-control" id="SERVERNAME"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label" for="LOGDBNAME"> Log DB Name</label>
									<div class="col-lg-4">
										<input class="form-control" id="LOGDBNAME"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label" for="CONFDBNAME"> Parameter DB Name</label>
									<div class="col-lg-4">
										<input class="form-control" id="CONFDBNAME"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label" for="SYSDBNAME"> System DB Name</label>
									<div class="col-lg-4">
										<input class="form-control" id="SYSDBNAME"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-4 control-label" for="TOPREC"> Search Limit Record for SDS Console</label>
									<div class="col-lg-3">
										<input class="form-control" id="TOPREC"></input>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="tab-2" class="tab-pane">
						<div class="panel-body">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-lg-3 control-label" for="HTTPIP"> HTTP IP</label>
									<div class="col-lg-4">
										<input class="form-control" id="HTTPIP"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label" for="HTTPPORT"> HTTP Port</label>
									<div class="col-lg-2">
										<input class="form-control" id="HTTPPORT"></input>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="tab-3" class="tab-pane">
						<div class="panel-body">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-lg-3 control-label" for="EXPIP"> Export IP</label>
									<div class="col-lg-4">
										<input class="form-control" id="EXPIP"></input>
									</div>
									<label class="col-lg-3 control-label" for="EXPPORT"> Export Port</label>
									<div class="col-lg-2">
										<input class="form-control" id="EXPPORT"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label" for="PRTIP"> Portation IP</label>
									<div class="col-lg-4">
										<input class="form-control" id="PRTIP"></input>
									</div>
									<label class="col-lg-3 control-label" for="PRTPORT"> Portation Port</label>
									<div class="col-lg-2">
										<input class="form-control" id="PRTPORT"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label" for="PRTTABLE"> Portation Table</label>
									<div class="col-lg-8">
										<input class="form-control" id="PRTTABLE"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label" for="PRTDBSCH"> Portation Schema</label>
									<div class="col-lg-4">
										<input class="form-control" id="PRTDBSCH"></input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-3 control-label" for="CONSTRING"> Connection String</label>
									<div class="col-lg-4">
										<input class="form-control" id="CONSTRING"></input>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-primary" id="btn_Add_Save">Save</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_Add_MClose">Close</button>
		</div>
	</div>
</div>

<script type="text/javascript">


$(document).ready(function () {
	triggerAjax({
		method 	: "POST",
		script_id: "Get Config"
	}, function(data){
		if (data.Status == 'AA'){
			var tempdata = JSON.parse(data.Data);
			$("#DBTYPE").val(tempdata.DBTYPE);
			$("#DBIP").val(tempdata.DBIP);
			$("#DBPORT").val(tempdata.DBPORT);
			$("#DBUSERNAME").val(tempdata.DBUSERNAME);
			$("#DBPASSWORD").val(tempdata.DBPASSWORD);
			$("#SERVERNAME").val(tempdata.SERVERNAME);
			$("#LOGDBNAME").val(tempdata.LOGDBNAME);
			$("#CONFDBNAME").val(tempdata.CONFDBNAME);
			$("#SYSDBNAME").val(tempdata.SYSDBNAME);
			$("#HTTPIP").val(tempdata.HTTPIP);
			$("#HTTPPORT").val(tempdata.HTTPPORT);
			$("#EXPIP").val(tempdata.EXPIP);
			$("#EXPPORT").val(tempdata.EXPPORT);
			$("#PRTIP").val(tempdata.PRTIP);
			$("#PRTPORT").val(tempdata.PRTPORT);
			$("#PRTTABLE").val(tempdata.PRTTABLE);
			$("#PRTDBSCH").val(tempdata.PRTDBSCH);
			$("#CONSTRING").val(tempdata.CONSTRING);
			$("#TOPREC").val(tempdata.TOPREC);
		}
		else{
			Command: toastr["error"](data.Data);
		}
	});

	$("#btn_Add_Save").click(function(event){
		event.preventDefault();
		var ary = new Object();
		var inputs = $("#conf_cont :input");

		inputs.each(function(index){
			ary[$(this).attr('id')] = $(this).val();
		});

		triggerAjax({
			method 	: "POST",
			data		: {
				"content" : ary
			},
			script_id: "Put Config"
		}, function(data){
			if (data.Status == 'AA'){
				$("#cfgModal").modal('hide');
				$("#conf_box input").val("");
				toastr["success"](data.Data);
			}
			else{
				toastr["error"](data.Data);
			}
		});
		$.ajax(
				{
					url : 'PHP/SQL/UTIL/PutConfig.php',
					type: "POST",
					data : {"content" : ary},
					success:function(data)
					{

					}
			});
	});


});
</script>
