<!-- 
	
	
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks   
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 09/11/2016	| Added for User Activity

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SDS User Activity Monitoring</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="setMenuPath({id:'mainContent',path:'pages/DSPC_HOME/DSPC_Home.html'})">Home</a>
			</li>
			<li>
				<a href="#">User Activity Monitoring</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom:0px;">
    <div class="ibox float-e-margins">
		<!-- Header for searching input-->
		<div class="ibox-title">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="row">
					<label class="control-label col-xs-2" for="searchby"> Search By </label>
					<div class="input-group col-xs-2">
						<select class="form-control" id="searchby">
							<option value="T">Today</option>
							<option value="7">Last 7 Days</option>
							<option value="30">Last 30 Days</option>
							<option value="R">Date Range</option>
						</select>
					</div>
				</div>			
				<div class="row" id="date_grp">
					<div class="col-xs-6">
						<label class="control-label col-xs-4" for="Sdate"> Start date </label>
						<div class="input-group date col-xs-8">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" id="Sdate" placeholder="YYYY-MM-DD">
						</div>
					</div>
					<div class="col-xs-6">
						<label class="control-label col-xs-3" for="Edate"> End date </label>
						<div class="input-group date col-xs-8">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" id="Edate" placeholder="YYYY-MM-DD">
						</div>
					</div>
				</div>
			</div>
			
			<div class="hr-line-dashed"></div>
			
			<div class="row">
				<label class="control-label col-xs-2" for="filterby"> Filter By </label>
				<div class="input-group col-xs-2">
					<select class="form-control" id="filterby">
						<option value=""></option>
						<option value="L">Login ID</option>
						<option value="S">System</option>
					</select>
				</div>
			</div>		
			
			<div class="form-group" >
				<div id="loginidgrp">
					<label class="control-label col-xs-2" for="loginid"> Login ID </label>
					<div class="input-group col-xs-6">
						<input type="text" class="form-control" id="loginid">
					</div>
				</div>	
				<div id="systemgrp">
					<label class="control-label col-xs-2" for="system"> System </label>
					<div class="input-group col-xs-2">
						<select class="form-control" id="system" > 
						</select>
					</div>
				</div>
			</div>
							
			<div class="form-group">
				<button class="btn btn-primary col-xs-1 pull-right" style="margin-right:15px;" id="btn_search">Search</button>
				<button class="btn btn-primary col-xs-1 pull-right" style="margin-right:15px;" id="btn_clear">Reset</button>
			</div>		
		</form>
		</div>
	</div>
</div>

<div id="content" style="padding-bottom:30px;">
	
</div>

<script type="text/javascript">
										
	$(document).ready(function(){
		$('.input-group.date').datepicker({
    	        todayBtn: "linked",
       		 	keyboardNavigation: false,
       	     	forceParse: true,
                autoclose: true,
                format: "yyyy-mm-dd",
				enableOnReadonly: true
    	});
    	genSysList("system");
    	$("#date_grp").hide();
    	$("#systemgrp").hide();
    	$("#loginidgrp").hide();
	});
	
	$("#btn_search").click(function(event){
		event.preventDefault();
		var newdiv = '';
		var chk = $("#filterby").val();
		clearSession();
		sessionStorage.searchby = $("#searchby").val();
		sessionStorage.Sdate = $("#Sdate").val();
		sessionStorage.Edate = $("#Edate").val();
		sessionStorage.loginid = $("#loginid").val();
		if (chk == 'S'){
			sessionStorage.system = $("#system").val();
		}
		if (chk == 'L'){
			newdiv =$('<div/>').load("pages/CONFIG_USERACT/SDS_USERACT_LOGINID.html");
		}
		else if (chk =='S'){
			newdiv =$('<div/>').load("pages/CONFIG_USERACT/SDS_USERACT_SYS.html");
		}
		else{
			newdiv =$('<div/>').load("pages/CONFIG_USERACT/SDS_USERACT_GEN.html");
		}
		$("#content").prepend(newdiv);
		if ($("#content > div").length > 4){
			$("#content > div").last().remove();
		}
	});
	
	$("#btn_clear").click(function(event){
		event.preventDefault();
		$("#content").empty();
	});
	
	$("#searchby").change(function(){
		if ($(this).val() == 'R'){
			$("#date_grp").show();
		}
		else{
			$("#date_grp").hide();
		}
	});
	
	$("#filterby").change(function(){
		if ($(this).val() == 'L'){
			$("#loginidgrp").show();
			$("#systemgrp").hide();
		}
		else if ($(this).val() == 'S'){
			$("#loginidgrp").hide();
			$("#systemgrp").show();
		}
		else{
			$("#loginidgrp").hide();
			$("#systemgrp").hide();
		}
	});
	
	$("#btn_clear").click(function(){
		$("#content > div").remove();
	});
	
	
	function genSysList(list){
		$.ajax({
			"url"	: "php/SQL/MENU/MenuSys_Inquiry.php",
			"type"	: "POST",
			"data"  : {
							"ACT" 	: "INQ"
					},
			success: function(data){
				var ele = $("#"+list);
				ele.empty();
				data = JSON.parse(data);
				for (i =0; i < data.length; i++)
				{
					var option = document.createElement("option");
					option.text = 'SDS ' + data[i].SYS.toString();
					option.value = 'SDS ' + data[i].SYS.toString();
					ele.append(option);
				}
			}
	});
	}

</script>