<!-- 
	
	
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks   
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 09/11/2016	| Added for User Activity - Filter By Login ID

	======================================================================================

-->

<head>
	<style>
		td.details-control {
			background: url('img/details_open.png') no-repeat center center;
			cursor: pointer;
		}
		tr.shown td.details-control {
			background: url('img/details_close.png') no-repeat center center;
		}
	</style>
</head>

<!-- ContentBody -->
<div class="wrapper animated fadeInDown" >

	<div class="panel panel-payne">
		<div class="panel-heading">
			<h3 id="lid"> Result Filter by Login ID </h3>
		</div>
		
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover" id="LID_Table">
					<thead>
						<tr>
							<th></th>
							<th>Date</th>
							<th>Time</th>
							<th>Remote IP</th>
							<th>Cookie</th>
							<th>Action</th>
							<th>Detail</th>
							<th>System</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
										
	$(document).ready(function(){
		function format ( d ) {
			return '<table cellpadding="6" cellspacing="0" border="1" style="padding-left:50px;">'+
				'<tr>'+
					'<td colspan="2">User Agent</td>'+
					'<td>'+d.user_agent+'</td>'+
				'</tr>'+
			'</table>';
		}
		
		$('#LID_Table').DataTable( {
			"bDestroy": true,
			"bLengthChange": false,
			"aaSorting" : [],
			"bAutoWidth" : false ,
			"ajax": {
					"url"	: "php/SQL/USERACT/USERACT_LOGINID.php",
					"type"	: "POST",
					"dataSrc" : "",
					"data"	:  function(d) {
								d.ACT 	= "INQ",
								d.DATE	= sessionStorage.searchby,
								d.SDATE	= sessionStorage.Sdate,
								d.EDATE	= sessionStorage.Edate,
								d.LOGINID = sessionStorage.loginid
							}
					},
			"columnDefs" : [
           		{ width: '13%', targets: 3 }
        	],
			"columns": [
					{
						"className":      'details-control',
						"orderable":      false,
						"data":           null,
						"defaultContent": ''
					},
					{ "render": function ( data, type, row ) {
						return formatDate(row.date_logd);
					}},
					{ "render": function ( data, type, row ) {
						return formatTime(row.time_logd);
					}},
					{ "data": "remote_ip" },
					{ "data": "login_cookie" },
					{ "data": "action" },
					{ "data": "detail" },
					{ "data": "application" }
					],
			"fnInitComplete": function(oSettings, json) {
				if (typeof sessionStorage.loginid != 'undefined' && sessionStorage.loginid != '')
				{
					$("#lid").append('(' + sessionStorage.loginid.toUpperCase() + ')');
				}
				else
				{
			 		$("#lid").append('(' + json[0].login_id + ')');
			 	}
			}					
		} );
		
		$('#LID_Table tbody').on('click', 'td.details-control', function () {
			var tr = $(this).closest('tr');
			var row = $('#LID_Table').DataTable().row( tr );
 			//console.log(row.child());
			if ( row.child.isShown() ) {
				// This row is already open - close it
				row.child.hide();
				tr.removeClass('shown');
			}
			else {
				// Open this row
				row.child( format(row.data()) ).show();
				tr.addClass('shown');
			}
		} );
	});

</script>