<!-- 
	
	
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks   
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 09/11/2016	| Added for User Activity - Filter By SYSTEM

	======================================================================================

-->

<head>
	<style>
		td.details-control {
			background: url('img/details_open.png') no-repeat center center;
			cursor: pointer;
		}
		tr.shown td.details-control {
			background: url('img/details_close.png') no-repeat center center;
		}
	</style>
</head>

<!-- ContentBody -->
<div class="wrapper animated fadeInDown">

	<div class="panel panel-haki">
		<div class="panel-heading">
			<h3 id="sys"> Result Filter by System </h3>
		</div>
		
		<div class="panel-body">
			<table class="table table-striped table-bordered table-hover" id="SYS_Table">
				<thead>
					<tr>
						<th> </th>
						<th>Date</th>
						<th>Time</th>
						<th>User</th>
						<th>Action</th>
						<th>Detail</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

</div>

<script type="text/javascript">
										
	$(document).ready(function(){
		function format ( d ) {
			return '<table cellpadding="4" cellspacing="0" border="1" style="padding-left:50px;">'+
				'<tr>'+
					'<td>Remote IP </td>'+
					'<td>'+d.remote_ip+'</td>'+
				'</tr>'+
				'<tr>'+
					'<td>Cookie </td>'+
					'<td>'+d.login_cookie+'</td>'+
				'</tr>'+
				'<tr>'+
					'<td>User Agent </td>'+
					'<td>'+d.user_agent+'</td>'+
				'</tr>'+
			'</table>';
		}
		
		$('#SYS_Table').DataTable( {
			"bDestroy": true,
			"bLengthChange": false,
			"aaSorting" : [],
			
			"ajax": {
					"url"	: "php/SQL/USERACT/USERACT_SYS.php",
					"type"	: "POST",
					"dataSrc" : "",
					"data"	:  function(d) {
								d.ACT 	= "INQ",
								d.DATE	= sessionStorage.searchby,
								d.SDATE	= sessionStorage.Sdate,
								d.EDATE	= sessionStorage.Edate,
								d.SYS = sessionStorage.system
							}
					},
			"columns": [
					{
						"className":      'details-control',
						"orderable":      false,
						"data":           null,
						"defaultContent": ''
					},
					{ "render": function ( data, type, row ) {
						return formatDate(row.date_logd);
					}},
					{ "render": function ( data, type, row ) {
						return formatTime(row.time_logd);
					}},
					{ "data": "login_id" },
					{ "data": "action" },
					{ "data": "detail" }
					],
			"fnInitComplete": function(oSettings, json) {
				if (typeof sessionStorage.system != 'undefined' && sessionStorage.system != '')
				{
					$("#sys").append('(' + sessionStorage.system + ')');
				}
				else
				{
			 		$("#sys").append('(' + json[0].application + ')');
			 	}
			}					
		} );
		
		$('#SYS_Table tbody').on('click', 'td.details-control', function () {
			var tr = $(this).closest('tr');
			var row = $('#SYS_Table').DataTable().row( tr );
 			//console.log(row.child());
			if ( row.child.isShown() ) {
				// This row is already open - close it
				row.child.hide();
				tr.removeClass('shown');
			}
			else {
				// Open this row
				row.child( format(row.data()) ).show();
				tr.addClass('shown');
			}
		} );
	});

</script>