<!-- 
	
	
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks   
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 09/11/2016	| Added for User Activity - General

	======================================================================================

-->

<!-- ContentBody -->
<div class="wrapper animated fadeInDown">

	<div class="panel panel-livid">
		<div class="panel-heading">
			<h3> General Filter Result </h3>
		</div>
		
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover" id="GEN_Table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Time</th>
							<th>User</th>
							<th>Action</th>
							<th>Detail</th>
							<th>System</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
										
	$(document).ready(function(){
		$('#GEN_Table').DataTable( {
			"bDestroy": true,
			"bLengthChange": false,
			"aaSorting" : [],
			"ajax": {
					"url"	: "php/SQL/USERACT/USERACT_GEN.php",
					"type"	: "POST",
					"dataSrc" : "",
					"data"	:  function(d) {
								d.ACT 	= "INQ",
								d.DATE	= sessionStorage.searchby,
								d.SDATE	= sessionStorage.Sdate,
								d.EDATE	= sessionStorage.Edate
							}
					},
			"columns": [
						{ "render": function ( data, type, row ) {
							return formatDate(row.date_logd);
						}},
						{ "render": function ( data, type, row ) {
							return formatTime(row.time_logd);
						}},
						{ "data": "login_id" },
						{ "data": "action" },
						{ "data": "detail" },
						{ "data": "application" }
						]
		} );
	});

</script>