/*
	CY (31/10/2016) - Add new css for color palette
*/

:root {
  --stormcloud		: #4e6766;
  --gbastormcloud	: 78 103 102;
  --dimgray			: #696773;
  --gbadimgray		: 105 103 115;
  --charcoal		: #2f4550;
  --gbacharcoal		: 47 69 80;
  --wenge			: #63595c;
  --gbawenge		: 99 89 92;
  --ebony			: #545c52;
  --gbaebony		: 84 92 82;
  --livid			: #63b0cd;
  --gbalivid		: 99 176 205;
  --paynegray		: #5d737e;
  --gbapaynegray	: 93 115 126;
  --cambridgeblue	: #99c5b5;
  --gbacambridgeblue: 153 197 181;
  --grullo			: #aaae7f;
  --gbagrullo		: 170 174 127;
  --pallegold		: #dcc48e;
  --gbapallegold	: 220 196 142;
  --platinum		: #dfe0e2;
  --gbaplatinum		: 223 224 226;
  --paleturquoise	: #bfedef;
  --gbapaleturquoise: 191 237 239;
  --springbud		: #d4e09b;
  --gbaspringbud	: 212 224 155;
  --aeroblue		: #bcffdb;
  --gbaaeroblue		: 188 255 219;
  --freshair		: #a9def9;
  --gbafreshair		: 169 222 249;
  --teagreen		: #d1efb5;
  --gbateagreen		: 209 239 181;
  --melon			: #fcbcb8;
  --gbamelon		: 252 188 184;
  --macandcheese	: #f6c28b;
  --gbamacandcheese	: 246 194 139;
  --haki			: #c3b299;
  --gbahaki			: 195 178 153;
  --palespringbud	: #eaf8bf;
  --gbapalespringbud: 234 248 191;
  --alabaster		: #f2e9e4;
  --gbaalabaster	: 242 233 22;
  --lightcyan		: #ddf0ff;
  --gbalightcyan	: 221 240 255;
}

.stormcloud-bg{
	background-color: var(--stormcloud);
}
.stormcloud-bg input, .stormcloud-bg select{
	color: #000000;
}
.stormcloud-bg :not(input){
	color: #ffffff;
}

.dimgray-bg{
	background-color: var(--dimgray);
}
.dimgray-bg input, .dimgray-bg select{
	color: #000000;
}
.dimgray-bg :not(input):not(select){
	color: #ffffff;
}

.charcoal-bg{
	background-color: var(--charcoal);
}
.charcoal-bg input, .charcoal-bg select{
	color: #000000;
}
.charcoal-bg :not(input):not(select){
	color: #ffffff;
}

.wenge-bg{
	background-color: var(--wenge);
}
.wenge-bg input, .wenge-bg select{
	color: #000000;
}
.wenge-bg :not(input):not(select){
	color: #ffffff;
}

.ebony-bg{
	background-color: var(--ebony);
}
.ebony-bg input, .ebony-bg select{
	color: #000000;
}
.ebony-bg :not(input):not(select){
	color: #ffffff;
}

.livid-bg{
	background-color: var(--livid);
}
.livid-bg input, .livid-bg select{
	color: #000000;
}
.livid-bg :not(input):not(select){
	color: #ffffff;
}

.paynegray-bg{
	background-color: var(--paynegray);
}
.paynegray-bg input, .paynegray-bg select{
	color: #000000;
}
.paynegray-bg :not(input):not(select){
	color: #ffffff;
}

.cambridgeblue-bg{
	background-color: var(--cambridgeblue);
}

.grullo-bg{
	background-color: var(--grullo);
}

.pallegold-bg{
	background-color: var(--pallegold);
}

.platinum-bg{
	background-color: var(--platinum);
}

.paleturquoise-bg{
	background-color: var(--paleturquoise);
}

.springbud-bg{
	background-color: var(--springbud);
}

.aeroblue-bg{
	background-color: var(--aeroblue);
}

.freshair-bg{
	background-color: var(--freshair);
}

.teagreen-bg{
	background-color: var(--teagreen);
}

.melon-bg{
	background-color: var(--melon);
}

.macandcheese-bg{
	background-color: var(--macandcheese);
}

.haki-bg{
	background-color: var(--haki);
}

.palespringbud-bg{
	background-color: var(--palespringbud);
}

.alabaster-bg{
	background-color: var(--alabaster);
}

.lightcyan-bg{
	background-color: var(--lightcyan);
}

.stormcloud-color{
	color: var(--stormcloud);
}

.dimgray-color{
	color: var(--dimgray);
}

.charcoal-color{
	color: var(--charcoal);
}

.wenge-color{
	color: var(--wenge);
}

.ebony-color{
	color: var(--ebony);
}

.livid-color{
	color: var(--livid);
}

.paynegray-color{
	color: var(--paynegray);
}

.cambridgeblue-color{
	color: var(--cambridgeblue);
}

.grullo-color{
	color: var(--grullo);
}

.pallegold-color{
	color: var(--pallegold);
}

.platinum-color{
	color: var(--platinum);
}

.paleturquoise-color{
	color: var(--paleturquoise);
}

.springbud-color{
	color: var(--springbud);
}

.aeroblue-color{
	color: var(--aeroblue);
}

.freshair-color{
	color: var(--freshair);
}

.teagreen-color{
	color: var(--teagreen);
}

.melon-color{
	color: var(--melon);
}

.macandcheese-color{
	color: var(--macandcheese);
}

.haki-color{
	color: var(--haki);
}

.palespringbud-color{
	color: var(--palespringbud);
}

.alabaster-color{
	color: var(--alabaster);
}

.lightcyan-color{
	color: var(--lightcyan);
}
