.container {
	display: none;
}

.container.show {
	display: block;
}

.pageload-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -5px;
	left: 0;
	visibility: hidden;
}

.pageload-overlay.show {
	visibility: visible;
}

.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.pageload-overlay svg path {
	fill: #fff;
}

.pageload-overlay div
{
	text-align: center;
	font-weight: bold;
	color: #FFFFFF;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 45%;
	left: 50%;
	padding: 10px;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	-webkit-transition: opacity 0.15s, visibility 0s 0.15s;
	transition: opacity 0.15s, visibility 0s 0.15s;
}

.pageload-overlay div:nth-child(2){
	background: var(--livid);
	-webkit-transform: translateX(60px);
	transform: translateX(60px);
	-webkit-animation: moveLeft 0.8s linear infinite alternate;
	animation: moveLeft 0.8s linear infinite alternate;
}

.pageload-overlay div:nth-child(3){
	background: #000000;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}

.pageload-overlay div:nth-child(4) {
	background: var(--cambridgeblue);
	-webkit-transform: translateX(-60px);
	transform: translateX(-60px);
	-webkit-animation: moveRight 0.8s linear infinite alternate;
	animation: moveRight 0.8s linear infinite alternate;
}

@-webkit-keyframes moveRight {
	to { -webkit-transform: translateX(60px); }
}

@keyframes moveRight {
	to { transform: translateX(60px); }
}

@-webkit-keyframes moveLeft {
	to { -webkit-transform: translateX(-60px); }
}

@keyframes moveLeft {
	to { transform: translateX(-60px); }
}

.pageload-loading.pageload-overlay div:nth-child(2),
.pageload-loading.pageload-overlay div:nth-child(3),
.pageload-loading.pageload-overlay div:nth-child(4){
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
