/*
	CSS for SDS.AP Technical Screen Design
*/

.searchbox-header{
	background-color: #565656;
}

.searchbox-header label{
	color: #F4F4F4;
}

/* Add on overlay */
.overlay {
    position: absolute;
    z-index: 100;
    width: 94%;
    background-color: rgba(0,0,0, 0.9);
    opacity: 0.5;
}

.overlay-content {
    position: relative;
    width: 100%;
    margin-left:40%;
    top: 40%;
}

/* Datatable Customize */
.table-responsive{
	min-height: 120px;
}
.dataTable thead tr th, .dataTable tbody tr td{
	white-space: nowrap;
}
.dataTables_scrollBody{
	height: 100% !important;
}
.raw_data_table{
	max-height:450px;
}

/* Add on loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #1ab394;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#flipper{
	animation : rotate1 5s linear infinite;
	-webkit-animation: rotate1 8s infinite; /* Chrome, Safari, Opera */
}
@-webkit-keyframes rotate1 {
	100% { transform:rotateY(360deg); }
 }
@keyframes rotate1 { 100% { transform:rotateY(360deg); } }

/* Add for V2 Template */
.side-bar-button{
	position:fixed;
	z-index:1;
	height: 80%;
	background-color: var(--charcoal);
	border-radius: 0 4px 4px 0; !important
}

.show-more{
	cursor: pointer;
}

.http-error-box{
	background-color:#C09F80;
	color:#f6f1ed;
}

.rq_box p, .rs_box p{
	word-wrap: break-word;
}

.raw_data pre{
	height: 100%;
	max-height:600px;
	overflow: auto;
}
