<!-- 
	
	
	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks   
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 18/04/2016	| Added for Manage User Screen

	======================================================================================

-->

<head>

	<style>
		.popover{
    			width:200px;
   				height:35px;
    
				}
	</style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/notify.css" rel="stylesheet">
  	<link href="css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
  
</head>


<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SDS User Management</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="setMenuPath({id:'mainContent',path:'pages/DSPC_HOME/DSPC_Home.html'})">Home</a>
			</li>
			<li>
				<a href="#">User Management</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" >

	<div class="ibox float-e-margins">
	
		<!-- Header for searching input-->
		<div class="ibox-title">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-xs-3" for="LID"> Login ID </label>
				<div class="input-group col-xs-8">
					<input type="text" class="form-control" id="LID">
				</div>
				
				<label class="control-label col-xs-3" for="UName"> Name </label>
				<div class="input-group col-xs-8">
					<input type="text" class="form-control" id="UName">
				</div>
				
				<label class="control-label col-xs-3" for="UGroup"> Group </label>
				<div class="input-group col-xs-3">
					<select class="form-control" id="UGroup" > 
          				<option> </option>
          			</select>
				</div>
			</div>
							
			<div class="form-group">
				<button class="btn btn-primary col-xs-1 pull-right" style="margin-right:15px;" id="btn_search">Search</button>
				<button class="btn btn-primary col-xs-1 pull-right" style="margin-right:15px;" id="btn_clear">Clear</button>
				<button class="btn btn-primary col-xs-2 pull-right" style="margin-right:15px;" id="btn_UsrGrp">User Group</button>
				<button class="btn btn-primary col-xs-1 pull-right" style="margin-right:15px;" id="btn_add">Add</button>
			</div>
				
		</form>
		</div>
		
		<!-- Search Table-->
		<div class="ibox-content">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover dataTables-example" id="U_Table">
					<thead>
						<tr>
							<th>User ID</th>
							<th>Login ID</th>
							<th>Name</th>
							<th>User Group</th>
							<th>Active</th>
							<th>Edit/Remove</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>	
	</div>
	
	<div class="modal inmodal" id="addModal" role="dialog">
    	<div class="modal-dialog">
    
      		<!-- Modal content-->
      		<div class="modal-content animated fadeIn">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">Add User</h4>
        		</div>
        		<div class="modal-body">
          			<form class="form-horizontal" id="addForm" role="form">
          				<div id="Usr_Err_Msg" style="background-color:#935347;display:none;padding:5px;margin-bottom:5px">
							<h3 class="b-b" style="color:white;"> Error Message </h3>
							<div id="Usr_Err_Msg_Cont">
				
							</div>
						</div>
          				<div class="form-group">
          					<label class="label-control col-xs-4"> Login ID </label>
          					<input class="input-control col-xs-5" id="A_LGN_ID" data-container="#addForm" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> Name </label>
          					<input class="input-control col-xs-5" id="A_NAME"> </input>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> Password </label>
          					<input class="input-control col-xs-5" id="A_PASS" name="A_PASS" type="password" data-container="#addForm" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> Confirm Password </label>
          					<input class="input-control col-xs-5" id="A_CPASS" name="A_CPASS" type="password" data-container="#addForm" data-toggle="popover" data-placement="right" data-content=""> </input>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> User Group </label>
          					<select class="input-control col-xs-5" id="AG_List" data-container="#addForm" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> 
          						<option> </option>
          					</select>
          				</div>
          				
          			</form>
        		</div>
        		<div class="modal-footer">
          			<button type="submit" class="btn btn-default" id="btn_User_M_Add">Add</button>
          			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
      		</div>
    	</div>
    </div>
    
    <div class="modal inmodal" id="editModal" role="dialog">
    	<div class="modal-dialog">
    
      		<!-- Modal content-->
      		<div class="modal-content animated fadeIn">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">Edit User</h4>
        		</div>
        		<div class="modal-body">
          			<form class="form-horizontal" id="edtForm" role="form">
          				<div class="form-group">
          					<label class="label-control col-xs-4"> Login ID </label>
          					<input class="input-control col-xs-5" id="E_LGNID" disabled> </input>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> Name </label>
          					<input class="input-control col-xs-5" id="E_NAME"> </input>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> Old Password </label>
          					<input class="input-control col-xs-5" id="E_OPASS" type="password" name="E_OPASS" data-container="#edtForm" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> New Password </label>
          					<input class="input-control col-xs-5" id="E_PASS" type="password" name="E_PASS" data-container="#edtForm" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> Confirm Password </label>
          					<input class="input-control col-xs-5" id="E_CPASS" type="password" name="E_CPASS" data-container="#edtForm" data-toggle="popover" data-placement="right" data-content=""> </input>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> User Group </label>
          					<select class="input-control col-xs-5" id="EG_List" data-container="#edtForm" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> 
          						<option value="test"> </option>
          					</select>
          				</div>
          				
          				<div class="form-group">
          					<label class="label-control col-xs-4"> User Active </label>
          					<div class="col-xs-5">
          						<label class="i-checks"> <input id="E_ACTIVE" type="checkbox" value="Y"> Active </label>
          					</div>
          				</div>
						
						<div class="form-group">
							<div class="vertical-container dark-timeline">
								<div class="vertical-timeline-block">
									<div class="vertical-timeline-icon gray-bg">
										<i class="fa fa-file-text-o"></i>
									</div>
									<div class="vertical-timeline-content">
										<p class="text-info">
											All Password field can be empty if not going to change user password.
										</p>
									</div>
								</div>
							</div>
						</div>
          				
          			</form>
        		</div>
        		<div class="modal-footer">
          			<button type="button" class="btn btn-default" id="btn_User_M_Edt">Save</button>
          			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
      		</div>
    	</div>
    </div>
    
</div>

<script type="text/javascript">

	var temppass = '';
	//Initial table as global variable
	var table = $('#U_Table').DataTable( {
		  			"bLengthChange": false,
		  			"bDestroy": true,
    				"ajax": {
    						"url"	: "php/SQL/USER/User_Inquiry.php",
    						"type"	: "POST",
    						"dataSrc" : "",
							"data"	:  function(d) {
										d.ACT 	= "INQ",
										d.L_ID	= $('#LID').val(),
										d.Name	= $('#UName').val(),
										d.Group	= $('#UGroup').val()
										}
							},
					"columnDefs": [
           			 			{
                					"targets": [ 0 ],
                					"visible": false,
                					"searchable": false
            					}
            				],
							"columns": [
										{ "data": "USER_ID" },
										{ "data": "LOGIN_ID" },
										{ "data": "NAME" },
										{ "data": "User_Group" },
										{ "data": "ACTIVE" },
										{
               								"data": null,
                							"className": "center",
                							"defaultContent": '<a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Remove</a>'
           								}			
										]
							} );
										
	$(document).ready(function(){
		genGroupList("EG_List");
		genGroupList("UGroup");
		toastr.options = {
				"closeButton": true,
  				"debug": false,
  				"progressBar": false,
  				"preventDuplicates": false,
  				"positionClass": "toast-top-center",
  				"onclick": null,
  				"showDuration": "400",
  				"hideDuration": "1000",
  				"timeOut": "7000",
  				"extendedTimeOut": "1000",
  				"showEasing": "swing",
  				"hideEasing": "linear",
  				"showMethod": "fadeIn",
  				"hideMethod": "fadeOut"
		};
		
		$('#addForm input').each(function(){
			$(this).popover("hide");
			if (this.id == 'A_CPASS' || this.id == 'E_CPASS')
			{	
				
				$(this).on('blur', function() {
					if ( $(this).val() == '')
					{
						$(this).attr("data-content", "Field cannot be empty.");
						$(this).popover("show");
					}
					else if($(this).val() != temppass)
					{
						$(this).attr("data-content", "Password does not match.");
						$(this).popover("show");
					}
					else
					{
						$(this).popover("hide");
					}
				});
			}
			else
			{	
				$(this).on('blur', function() {
					if (this.id == 'A_PASS' || this.id == 'E_PASS')
					{
						temppass = $(this).val();
					}
					if ( $(this).val() == '')
					{
						$(this).popover("show");
					}
					else
					{
						$(this).popover("hide");
					}
				});
			}
		});

       	// Edit record
    	$('#U_Table tbody').on( 'click', 'a.editor_edit', function (event) {
        	event.preventDefault();
        	$('#edtForm input, #edtForm select').each(function(){
    			$(this).popover("hide");
    			if (this.id != 'E_ACTIVE')
    			{
	    			$(this).val('');
	    		}
    		});
        	var loginid = table.row( $(this).parents('tr') ).data().LOGIN_ID;
        	var name = table.row( $(this).parents('tr') ).data().NAME;
        	var ugroup = table.row( $(this).parents('tr') ).data().User_Group;
        	var active = table.row( $(this).parents('tr') ).data().ACTIVE;
        	$("#editModal").modal();
        	$("#E_LGNID").val(loginid);
        	$("#E_NAME").val(name);
        	$("#EG_List option").filter(function() {
				return $(this).text() == ugroup; 
			}).prop('selected', true);
        	if (active == 'Y')
        	{
        		$("#E_ACTIVE").prop('checked', true);
        	}
    	});
 
    	// Delete a record
    	$('#U_Table').on( 'click', 'a.editor_remove', function (e) {
        	event.preventDefault();
        	var loginid = table.row( $(this).parents('tr') ).data().LOGIN_ID;
        	var name = table.row( $(this).parents('tr') ).data().NAME;
        	swal({
                title: "Are you sure to remove the user?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
            	$.ajax({
					"url"	: "php/SQL/USER/Remove_User.php",
   	 				"type"	: "POST",
   	 				"data"  : {
    								"ACT" 		: "INS",
    								"NAME"		: name,
    								"LOGIN_ID"	: loginid
							},
					success: function(data){
						if (data.indexOf("Error") > -1)
						{
							var temp = data.split(":");
							Command: toastr["error"](temp[1]);
						}
						else
						{
							Command: toastr["success"]("User deleted.");
							table.ajax.reload();
						}
					}
				});
            });
    	});
	});
    		
    $('#btn_search').click(function(){
    	//function to reload table when search button press
    	event.preventDefault();
    	clearSession();
    	table.ajax.reload();
    	genGroupList("EG_List");
    });
    
     $('#btn_clear').click(function(event){
     	event.preventDefault();
     	$("input").val("");
     });
    
     $('#btn_add').click(function(event){
    	//function to reload table when search button press
    	event.preventDefault();
    	$('#addModal input').val('');
    	clearSession();
    	$('#addModal').modal();
    	$('#addForm input, #addForm select').each(function(){
    		$(this).popover("hide");
    	});
    	genGroupList("AG_List");
    });
    
    $('#btn_UsrGrp').click(function(event){
    	event.preventDefault();
    	$("#mainContent").load('pages/CONFIG_USER/SDS_UGROUP.html');
    });
    
    $('#LID','#Name').keydown(function(){
    	//enter key function to reload table for search criteria input
    	event.preventDefault();
    	if(e.which ==13)
    	{
    		table.ajax.reload();
    	}
    });
    
    $('#btn_User_M_Add').click(function(){
    	if ($('#A_CPASS').val() == $('#A_PASS').val() && $('#A_CPASS').val() != '' && $('#A_PASS').val() != '' && $('#AG_List').val() != '')
    	{
	    	$.ajax({
					"url"	: "php/SQL/USER/Add_User.php",
   	 				"type"	: "POST",
   	 				"data"  : {
    								"ACT" 		: "INS",
    								"NAME"		: $('#A_NAME').val(),
    								"LOGIN_ID"	: $('#A_LGN_ID').val(),
    								"PASSWORD"	: $('#A_CPASS').val(),
    								"GROUP_ID"	: $('#AG_List').val()
							},
					success: function(data){
						if (data.indexOf("Error") > -1)
						{
							var temp = data.split(":");
							Command: toastr["error"](temp[1]);
						}
						else
						{
							$('#addModal').modal("hide");
							table.ajax.reload();
						}
					}
			});
		}
		else
		{
			$('#addForm input, #addForm select').each(function(){
				if ($(this).val() == '')
				{
					$(this).popover("show");
				}
				else
				{
					$(this).popover("hide");
				}
			});
		}
    });
    
    $('#btn_User_M_Edt').click(function(){
    	if ($('#E_CPASS').val() == $('#E_PASS').val() && $('#E_CPASS').val() != '' && $('#E_PASS').val() != '' && $('#E_OPASS').val() != '' && $('#EG_List').val() != '')
    	{
	    	$.ajax({
					"url"	: "php/SQL/USER/Update_User.php",
   	 				"type"	: "POST",
   	 				"data"  : {
    								"ACT" 		: "INS",
    								"NAME"		: $('#E_NAME').val(),
    								"LOGIN_ID"	: $('#E_LGNID').val(),
    								"OLDPASS"	: $('#E_OPASS').val(),
    								"PASSWORD"	: $('#E_CPASS').val(),
    								"GROUP_ID"	: $('#EG_List').val(),
    								"ACTIVE"	: $('#E_ACTIVE:checked').val()
							},
					success: function(data){
						if (data.indexOf("Error") > -1)
						{
							var temp = data.split(":");
							Command: toastr["error"](temp[1]);
						}
						else
						{
							$('#editModal').modal("hide");
							Command: toastr["success"]("User Updated. ");
							table.ajax.reload();
						}
					}
			});
		}
		else if ($('#EG_List').val() != '')
		{
			$.ajax({
					"url"	: "php/SQL/USER/Update_User.php",
   	 				"type"	: "POST",
   	 				"data"  : {
    								"ACT" 		: "INS",
    								"NAME"		: $('#E_NAME').val(),
    								"LOGIN_ID"	: $('#E_LGNID').val(),
    								"GROUP_ID"	: $('#EG_List').val(),
    								"ACTIVE"	: $('#E_ACTIVE:checked').val()
							},
					success: function(data){
						if (data.indexOf("Error") > -1)
						{
							var temp = data.split(":");
							Command: toastr["error"](temp[1]);
						}
						else
						{
							$('#editModal').modal("hide");
							Command: toastr["success"]("User Updated. ");
							table.ajax.reload();
						}
					}
			});
		}
		else
		{
			$('#edtForm input, #edtForm select').each(function(){
				if ($(this).val() == '')
				{
					$(this).popover("show");
				}
				else
				{
					$(this).popover("hide");
				}
			});
		}
    });
    
    function genGroupList(list)
    {
    	$.ajax({
				"url"	: "php/SQL/USER/Group_Listing.php",
    			"type"	: "POST",
    			"data"  : {
    							"ACT" 	: "INQ"
						},
				success: function(data){
					var ele = $("#"+list);
					ele.empty();
					var emptynode = document.createElement("Option");
					ele.append(emptynode);
					data = JSON.parse(data);
					for (i =0; i < data.length; i++)
					{
						var option = document.createElement("option");
						option.text = data[i].NAME.toString();
						option.value = data[i].NAME.toString();
						ele.append(option);
					}
				}
		});
    }

</script>

<noscript>
</noscript>