<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 13/07/2016	| Added for Manage User Screen Access
	| SDS03		| ChunYong		| 09/08/2017	| Updated with V2 template

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SDS User Accessibility Management</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">Accessibility Management</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" >

	<div class="ibox">

		<!-- Header for searching input-->
		<div class="ibox-title">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-lg-3" for="GName"> Group Name </label>
				<div class="input-group col-lg-8">
					<input type="text" class="form-control" id="GName">
				</div>
			</div>

			<div class="form-group">
				<button class="btn btn-primary btn-md pull-right m-r-md" id="btn_search">Search</button>
			</div>

		</form>
		</div>

		<!-- Search Table-->
		<div class="ibox-content">
			<div class="row">
				<div class="table-responsive col-lg-12">
					<table class="table table-striped table-bordered table-hover" id="G_Table">
						<thead>
							<tr>
								<th>Action</th>
								<th>Group ID</th>
								<th>Group Name</th>
								<th>Description</th>
							</tr>
						</thead>
					</table>
					<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
						<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
							<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
							<div>S</div>
							<div>D</div>
							<div>S</div>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	//Initial table as global variable
	var table ;

	$(document).ready(function(){
		clearSession();
		genTable();
  	// View Detail
  	$('#G_Table').on( 'click', 'a.editor_view', function (e) {
      	event.preventDefault();
      	sessionStorage.GROUP_ID = table.row( $(this).parents('tr') ).data().GROUP_ID;
      	sessionStorage.NAME = table.row( $(this).parents('tr') ).data().NAME;
      	sessionStorage.DESC = table.row( $(this).parents('tr') ).data().DESCRIPTION;
      	$("#mainContent").load('pages/CONFIG_MENUACCS/SDS_ACCESS.html');
  	});
	});

    $('#btn_search').click(function(){
    	//function to reload table when search button press
    	event.preventDefault();
    	clearSession();
    	genTable();
    });

		function genTable(){
			var loader = new SVGLoader( document.getElementById( 'loader' ), { speedIn : 500, easingIn : mina.easeinout } );
			loader.show();
			triggerAjax({
				method 	: "POST",
				data 		: {
							GName	: $('#GName').val()
				},
				script_id: "Group Access Search"
			}, function(data){
				table = $('#G_Table').DataTable( {
									"lengthChange": false,
									"destroy": true,
									"data"	 : data.Data,
									"columnDefs": [
										{
											"targets": [ 1 ],
											"visible": false,
											"searchable": false
										}
										],
										"columns": [
													{
														"data": null,
														"className": "text-center",
														"defaultContent": '<a href="" title="View" class="btn btn-xs btn-primary editor_view"> <i class="fa fa-search"> </i></a>'
													},
													{ "data": "GROUP_ID" },
													{ "data": "NAME" },
													{ "data": "DESCRIPTION" }
											],
										"initComplete" : function(settings, json) {
													loader.hide();
										}
									});
			});
		}

</script>
