<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 13/07/2016	| Added for Manage Menu Access
	| SDS03		| ChunYong		| 09/08/2017 	| Updated with V2 template

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SDS User Accessibility Management</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">Accessibility Management</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" >

	<div class="ibox">
		<div class="ibox-content">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-lg-3"> Group Name </label>
					<div class="col-lg-2">
						<p class="form-control-static" id="NAME"></p>
					</div>
					<label class="control-label col-lg-2"> Description </label>
					<div class="col-lg-2">
						<p class="form-control-static" id="DESC"></p>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="ibox">
		<div class="ibox-title">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-lg-4"> System </label>
					<div class="input-group col-lg-3">
						<select class="form-control" id="SYS_T">
							<option></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-primary col-lg-1 col-lg-offset-10" id="btn_add">Add</button>
				</div>
			</form>
		</div>

		<div class="ibox-content">
			<div class="row">
				<div class="table-responsive col-lg-12">
					<table class="table table-striped table-bordered table-hover dataTables-example" id="A_Table">
						<thead>
							<tr>
								<th>Menu ID</th>
								<th>Menu Title</th>
								<th>Remove</th>
							</tr>
						</thead>
					</table>
					<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
						<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
							<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
							<div>S</div>
							<div>D</div>
							<div>S</div>
						</svg>
					</div>
				</div>
			</div>
		</div>

		<div class="ibox-footer">
			<div class="row">
				<button class="btn btn-primary col-lg-1 pull-right" id="btn_back">Back</button>
			</div>
		</div>
	</div>

	<div class="modal inmodal" id="addModal" role="dialog">
    	<div class="modal-dialog">

      		<!-- Modal content-->
      		<div class="modal-content animated fadeIn">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">Add Menu</h4>
        		</div>
        		<div class="modal-body">
          			<form class="form-horizontal" id="addForm" role="form">
          				<div class="form-group">
          					<label class="control-label col-lg-4"> Menu </label>
          					<div class="input-group col-lg-3">
								<select class="form-control" id="MENU_LIST">
									<option></option>
								</select>
							</div>
          				</div>
          			</form>
        		</div>
        		<div class="modal-footer">
          			<button type="submit" class="btn btn-default" id="btn_Acc_M_Add">Add</button>
          			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
      		</div>
    	</div>
    </div>
</div>

<script type="text/javascript">

	//Initial table as global variable
	var table = $('#A_Table').DataTable( {
		  			"bLengthChange": false,
		  			"bDestroy": true,
		  			"aaSorting": [],
    				"ajax": {
    						"url"	: "PHP/SQL/ACCESS/MenuAcc_Inquiry.php",
    						"type"	: "POST",
    						"dataSrc" : "",
							"data"	:  function(d) {
										d.ACT 		= "INQ",
										d.GROUP_ID 	= sessionStorage.GROUP_ID,
										d.SYS		= $('#SYS_T').val()
										}
							},
							"columns": [
										{ "data": "MENU_ID" },
										{ "data": "MENU_TITLE" },
										{
               								"data": null,
                							"className": "center",
                							"defaultContent": '<a href="" class="editor_remove">Remove</a>'
           								}
									]
							});

	$(document).ready(function(){
		$("#NAME").text(sessionStorage.NAME);
		$("#DESC").text(sessionStorage.DESC);
		genGroupList();
		genTable();

    // Delete a record
    $('#A_Table').on( 'click', 'a.editor_remove', function (e) {
      event.preventDefault();
      var menuid = table.row( $(this).parents('tr') ).data().MENU_ID;
      swal({
        title: "Are you sure to remove the menu from the group?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        closeOnConfirm: true
      }, function () {
					triggerAjax({
						method 	: "POST",
						data		: {
    							"MENU_ID"	: menuid,
    							"GROUP_ID"	: sessionStorage.GROUP_ID,
    							"SYS"		: sessionStorage.SYS
						},
						script_id: "Remove Menu Access"
					}, function(data){
							if (data.Status == 'AB'){
								Command: toastr["error"](data.Data);
							}
							else{
								Command: toastr["success"](data.Data);
								genTable();
							}
					});
        });
    	});
	});

  $('#btn_add').click(function(event){
    //function to reload table when search button press
    event.preventDefault();
    if ($("#SYS_T").val() != '')
    {
			triggerAjax({
				method 	: "POST",
				data	 	: {
							"SYS_T" 	: sessionStorage.SYS,
							"GROUP_ID"	: sessionStorage.GROUP_ID
				},
				script_id: "Menu List"
			}, function(data){
				var ele = $("#MENU_LIST");
				ele.empty();
				var emptynode = document.createElement("Option");
				ele.append(emptynode);
				for (i =0; i < data.Data.length; i++)
				{
					var option = document.createElement("option");
					option.text = data.Data[i].MENU_TITLE.toString();
					option.value = data.Data[i].MENU_ID.toString();
					ele.append(option);
				}
				$('#addModal input').val('');
				$('#addModal').modal();
				$('#addForm input').each(function(){
					$(this).popover("hide");
				});
			});
		}
		else
		{
			Command: toastr["warning"]("Please select a system... System cannot be empty");
		}
    });

    $("#SYS_T").change(function(){
    	sessionStorage.SYS = $("#SYS_T").val();
    	genTable();
    });

    $('#btn_back').click(function(event){
    	$("#mainContent").load("pages/CONFIG_MENUACCS/SDS_GROUP.html");
    });

    $('#btn_Acc_M_Add').click(function(){
    	if ($('#MENU_LIST').val() != '')
    	{
				triggerAjax({
					method 	: "POST",
					data		: {
								"GROUP_ID"	: sessionStorage.GROUP_ID,
								"MENU_ID"	: $("#MENU_LIST").val(),
								"SYS"		: sessionStorage.SYS
					},
					script_id: "Add Menu Access"
				}, function(data){
						if (data.Status == 'AB'){
							Command: toastr["error"](data.Data);
						}
						else{
							$('#addModal').modal("hide");
							Command: toastr["success"](data.Data);
							genTable();
						}
				});
		}
		else
		{
			Command: toastr["error"]("Menu cannot be empty!!");
		}
    });

		function genTable(){
			var loader = new SVGLoader( document.getElementById( 'loader' ), { speedIn : 500, easingIn : mina.easeinout } );
			loader.show();
			triggerAjax({
				method 	: "POST",
				data 		: {
							"GROUP_ID" 	: sessionStorage.GROUP_ID,
							"SYS"				: $('#SYS_T').val()
				},
				script_id: "Menu Access Search"
			}, function(data){
				table = $('#A_Table').DataTable( {
				  			"lengthChange": false,
				  			"destroy": true,
				  			"sorting": [],
		    				"data"	 : data.Data,
								"columns": [
											{
												"data": null,
												"className": "text-center",
												"defaultContent": '<a href="" title="Remove" class="btn btn-xs btn-primary editor_remove"><i class="fa fa-trash"> </i></a>'
											},
											{ "data": "MENU_ID" },
											{ "data": "MENU_TITLE" }
								],
								"initComplete" : function(settings, json) {
											loader.hide();
								}
						});
			});
		}

    function genGroupList()
    {
			triggerAjax({
				method 	: "POST",
				script_id: "Menu System List"
			}, function(data){
				var ele = $("#SYS_T");
				ele.empty();
				var emptynode = document.createElement("Option");
				ele.append(emptynode);
				for (i =0; i < data.Data.length; i++)
				{
					var option = document.createElement("option");
					option.text = data.Data[i].SYS.toString();
					option.value = data.Data[i].SYS.toString();
					ele.append(option);
				}
			});
    }
</script>
