<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 18/04/2016	| Added for Manage User Screen
	| SDS03		| ChunYong		| 22/04/2017	| Update some UI Class and Edit form Password Validation
	| SDS04		| ChunYong		| 08/08/2017	| Update for V2 Template

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SDS User Management</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">User Management</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" >

	<div class="ibox">

		<!-- Header for searching input-->
		<div class="ibox-title">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-lg-3" for="LID"> Login ID </label>
					<div class="input-group col-lg-5">
						<input type="text" class="form-control" id="LID">
					</div>

					<label class="control-label col-lg-3" for="UName"> Name </label>
					<div class="input-group col-lg-5">
						<input type="text" class="form-control" id="UName">
					</div>

					<label class="control-label col-lg-3" for="UGroup"> Group </label>
					<div class="input-group col-lg-3">
						<select class="form-control" id="UGroup" >
	          	<option> </option>
	          </select>
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-md pull-right m-r-sm" id="btn_search">Search</button>
					<button class="btn btn-primary btn-md pull-right m-r-sm" id="btn_clear">Clear</button>
					<button class="btn btn-primary btn-md pull-right m-r-sm" id="btn_UsrGrp">User Group</button>
					<button class="btn btn-primary btn-md pull-right m-r-sm" id="btn_add">Add</button>
				</div>
			</form>
		</div>

		<!-- Search Table-->
		<div class="ibox-content">
			<div class="row">
				<div class="table-responsive col-lg-12" >
					<table class="table table-striped table-bordered table-hover" id="U_Table">
						<thead>
							<tr>
								<th>Action</th>
								<th>User ID</th>
								<th>Login ID</th>
								<th>Name</th>
								<th>User Group</th>
								<th>Active</th>
							</tr>
						</thead>
					</table>
					<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
						<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
							<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
							<div>S</div>
							<div>D</div>
							<div>S</div>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" id="addModal" role="dialog">
    	<div class="modal-dialog">
      		<!-- Modal content-->
      		<div class="modal-content animated fadeIn">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">Add User</h4>
        		</div>
        		<div class="modal-body">
          			<form class="form-horizontal" id="addForm" role="form">
          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> Login ID </label>
										<div class="col-lg-8">
          						<input class="form-control" type="text" id="A_LGN_ID" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> Name </label>
										<div class="col-lg-8">
          						<input class="form-control" type="text" id="A_NAME"> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> Password </label>
										<div class="col-lg-8">
          						<input class="form-control" id="A_PASS" name="A_PASS" type="password" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> Confirm Password </label>
										<div class="col-lg-8">
          						<input class="form-control" id="A_CPASS" name="A_CPASS" type="password" data-toggle="popover" data-placement="right" data-content=""> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> User Group </label>
										<div class="col-lg-5">
          						<select class="form-control col-lg-5" id="AG_List" data-toggle="popover" data-placement="right" data-content="Field cannot be empty.">
          							<option> </option>
          						</select>
										</div>
          				</div>

          			</form>
        		</div>
        		<div class="modal-footer">
          			<button type="submit" class="btn btn-primary" id="btn_User_M_Add">Add</button>
          			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        		</div>
      		</div>
    	</div>
    </div>

    <div class="modal inmodal" id="editModal" role="dialog">
    	<div class="modal-dialog">

      		<!-- Modal content-->
      		<div class="modal-content animated fadeIn">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">Edit User</h4>
        		</div>
        		<div class="modal-body">
          			<form class="form-horizontal" id="edtForm" role="form">
          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> Login ID </label>
										<div class="col-lg-8">
          						<input class="form-control" id="E_LGNID" disabled> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> Name </label>
										<div class="col-lg-8">
          						<input class="form-control" type="text" id="E_NAME"> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> Old Password </label>
										<div class="col-lg-8">
          						<input class="form-control" id="E_OPASS" type="password" name="E_OPASS" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> New Password </label>
										<div class="col-lg-8">
          						<input class="form-control" id="E_PASS" type="password" name="E_PASS" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> Confirm Password </label>
										<div class="col-lg-8">
          						<input class="form-control" id="E_CPASS" type="password" name="E_CPASS" data-toggle="popover" data-placement="right" data-content=""> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> User Group </label>
										<div class="col-lg-5">
          						<select class="form-control" id="EG_List" data-toggle="popover" data-placement="right" data-content="Field cannot be empty.">
          							<option> </option>
          						</select>
										</div>
          				</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> User Active </label>
          					<div class="col-lg-5">
          						<label class="control-label"> <input id="E_ACTIVE" type="checkbox" value="Y"> Active </label>
          					</div>
          				</div>

						<div class="form-group">
							<div class="vertical-container dark-timeline">
								<div class="vertical-timeline-block">
									<div class="vertical-timeline-icon gray-bg">
										<i class="fa fa-file-text-o"></i>
									</div>
									<div class="vertical-timeline-content">
										<p class="text-info">
											All Password field can be empty if not going to change user password.
										</p>
									</div>
								</div>
							</div>
						</div>

          			</form>
        		</div>
        		<div class="modal-footer">
          			<button type="button" class="btn btn-primary" id="btn_User_M_Edt">Save</button>
          			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        		</div>
      		</div>
    	</div>
    </div>

</div>

<script type="text/javascript">

	var temppass = '';
	var table;
	//Initial table as global variable

	$(document).ready(function(){
		genGroupList("EG_List");
		genGroupList("UGroup");
		genTable();
		$('#addForm input').each(function(){
			$(this).popover("hide");
			if (this.id == 'A_CPASS')
			{
				$(this).on('blur', function() {
					if ( $(this).val() == '')
					{
						$(this).attr("data-content", "Field cannot be empty.");
						$(this).popover("show");
					}
					else if($(this).val() != temppass)
					{
						$(this).attr("data-content", "Password does not match.");
						$(this).popover("show");
					}
					else
					{
						$(this).popover("hide");
					}
				});
			}
			else
			{
				$(this).on('blur', function() {
					if (this.id == 'A_PASS')
					{
						temppass = $(this).val();
					}
					if ( $(this).val() == '')
					{
						$(this).popover("show");
					}
					else
					{
						$(this).popover("hide");
					}
				});
			}
		});

		$('#edtForm input').each(function(){
			$(this).popover("hide");
			$(this).on('blur', function() {
				if ($("#E_OPASS").val() == '' && $("#E_PASS").val() == '' && $("#E_CPASS").val() == ''){
					$("#E_OPASS").popover("hide");
					$("#E_PASS").popover("hide");
					$("#E_CPASS").popover("hide");
				}
			});
			if (this.id == 'E_CPASS')
			{
				$(this).on('blur', function() {
					if ( $(this).val() == '')
					{
						$(this).attr("data-content", "Field cannot be empty.");
						$(this).popover("show");
					}
					else if($(this).val() != temppass)
					{
						$(this).attr("data-content", "Password does not match.");
						$(this).popover("show");
					}
					else
					{
						$(this).popover("hide");
					}
				});
			}
			else
			{
				$(this).on('blur', function() {
					if (this.id == 'E_PASS')
					{
						temppass = $(this).val();
					}
					if ( $(this).val() == '')
					{
						$(this).popover("show");
					}
					else
					{
						$(this).popover("hide");
					}
				});
			}
		});

       	// Edit record
    	$('#U_Table').on( 'click', 'a.editor_edit', function (event) {
        	event.preventDefault();
        	$('#edtForm input, #edtForm select').each(function(){
    			$(this).popover("hide");
    			if (this.id != 'E_ACTIVE')
    			{
	    			$(this).val('');
	    		}
    		});
        	var loginid = table.row( $(this).parents('tr') ).data().LOGIN_ID;
        	var name = table.row( $(this).parents('tr') ).data().NAME;
        	var ugroup = table.row( $(this).parents('tr') ).data().USER_GROUP;
        	var active = table.row( $(this).parents('tr') ).data().ACTIVE;
        	$("#editModal").modal();
        	$("#E_LGNID").val(loginid);
        	$("#E_NAME").val(name);
        	$("#EG_List option").filter(function() {
				return $(this).text() == ugroup;
			}).prop('selected', true);
        	if (active == 'Y')
        	{
        		$("#E_ACTIVE").prop('checked', true);
        	}
    	});

    	// Delete a record
    	$('#U_Table').on( 'click', 'a.editor_remove', function (event) {
        	event.preventDefault();
        	var loginid = table.row( $(this).parents('tr') ).data().LOGIN_ID;
        	var name = table.row( $(this).parents('tr') ).data().NAME;
        	swal({
                title: "Are you sure to remove the user?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
							triggerAjax({
								method 	: "POST",
								data		: {
		    								"NAME"		: name,
		    								"LOGIN_ID"	: loginid
								},
								script_id : "Remove User"
							}, function(data){
								if (data.Status == 'AB'){
									Command: toastr["error"](data.Data);
								}
								else{
									Command: toastr["success"]("User deleted.");
									genTable();
								}
							});
          });
    	});
	});

    $('#btn_search').click(function(){
    	//function to reload table when search button press
    	event.preventDefault();
    	clearSession();
    	genTable();
    	genGroupList("EG_List");
    });

     $('#btn_clear').click(function(event){
     	event.preventDefault();
     	$("input").val("");
     });

     $('#btn_add').click(function(event){
    	//function to reload table when search button press
    	event.preventDefault();
    	$('#addModal input').val('');
    	clearSession();
    	$('#addModal').modal();
    	$('#addForm input, #addForm select').each(function(){
    		$(this).popover("hide");
    	});
    	genGroupList("AG_List");
    });

    $('#btn_UsrGrp').click(function(event){
    	event.preventDefault();
    	$("#mainContent").load('pages/CONFIG_USER/SDS_UGROUP.html');
    });

    $('#btn_User_M_Add').click(function(){
    	if ($('#A_CPASS').val() == $('#A_PASS').val() && $('#A_CPASS').val() != '' && $('#A_PASS').val() != '' && $('#AG_List').val() != '')
    	{
				triggerAjax({
					method 	: "POST",
					data 		: {
									"NAME"		: $('#A_NAME').val(),
									"LOGIN_ID"	: $('#A_LGN_ID').val(),
									"PASSWORD"	: $('#A_CPASS').val(),
									"GROUP_ID"	: $('#AG_List').val()
					},
					script_id: "Add User"
				}, function(data){
					if (data.Status == 'AB'){
						Command: toastr["error"](data.Data);
					}
					else{
						$('#addModal').modal("hide");
						Command: toastr["success"](data.Data);
						genTable();
					}
				});
		}
		else
		{
			$('#addForm input, #addForm select').each(function(){
				if ($(this).val() == '')
				{
					$(this).popover("show");
				}
				else
				{
					$(this).popover("hide");
				}
			});
		}
    });

    $('#btn_User_M_Edt').click(function(){
    	if ($('#E_CPASS').val() == $('#E_PASS').val() && $('#E_CPASS').val() != '' && $('#E_PASS').val() != '' && $('#E_OPASS').val() != '' && $('#EG_List').val() != '')
    	{
				updateUser({
						NAME			: $('#E_NAME').val(),
						LOGIN_ID	: $('#E_LGNID').val(),
						OLDPASS		: $('#E_OPASS').val(),
						PASSWORD	: $('#E_CPASS').val(),
						GROUP_ID	: $('#EG_List').val(),
						ACTIVE		: $('#E_ACTIVE:checked').val()
				});
		}
		else if ($('#EG_List').val() != '')
		{
			updateUser({
				NAME			: $('#E_NAME').val(),
				LOGIN_ID	: $('#E_LGNID').val(),
				GROUP_ID	: $('#EG_List').val(),
				ACTIVE		: $('#E_ACTIVE:checked').val()
			});
		}
		else
		{
			$('#edtForm input, #edtForm select').each(function(){
				if ($(this).val() == '')
				{
					$(this).popover("show");
				}
				else
				{
					$(this).popover("hide");
				}
			});
		}
    });

		function genTable(){
			var loader = new SVGLoader( document.getElementById( 'loader' ), { speedIn : 500, easingIn : mina.easeinout } );
			loader.show();
			var postdata = {
				L_ID	: $('#LID').val(),
				Name	: $('#UName').val(),
				Group	: $('#UGroup').val()
			};
			triggerAjax({
				method	 : "POST",
				data		 : postdata,
				script_id: "User Search"
			}, function(data){
				var contdata;
				var lang;
				if (data.Status == 'AB'){
					contdata = [];
					lang = data.Data;
				}
				else{
					contdata = data.Data;
					lang = 'No data available in table';
				}
				table = $('#U_Table').DataTable( {
					  				"lengthChange": false,
					  				"destroy": true,
			    					"data" : contdata,
										"columnDefs": [
			           			 			{
			                					"targets": [ 1 ],
			                					"visible": false,
			                					"searchable": false
			            					}
			            				],
										"columns": [
													{
															"data": null,
															"className": "text-center",
															"defaultContent": '<a href="" title="Edit" class="btn btn-primary btn-xs m-r-xs editor_edit"><i class="fa fa-pencil"> </i></a> <a href="" title="Remove" class="btn btn-primary btn-xs editor_remove"><i class="fa fa-trash-o"> </i></a>'
													},
													{ "data": "USER_ID" },
													{ "data": "LOGIN_ID" },
													{ "data": "NAME" },
													{ "data": "USER_GROUP" },
													{ "data": "ACTIVE" }
												],
										"Language" : {
												"emptyTable" : lang
											},
										"initComplete" : function(settings, json) {
													loader.hide();
										}
									});
			});
		}

		function updateUser(postdata){
			triggerAjax({
				method	 : "POST",
				data		 : postdata,
				script_id: "Update User"
			}, function(data){
				if (data.Status == 'AB'){
					Command: toastr["error"](data.Data);
				}
				else{
					$('#editModal').modal("hide");
					Command: toastr["success"](data.Data);
					genTable();
				}
			});
		}

    function genGroupList(list)
    {
			triggerAjax({
				method	 : "POST",
				script_id: "User Group List"
			}, function(data){
				if (data.Status == 'AA' && data.Data.length > 0){
					var ele = $("#"+list);
					ele.empty();
					var emptynode = document.createElement("Option");
					ele.append(emptynode);
					for (i =0; i < data.Data.length; i++)
					{
						var option = document.createElement("option");
						option.text = data.Data[i].NAME.toString();
						option.value = data.Data[i].NAME.toString();
						ele.append(option);
					}
				}
			});
    }

</script>
