<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 18/04/2016	| Added for Manage User Screen
	| SDS03		| ChunYong		| 22/04/2017	| Update some UI Class
	| SDS04		| ChunYong		| 09/08/2017	| Update V2 tempplate

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SDS User Management</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">User Management</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" >

	<div class="ibox">

		<!-- Header for searching input-->
		<div class="ibox-title">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-lg-3" for="GName"> Group Name </label>
					<div class="input-group col-lg-6">
						<input type="text" class="form-control" id="GName">
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-md pull-right m-r-sm" id="btn_search">Search</button>
					<button class="btn btn-primary btn-md pull-right m-r-sm" id="btn_UsrGrp">User</button>
					<button class="btn btn-primary btn-md pull-right m-r-sm" id="btn_add">Add</button>
				</div>

			</form>
		</div>

		<!-- Search Table-->
		<div class="ibox-content">
			<div class="row">
				<div class="table-responsive col-lg-12">
					<table class="table table-striped table-bordered table-hover" id="G_Table">
						<thead>
							<tr>
								<th>Action</th>
								<th>Group Name</th>
								<th>Description</th>
							</tr>
						</thead>
					</table>
					<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
						<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
							<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
							<div>S</div>
							<div>D</div>
							<div>S</div>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" id="addModal" role="dialog">
    	<div class="modal-dialog">

      		<!-- Modal content-->
      		<div class="modal-content animated fadeIn">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">Add New Group</h4>
        		</div>
        		<div class="modal-body">
          			<form class="form-horizontal" id="addForm" role="form">
          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3"> Group Name </label>
										<div class="col-lg-5">
          						<input class="form-control" id="A_G_NAME"> </input>
										</div>
									</div>

          				<div class="form-group form-group-sm">
          					<label class="control-label col-lg-3">Description</label>
										<div class="col-lg-8">
          						<input class="form-control" id="DESC"> </input>
										</div>
									</div>
          			</form>
        		</div>
        		<div class="modal-footer">
          			<button type="submit" class="btn btn-primary" id="btn_Grp_M_Add">Add</button>
          			<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        		</div>
      		</div>
    	</div>
    </div>
</div>

<script type="text/javascript">

	//Initial table as global variable
	var table;
	$(document).ready(function(){
			genTable();
    	// Delete a record
    	$('#G_Table').on( 'click', 'a.editor_remove', function (e) {
        	event.preventDefault();
        	var name = table.row( $(this).parents('tr') ).data().NAME;
        	swal({
                title: "Are you sure to remove the Group?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
							triggerAjax({
								method 	: "POST",
								data 		: {
									"NAME"		: name
								},
								script_id: "Remove User Group"
							}, function(data){
								if (data.Status == 'AB'){
									Command: toastr["error"](data.Data);
								}
								else{
									Command: toastr["success"](data.Data);
									genTable();
								}
							});
          });
    	});
	});

    $('#btn_search').click(function(){
    	//function to reload table when search button press
    	event.preventDefault();
    	clearSession();
    	genTable();
    });

     $('#btn_clear').click(function(event){
     	event.preventDefault();
     	$("input").val("");
     });

     $('#btn_add').click(function(event){
    	//function to reload table when search button press
    	event.preventDefault();
    	$('#addModal input').val('');
    	clearSession();
    	$('#addModal').modal();
    	$('#A_CPASS').popover("hide");
    	$('#A_PASS').popover("hide");
    	genGroupList("AG_List");
    });

    $('#btn_UsrGrp').click(function(event){
    	event.preventDefault();
    	$("#mainContent").load('pages/CONFIG_USER/SDS_USER.html');
    });

    $('#btn_Grp_M_Add').click(function(){
			triggerAjax({
				method	 : "POST",
				data		 : {
					"NAME"	: $('#A_G_NAME').val(),
					"DESC"	: $('#DESC').val()
				},
				script_id: "Add User Group"
			}, function(data){
				if (data.Status == 'AB'){
					Command: toastr["error"](data.Data);
				}
				else{
					$('#addModal').modal("hide");
					Command: toastr["success"](data.Data);
					genTable();
				}
			});
    });

		function genTable(){
			var loader = new SVGLoader( document.getElementById( 'loader' ), { speedIn : 500, easingIn : mina.easeinout } );
			loader.show();
			triggerAjax({
				method	 : "POST",
				data		 : {
					GName	: $('#GName').val()
				},
				script_id: "User Group Search"
			}, function(data){
				table = $('#G_Table').DataTable( {
					  			"lengthChange": false,
					  			"destroy": true,
									"data" 	 : data.Data,
									"columns": [
											{
												"data": null,
												"className": "text-center",
												"defaultContent": '<a href="" title="Remove" class="btn btn-primary btn-xs editor_remove"><i class="fa fa-trash"> </i></a>'
										 	},
											{ "data": "NAME" },
											{ "data": "DESCRIPTION" }
									],
									"initComplete" : function(settings, json) {
												loader.hide();
									}
							});
			});
		}

</script>
