<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 05/04/2016	| Added for Transaction Search (Response container)

	======================================================================================

-->

<!-- ContentBody -->
<div class="ibox float-e-margin" >
	<!-- container body for response message-->
	<div class="ibox-title">
		<h3> Response </h3>
	</div>

	<div class="ibox-content">
		<form class="form-horizontal">

			<div class="form-group" style="background-color:#935347;display:none;" id="RSErrMSG">
				<h4 style="color:#f6f1ed;text-align:center;"> No Record Found </h4>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Date</label>
				<div class="col-sm-4">
					<p class="form-control-static" id="RS_D">  </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Time</label>
				<div class="col-sm-4 b-r">
					<p class="form-control-static" id="RS_T">  </p>
				</div>
				<div class="col-sm-1">
					<p class="form-control-static" id="RS_Tims"> </p>
				</div>
				<label class="control-label col-sm-1">(ms)</label>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">IP Address</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RS_IP"> </p>
				</div>

				<label class="control-label col-sm-4">Port</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RS_Port"> </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Response Code</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RS_CD"> </p>
				</div>

				<label class="control-label col-sm-4">Host Status</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RS_HSTS"> </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Cookie</label>
				<div class="col-sm-8">
					<p class="form-control-static" id="RS_CKIE"> </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Set Cookie</label>
				<div class="col-sm-8">
					<p class="form-control-static" id="RS_SCKIE">  </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Content Type</label>
				<div class="col-sm-8">
					<p class="form-control-static" id="RS_CType"> </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Content Encode</label>
				<div class="col-sm-8">
					<p class="form-control-static" id="RS_CEnc"> </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Header Length</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RS_HDL"> </p>
				</div>
				<label class="control-label col-sm-4">Body Length</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RS_BDL"> </p>
				</div>
			</div>

			<div class="form-group">
				<details class="col-sm-12">
					<summary class="control-label col-sm-12" style="text-align:left">Header Data</summary>
					<div class="form-control-static col-sm-11 col-sm-offset-1" id="RS_HDT"> </div>
				</details>
			</div>
		</form>
	</div>

</div>

<script type="text/javascript">

	$(document).ready(function(){
		$.ajax({
				"url"	: "PHP/SQL/LOG/RS_Transaction.php",
    			"type"	: "POST",
    			"data"  : {
    							"ACT" 		: "INQ",
								"RRref"		: sessionStorage.ref_conn,
								"RReq"		: sessionStorage.ref_reqs,
								"RNode"		: sessionStorage.ref_node,
								"Date"		: sessionStorage.date_reqs,
								"servername": sessionStorage.server_name
							},
				success: function(data){
					data = JSON.parse(data);
					if (data.length > 0 )
					{
						$('#RS_D').text(formatDate(data[0].date_resp));
						$('#RS_T').text(formatTime(data[0].time_resp));
						$('#RS_Tims').text(data[0].tims_resp);
						$('#RS_IP').text(data[0].remote_ip);
						$('#RS_Port').text(data[0].remote_port);
						$('#RS_CD').text(data[0].respcd);
						$('#RS_CKIE').text(data[0].cookie);
						$('#RS_SCKIE').text(data[0].set_cookie);
						$('#RS_CType').text(data[0].content_type);
						$('#RS_CEnc').text(data[0].content_encode);
						$('#RS_HDL').text(data[0].len_hdr);
						$('#RS_BDL').text(data[0].len_bdy);

						var arrEle = data[0].dta_hdr.split("\n");
						genHeaderSum(arrEle);
					}
					else
					{
						$("#RSErrMSG").show();
					}
				}
		});

		function genHeaderSum(arrEle)
		{
			var hdrDta = document.getElementById("RS_HDT");
			var temp = '<p style="word-wrap: break-word;">' + arrEle[0] + '</p>';
			hdrDta.innerHTML +=  temp;

			for (i = 1; i < arrEle.length; i ++)
			{
				var subArrEle = arrEle[i].split(/:(.+)/);
				for (j = 0; j < subArrEle.length ; j +=2 )
				{
					if (typeof subArrEle[j] != 'undefined' && typeof subArrEle[j + 1] != 'undefined' && subArrEle[j] != '' && subArrEle[j + 1] != '')
					{
						var temp2 = "<dt>" + subArrEle[j] + "</dt>";
						temp2 = temp2 + '<p style="word-wrap: break-word;">' + subArrEle[j + 1] + '</p><br>';
						hdrDta.innerHTML +=  temp2;
						temp2 = '';
					}
				}
			}
		}
	});

</script>
