<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 05/04/2016	| Added for Transaction Search(Request Container)
	| SDS03		| ChunYong		| 20/07/2017  | Update for v2

	======================================================================================

-->

<!-- ContentBody -->
<div class="panel">
	<div class="panel-body">
		<div class="row col-lg-12">
			<div class="col-lg-6 col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h4> Request </h4>
					</div>
					<div class="panel-body rq_box">
						<form class="form-horizontal">
							<div class="form-group hidden http-error-box">
								<h3 class="text-center"> No Record Found </h3>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Date</label>
								<div class="col-lg-4 col-md-4">
									<p class="form-control-static" id="date_reqs">  </p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Time</label>
								<div class="col-lg-4 col-md-4 b-r">
									<p class="form-control-static" id="time_reqs">  </p>
								</div>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static text-right" id="tims_reqs">  </p>
								</div>
								<label class="control-label col-lg-1 col-md-1">(ms)</label>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">IP Address</label>
								<div class="col-lg-3 col-md-3">
									<p class="form-control-static" id="remote_ip">  </p>
								</div>

								<label class="control-label col-lg-3 col-md-3">Port</label>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static" id="remote_port">  </p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">User Agent</label>
								<div class="col-lg-8 col-md-8">
									<p class="form-control-static" id="user_agent">  </p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Cookie</label>
								<div class="col-lg-8 col-md-8">
									<p class="form-control-static" id="cookie"> </p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Header Length</label>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static" id="len_hdr"> </p>
								</div>
								<label class="control-label col-lg-4 col-md-4">Body Length</label>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static" id="len_bdy"> </p>
								</div>
							</div>

							<div class="form-group">
								<details class="col-lg-12 col-md-12">
									<summary class="col-lg-12 col-md-12 text-left">Header Data</summary>
									<div class="form-control-static col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1" id="dta_hdr"> </div>
								</details>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h4> Response </h4>
					</div>
					<div class="panel-body rs_box">
						<form class="form-horizontal">
							<div class="form-group hidden http-error-box ">
								<h3 class="text-center "> No Record Found </h3>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Date</label>
								<div class="col-lg-4 col-md-4">
									<p class="form-control-static" id="date_resp">  </p>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Time</label>
								<div class="col-lg-4 col-md-4 b-r">
									<p class="form-control-static" id="time_resp">  </p>
								</div>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static text-right" id="tims_resp"> </p>
								</div>
								<label class="control-label col-lg-1 col-md-1">(ms)</label>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">IP Address</label>
								<div class="col-lg-3 col-md-3">
									<p class="form-control-static" id="remote_ip"> </p>
								</div>

								<label class="control-label col-lg-3 col-md-3">Port</label>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static" id="remote_port"> </p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Response Code</label>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static" id="respcd"> </p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Cookie</label>
								<div class="col-lg-8 col-md-8">
									<p class="form-control-static" id="cookie"> </p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Set Cookie</label>
								<div class="col-lg-8 col-md-8">
									<p class="form-control-static" id="set_cookie">  </p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Content Type</label>
								<div class="col-lg-8 col-md-8">
									<p class="form-control-static" id="content_type"> </p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Content Encode</label>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static" id="content_encode"> </p>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-lg-4 col-md-4">Header Length</label>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static" id="len_hdr"> </p>
								</div>
								<label class="control-label col-lg-4 col-md-4">Body Length</label>
								<div class="col-lg-2 col-md-2">
									<p class="form-control-static" id="len_bdy"> </p>
								</div>
							</div>
							<div class="form-group">
								<details class="col-lg-12 col-md-12">
									<summary class="col-lg-12 col-md-12 text-left">Header Data</summary>
									<div class="form-control-static col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1" id="dta_hdr"> </div>
								</details>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="rqrsloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
			<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
				<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
				<div>S</div>
				<div>D</div>
				<div>S</div>
			</svg>
		</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var rqrsloader;
	$(document).ready(function(){
		var rqrsloader = initLoader('rqrsloader');
		rqrsloader.show();
		var postdata = {
			ref_conn : sessionStorage.ref_conn,
			ref_reqs : sessionStorage.ref_reqs,
			ref_node : sessionStorage.ref_node,
			date_logd : sessionStorage.date_reqs,
			server_name : sessionStorage.server_name
		};

		rqrspdata = triggerAjax({
				script_id : "Request Detail",
				data : postdata,
				method : 'POST'
			},function(data){
				if (data.Status == 'AA'){
					if (data.Data.length > 0 ){
						var key= [];
						for (name in data.Data[0]){
							if (name != 'dta_hdr'){
								key.push(name);
							}
						}
						for (var i = 0; i < key.length; i ++){
							$(".rq_box #" + key[i]).text(data.Data[0][key[i]]);
						}
						var temp = data.Data[0].dta_hdr.split('\n');
						genHeaderSum(temp, '.rq_box #dta_hdr');
					}
				}
			});

		rsrspdata = triggerAjax({
				script_id : "Response Detail",
				method : "POST",
				data : postdata
			},function(data){
				if (data.Status == 'AA'){
					if (data.Data.length > 0 ){
						var key= [];
						for (name in data.Data[0]){
							if (name != 'dta_hdr'){
								key.push(name);
							}
						}
						for (var i = 0; i < key.length; i ++){
							$(".rs_box #" + key[i]).text(data.Data[0][key[i]]);
						}
						var temp = data.Data[0].dta_hdr.split("\n");
						genHeaderSum(temp, '.rs_box #dta_hdr');
					}
				}
			});

			$.when(
				rqrspdata,rsrspdata
			  ).done(function(a1, a2){
					rqrsloader.hide();
			});
    });

		function genHeaderSum(arrEle, loc)
		{
			var hdrDta = $(loc)[0];
			var temp = '<p style="word-wrap: break-word;">' + arrEle[0] + "</p>";
			hdrDta.innerHTML +=  temp;

			for (i = 1; i < arrEle.length; i ++){
				var subArrEle = arrEle[i].split(/:(.+)/);
				for (j = 0; j < subArrEle.length ; j +=2 ){
					if (typeof subArrEle[j] != 'undefined' && typeof subArrEle[j + 1] != 'undefined' && subArrEle[j] != '' && subArrEle[j + 1] != ''){
						var temp2 = '<dt>' + subArrEle[j] + '</dt>';
						temp2 = temp2 + '<p style="word-wrap: break-word;">' + subArrEle[j + 1] + '</p> <br>';
						hdrDta.innerHTML +=  temp2;
						temp2 = '';
					}
				}
			}
		}

</script>
