<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 19/07/2016	| Added for Transaction Search(Transaction Composite Detail)
	| SDS03		| ChunYong		| 24/08/2016	| Added Loader for loading
	======================================================================================

-->

<!-- ContentBody -->

<div class="row">
	<div class="table-responsive col-lg-12 col-md-12" style="min-height:100px;">
		<table class="table table-striped table-bordered table-hover compact" id="WL_Table">
			<thead>
				<tr>
					<th>Action</th>
					<th>Date</th>
					<th>Time</th>
					<th>Transaction Status</th>
					<th>Web Service</th>
					<th>Transaction Reference</th>
				</tr>
			</thead>
		</table>
		<div id="wlloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
			<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
				<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
				<div>S</div>
				<div>D</div>
				<div>S</div>
			</svg>
		</div>
	</div>
</div>


<script type="text/javascript">

	$(document).ready(function(){
		loadTable();
		$('#WL_Table').on( 'click', 'a.editor_view', function (event) {
        	event.preventDefault();
					var table = $('#WL_Table').DataTable();
					var refcon = table.row( $(this).parents('tr') ).data().ref_conn;
					var ref = refcon.split(":");
					var tempdata = {
						date_logd  : table.row( $(this).parents('tr') ).data().date_logd,
						ref_conn 	 : ref[0],
						ref_reqs	 : ref[1],
						ref_node	 : ref[2],
						ph_webservice : table.row( $(this).parents('tr') ).data().ph_webservice,
						server_name : table.row( $(this).parents('tr') ).data().server_name
					}
					getWatchList(tempdata);
    });

		$('#WL_Table').on( 'click', 'a.editor_remove', function (event) {
        	event.preventDefault();
        	var tempdata = {
						date_logd : $('#WL_Table').DataTable().row( $(this).parents('tr') ).data().date_logd,
						server_name : $('#WL_Table').DataTable().row( $(this).parents('tr') ).data().server_name,
						ref_conn : $('#WL_Table').DataTable().row( $(this).parents('tr') ).data().ref_conn,
						ph_webservice : $('#WL_Table').DataTable().row( $(this).parents('tr') ).data().ph_webservice
					}
					// swal({
					//   title: "Are you sure?",
					//   text: "You will not be able to recover this data!",
					//   type: "warning",
					//   showCancelButton: true,
					//   confirmButtonClass: "btn-primary",
					//   confirmButtonText: "Yes, delete it!",
					//   cancelButtonText: "No, cancel!",
					//   closeOnConfirm: false,
					//   closeOnCancel: true
					// },
					// function(isConfirm) {
					//   if (isConfirm) {
					// 		triggerAjax({
					// 			script_id : 'Remove Watchlist',
					// 			method: 'POST',
					// 			data : tempdata
					// 		}, function(data){
					// 			if (data.Status == 'AA'){
					// 				toastr['success'](data.Data);
					// 				loadTable();
					// 			}
					// 			else{
					// 				toastr['error'](data.Data);
					// 			}
					// 		});
					//   }
					// });
    	});
	});

	function loadTable(){
		var loader = new SVGLoader( document.getElementById( 'wlloader' ), { speedIn : 0, easingIn : mina.easeinout } );
		loader.show();
		triggerAjax({
			script_id : 'Watchlist',
			method: 'POST'
		}, function(data){
			var lang = 'No record found';
			if (data.Status == 'AB'){
				lang = data.Data;
				data.Data = [];
			}
			$('#WL_Table').DataTable( {
								"data" : data.Data,
								"destroy"		: true,
								"order" 	: false,
								"autoWidth" : false,
								"paging": false,
								"lengthChange": false,
								"language" : {
									"emptyTable" : lang
								},
									"columns": [
											{ "data": null, "defaultContent": '<a href="" title="View" class="btn btn-xs btn-default btn-rounded btn-outline editor_view m-r-xxs"><i class="fa fa-search"></i></a><a href="" title="Remove" class="btn btn-xs btn-default btn-rounded btn-outline editor_remove"><i class="fa fa-trash-o"></i></a>' },
											{ "render": function ( data, type, row ) {
												return formatDate(row.date_logd);
											}},
											{ "render": function ( data, type, row ) {
												return formatTime(row.time_logd);
											}},
											{ "render": function ( data, type, row ) {
												switch(row.comp_flag){
													case 'Completed' :
														return '<div class="text-center"><span class="label label-primary">' + row.comp_flag + '</span></div>';
														break;
													case 'Rejected' :
														return '<div class="text-center"><span class="label label-danger">' + row.comp_flag + '</span></div>';
														break;
													case 'Timeout' :
														return '<div class="text-center"><span class="label label-warning">' + row.comp_flag + '</span></div>';
														break;
													case 'Accepted' :
														return '<div class="text-center"><span class="label label-success">' + row.comp_flag + '</span></div>';
														break;
													default :
														return '<div class="text-center"><span class="label">' + row.comp_flag + '</span></div>';
														break;
												}
											}},
											{ "data": "ph_webservice" },
											{ "data": "ref_conn" }
											],
								"fnInitComplete": function(oSettings, json) {
										loader.hide();
								}
							});
					});
	}
</script>
