<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 21/04/2016	| Added for Transaction Search(Transaction Performance)
	| SDS03		| ChunYong		| 24/08/2016	| Added Loader for loading
	======================================================================================

-->
<head>

	<style>
		.node circle {
   			fill: #fff;
   			stroke: steelblue;
   			stroke-width: 3px;
		 }

 		.node text { font: 12px sans-serif; }

 		.link {
  			 fill: none;
  			 stroke: #ccc;
  			 stroke-width: 2px;
 		}

 	</style>
</head>


<!-- ContentBody -->
<div class="panel" >
	<div class="panel-heading">
		<div class="jumbotron">
			<h2> Transaction Performance </h2>
		</div>
	</div>

	<div class="panel-body">
		<div class="row col-lg-12 col-md-12 prf_box">
			<div class="col-lg-6 col-md-6 b-r">
				<div class="form-group col-lg-12 col-md-12 col-xs-12 b-b">
					<label class="control-label col-lg-6 col-md-6 col-xs-6 b-r"> </label>
					<label class="control-label col-lg-3 col-md-3 col-xs-3 b-r">Current</label>
					<label class="control-label col-lg-3 col-md-3 col-xs-3">Average </label>
				</div>

				<div class="form-group col-lg-12 col-md-12 col-xs-12 b-b">
					<label class="control-label col-lg-6 col-md-6 col-xs-6 p-xxs b-r">Request Transformation Elapsed</label>
					<div class="col-lg-3 col-md-3 col-xs-3 b-r">
						<p class="form-control-static " id="elps_rqt">  </p>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-3">
						<p class="form-control-static " id="avr_rqt">  </p>
					</div>
				</div>

				<div class="form-group col-lg-12 col-md-12 col-xs-12 b-b">
					<label class="control-label col-lg-6 col-md-6 col-xs-6 p-xxs b-r">Response Transformation Elapsed</label>
					<div class="col-lg-3 col-xs-3 col-md-3 b-r">
						<p class="form-control-static" id="elps_rst">  </p>
					</div>
					<div class="col-lg-3 col-xs-3 col-md-3">
						<p class="form-control-static" id="avr_rst">  </p>
					</div>
				</div>

				<div class="form-group col-lg-12 col-md-12 col-xs-12 b-b">
					<label class="control-label col-lg-6 col-md-6 col-xs-6 p-xxs b-r">Phoenix Elapsed</label>
					<div class="col-lg-3 col-md-3 col-xs-3 b-r">
						<p class="form-control-static" id="elps_tot">  </p>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-3">
						<p class="form-control-static" id="avr_tot">  </p>
					</div>
				</div>

				<div class="form-group col-lg-12 col-md-12 col-xs-12 b-b">
					<label class="control-label col-lg-6 col-md-6 col-xs-6 p-xxs b-r">Iris Elapsed</label>
					<div class="col-lg-3 col-md-3 col-xs-3 b-r">
						<p class="form-control-static" id="elps_wbt">  </p>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-3">
						<p class="form-control-static" id="avr_wbt">  </p>
					</div>
				</div>

				<div class="form-group col-lg-12 col-md-12 col-xs-12 b-b">
					<label class="control-label col-lg-6 col-md-6 col-xs-6 p-xxs b-r">Host Elapsed</label>
					<div class="col-lg-3 col-md-3 col-xs-3 b-r">
						<p class="form-control-static" id="elps_hst">  </p>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-3">
						<p class="form-control-static" id="avr_hst">  </p>
					</div>
				</div>

				<div class="form-group col-lg-12 col-md-12 col-xs-12 b-b">
					<label class="control-label col-lg-6 col-md-6 col-xs-6 p-xxs b-r">SDS Elapsed</label>
					<div class="col-lg-3 col-md-3 col-xs-3 b-r">
						<p class="form-control-static" id="elps_int">  </p>
					</div>
					<div class="col-lg-3 col-md-3 col-xs-3">
						<p class="form-control-static" id="avr_int">  </p>
					</div>
				</div>

				<div class="form-group col-lg-12 col-md-12 col-xs-12 b-b">
					<label class="control-label col-lg-6 col-md-12 col-xs-6 p-xxs b-r">Transaction Total Elapsed</label>
					<div class="col-lg-3 col-md-3 col-xs-3 b-r">
						<p class="form-control-static" id="elps_all">  </p>
					</div>
					<div class="col-lg-3 co-md-3 col-xs-3">
						<p class="form-control-static" id="avr_all">  </p>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 b-r" id="P_Graph">

			</div>
			<div id="prfloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
			<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
				<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
				<div>S</div>
				<div>D</div>
				<div>S</div>
			</svg>
		</div>
		</div>
	</div>

</div>

<script type="text/javascript">

	$(document).ready(function(){
		prfloader = initLoader('prfloader');
		prfloader.show();

		rspdata = triggerAjax({
				script_id : "Transaction Performance",
				method : "POST",
				data : {
					ref_conn : sessionStorage.ref_conn,
					ref_reqs : sessionStorage.ref_reqs,
					ref_node : sessionStorage.ref_node,
					date_logd : sessionStorage.date_logd,
					server_name : sessionStorage.server_name,
					ph_webservice : sessionStorage.ph_webservice
				}
			},function(data){
				if (data.Status == 'AA' && data.Data.length > 0){
					alcData(data.Data);
				}
				else{
					$(".prf_box p").text("-");
				}
			});

		var chart = $("#p_g"), aspect = chart.width() / chart.height(), container = chart.parent();
		$(window).on("resize", function() {
    		var targetWidth = container.width();
   			chart.attr("width", targetWidth);
    		chart.attr("height", Math.round(targetWidth / aspect));
		}).trigger("resize");
		$.when(
			rspdata
			).done(function(a1){
			setTimeout( function() {
				prfloader.hide();
			}, 600 );
		});
	});

	function alcData(data){
		var key= [];
		for (name in data[0]){
			key.push(name);
		}
		for (var i = 0; i < key.length; i ++){
			$(".prf_box #" + key[i]).text(parseInt(data[0][key[i]]) + " ms");
		}
		genRootG(data);
	}

	function genRootG(data)
	{
		var treeData = [
  			{
   				"name"	: "Transaction Total Elapsed",
   				"value": "-120",
   				"data" : data[0].elps_all + "ms / " + parseInt(data[0].avr_all) + "ms",
    			"parent": "null",
   				"children": [
     			 {
       				"name": "SDS Elapsed",
       				"data" : data[0].elps_int + "ms / " + parseInt(data[0].avr_int) + "ms",
       				"value": "-105",
        			"parent": "Transaction Total Elapsed",
        			"children": [
     				 {
     				 		"name": "Iris Elapsed",
     				 		"value": "-100",
     				 		"data" : data[0].elps_wbt + "ms / " + parseInt(data[0].avr_wbt) + "ms",
     				 		"parent": "SDS Elapsed"
     				 },
     				 {
     				 		"name": "Phoenix Elapsed",
     				 		"value": "18",
     				 		"data" : data[0].elps_tot + "ms / " + parseInt(data[0].avr_tot) + "ms",
     				 		"parent": "SDS Elapsed",
     				 		"children": [
     				 		{
     				 			"name": "Request Transformation Elapsed",
     				 			"value": "-100",
     				 			"data" : data[0].elps_rqt + "ms / " + parseInt(data[0].avr_rqt) + "ms",
     				 			"parent": "Phoenix Elapsed"
     				 		},
     				 		{
     				 			"name": "Response Transformation Elapsed",
     				 			"value": "18",
     				 			"data" : data[0].elps_rst + "ms / " + parseInt(data[0].avr_rst) + "ms",
     				 			"parent": "Phoenix Elapsed"
     				 		}]
     				 }]
          		 },
          		 {
            		"name": "Host Elapsed",
            		"value": "18",
       				"data" : data[0].elps_hst + "ms / " + parseInt(data[0].avr_hst) + "ms",
        			"parent": "Transaction Total Elapsed"
         		 }]}];

		var margin = {top: 30, right: 200, bottom: 20, left: 200},
					 width = $("#P_Graph").width(),
 					 height = 500 - margin.top - margin.bottom;
		var i = 0;

		var tree = d3.layout.tree()
 			.size([height, width]);

		var diagonal = d3.svg.diagonal()
 			.projection(function(d) { return [d.x, d.y]; });

		var svg = d3.select("#P_Graph").append("svg")
 			.attr("width", width + margin.right + margin.left)
 			.attr("height", height + margin.top + margin.bottom)
 			.attr("id", "p_g")
 			.append("g")
 			.attr("transform", "translate( 20 ," + margin.top + ")");

		root = treeData[0];
		update(root);

		function update(source) {
  			// Compute the new tree layout.
		 	var nodes = tree.nodes(source).reverse(),
   			links = tree.links(nodes);
  			// Normalize for fixed-depth.
  			nodes.forEach(function(d) { d.y = d.depth * 125; });

  			// Declare the node
  			var node = svg.selectAll("g.node")
  				 .data(nodes, function(d) { return d.id || (d.id = ++i); });

 			 // Enter the nodes.
  			var nodeEnter = node.enter().append("g")
   				.attr("class", "node")
   				.attr("transform", function(d) {
   					 return "translate(" + d.x + "," + d.y + ")"; });

  			nodeEnter.append("circle")
   				.attr("r", 10)
   				.style("fill", "#fff");

 				nodeEnter.append("text")
 					.attr("y", "-13")
 					.style("fill-opacity", 1)
   					.attr("x", function(d) {
    					return d.children || d._children ?
   							 (d.value ) : d.value })
   					.attr("dy", ".35em")
   						.each(function (d) {
   							var tempout = "";
   							var temp = d.name.split(" ");
   							for (i = 0; i < temp.length; i ++)
   							{
   								d3.select(this).append("tspan")
   									.text(temp[i])
   									.attr("dy", i ? "1.2em" : 0)
            						.attr("x", function(d) {
    									return d.children || d._children ?
   							 			(d.value ) : d.value })
           							.attr("text-anchor", "start");
   							}
   						})
   							.append("tspan")
   							.attr("class", "strong")
   							.attr("dy", "1.3em")
            				.attr("x", function(d) {
    							return d.children || d._children ?
   							 	(d.value ) : d.value })
           					.attr("text-anchor", "start")
   							.text(function(d) { return  "(" + d.data + ")"; });

  			// Declare the links
  			var link = svg.selectAll("path.link")
  				.data(links, function(d) { return d.target.id; });

 			// Enter the links.
  			link.enter().insert("path", "g")
   				.attr("class", "link")
   				.attr("d", diagonal);
		}
	}

</script>
