<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 19/07/2016	| Added for Transaction Search(Transaction Composite Detail)
	| SDS03		| ChunYong		| 24/08/2016	| Added Loader for loading
	======================================================================================

-->

<!-- ContentBody -->
<div class="panel" >

	<div class="panel-heading">
		<div class="jumbotron">
			<h2> Transaction Detail </h2>
		</div>
	</div>

	<div class="panel-body">
		<div class="table-responsive col-lg-12 col-md-12">
			<table class="table table-striped table-bordered table-hover" id="CD_Table">
				<thead>
					<tr>
						<th>Action</th>
						<th>Node</th>
						<th>Web Service</th>
						<th>Type</th>
						<th>Transaction Status</th>
						<th>Host Status</th>
						<th>Source</th>
						<th>Destination</th>
						<th>Transaction Code</th>
						<th>CIF Number</th>
						<th>Account Number</th>
					</tr>
				</thead>
			</table>
			<div id="dtlloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
				<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
					<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
					<div>S</div>
					<div>D</div>
					<div>S</div>
				</svg>
			</div>
		</div>
	</div>
</div>

<div class="modal inmodal" id="comp_detail" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content animated bounceIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Composite Detail</h4>
			</div>
			<div class="modal-body form-horizontal">
				<div class="form-group">
					<label class="control-label col-lg-3 col-md-3">Message Format</label>
					<div class="col-lg-3 col-md-3">
						<p class="form-control-static" id="ph_type">  </p>
					</div>

					<label class="control-label col-lg-2 col-md-2">Message Map</label>
					<div class="col-lg-3 col-md-3">
						<p class="form-control-static" id="ph_mmap">  </p>
					</div>
				</div>

				<div class="form-group">
					<!-- Raw Data View -->
					<div class="row raw_data_container">
						<div class="col-lg-12 col-md-12">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3> Request Raw Data </h3>
								</div>
								<div class="panel-body" id="RQ_DATA_RAW">
									<div class="col-lg-12 col-md-12">
										<button class="btn btn-xs pull-right m-r-md" id="export_in">Print as txt</button>
										<button class="btn btn-xs pull-right m-r-xs" id="copy_in">Copy text</button>
									</div>
									<div class="form-control-static col-lg-12 col-md-12 raw_data ">
										<pre> </pre>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="panel panel-info">
								<div class="panel-heading">
									<h3> Response Raw Data </h3>
								</div>
								<div class="panel-body" id="RS_DATA_RAW">
									<div class="col-lg-12 col-md-12">
										<button class="btn btn-xs pull-right m-r-md" id="export_out">Print as txt</button>
										<button class="btn btn-xs pull-right m-r-xs" id="copy_out">Copy text</button>
									</div>
									<div class="form-control-static col-lg-12 col-md-12 raw_data ">
										<pre> </pre>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var dtloader;
	$(document).ready(function(){
		dtloader = initLoader('dtlloader');
		dtloader.show();
		var postdata = {
			ref_conn : sessionStorage.ref_conn,
			ref_reqs : sessionStorage.ref_reqs,
			ref_node : sessionStorage.ref_node,
			date_logd : sessionStorage.date_logd,
			server_name : sessionStorage.server_name
		};

		triggerAjax({
			data : postdata,
			script_id : 'Composite Detail',
			method: 'POST'
		}, function(data){
			var lang = 'No record found';
			if (data.Status == 'AB'){
				lang = data.Data;
				data.Data = [];
			}
			$('#CD_Table').DataTable( {
							"data" : data.Data,
							"scrollX" 	: false,
							"lengthChange": false,
							"destroy"		: true,
							"sort" 	: true,
							"autoWidth" : false,
							"language" : {
								"emptyTable" : lang
							},
								"columns": [
										{ "data": null, "defaultContent": '<a href="" title="View" class="btn btn-xs btn-default btn-rounded btn-outline editor_view"><i class="fa fa-search"></i></a>' },
	           				{ "data": "ref_node" },
										{ "data": "ph_webservice" },
										{ "data": "ph_webservice_type" },
										{ "render": function ( data, type, row ) {
											switch(row.comp_flag){
												case 'Completed' :
													return '<div class="text-center"><span class="label label-primary">' + row.comp_flag + '</span></div>';
													break;
												case 'Rejected' :
													return '<div class="text-center"><span class="label label-danger">' + row.comp_flag + '</span></div>';
													break;
												case 'Timeout' :
													return '<div class="text-center"><span class="label label-warning">' + row.comp_flag + '</span></div>';
													break;
												case 'Accepted' :
													return '<div class="text-center"><span class="label label-success">' + row.comp_flag + '</span></div>';
													break;
												default :
													return '<div class="text-center"><span class="label">' + row.comp_flag + '</span></div>';
													break;
											}
										}},
										{ "data": "host_sts" },
										{ "data": "host_sid" },
										{ "data": "host_did" },
										{ "data": "host_txcd" },
										{ "data": "trx_cif" },
										{ "data": "trx_act" },
										],
							"fnInitComplete": function(oSettings, json) {
									dtloader.hide();
							}
					});
		});

		$('#CD_Table').on( 'click', 'a.editor_view', function (event) {
        	event.preventDefault();
					var table = $('#CD_Table').DataTable();
        	postdata.ref_node = table.row( $(this).parents('tr') ).data().ref_node;
					triggerAjax({
						data : postdata,
						script_id : 'Transaction Detail',
						method: 'POST'
					}, function(data){
						if (data.Data.length > 0){
							$('#ph_type').text(data.Data[0].ph_type);
							$('#ph_mmap').text(data.Data[0].ph_mmap);
							genData(data.Data[0].kq_raw_data, "RQ_DATA_RAW");
							genData(data.Data[0].ks_raw_data, "RS_DATA_RAW");
							$("#comp_detail").modal();
						}
					});
    	});
	});

	$("#export_in").click(function(event){
		event.preventDefault();
		downloadInnerHtml('Raw Data In','RQ_DATA_RAW .raw_data pre');
	});

	$("#copy_in").click(function(event){
		event.preventDefault();
		copyText("RQ_DATA_RAW .raw_data pre");
	});

	$("#copy_out").click(function(event){
		event.preventDefault();
		copyText("RS_DATA_RAW .raw_data pre");
	});

	$("#export_out").click(function(event){
		event.preventDefault();
		downloadInnerHtml('Raw Data Out','RS_DATA_RAW .raw_data pre');
	});

	function genData(data, cont){
		var ele = $("#" + cont + " .raw_data pre")[0];
		ele.innerHTML += data;
	}

</script>
