<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 21/04/2016	| Added for Transaction Search(Transaction Detail)
	| SDS03		| ChunYong		| 24/08/2016	| Added Loader for loading
	| SDS04		| ChunYong		| 21/09/2016	| Added export as text file and copy
	| SDS05		| ChunYong		| 12/10/2016	| Added table view of raw data (temporary)
	======================================================================================

-->



<!-- ContentBody -->
<div class="panel" >
	<div class="panel-heading">
		<div class="jumbotron">
			<h2> Transaction Detail </h2>
		</div>
	</div>

	<div class="panel-body">
		<form class="form-horizontal col-lg-12 col-md-12">
			<div class="form-group">
				<label class="control-label col-lg-3 col-md-3">Message Format</label>
				<div class="col-lg-3 col-md-3">
					<p class="form-control-static" id="ph_type">  </p>
				</div>

				<label class="control-label col-lg-2 col-md-2">Message Map</label>
				<div class="col-lg-3 col-md-3">
					<p class="form-control-static" id="ph_mmap">  </p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-7 col-lg-4 col-md-4 widget style1 yellow-bg text-center m-l-xl raw_data_switch">
					<h4> Raw Data View  <input type="checkbox" class="js-switch"  />  Table View </h4>
				</div>
			</div>

			<div class="form-group">
				<!-- Raw Data View -->
				<div class="col-lg-12 col-md-12 raw_data_container">
					<div class="col-lg-6 col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3> Request Raw Data </h3>
							</div>
							<div class="panel-body" id="RQ_DATA_RAW">
								<div class="col-lg-12 col-md-12">
									<button class="btn btn-xs btn-warning pull-right m-r-md" id="export_in">Print as txt</button>
									<button class="btn btn-xs btn-warning pull-right m-r-xs" id="copy_in">Copy text</button>
								</div>
								<div class="form-control-static col-lg-12 col-md-12 raw_data ">
									<pre> </pre>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3> Response Raw Data </h3>
							</div>
							<div class="panel-body" id="RS_DATA_RAW">
								<div class="col-lg-12 col-md-12">
									<button class="btn btn-xs btn-warning pull-right m-r-md" id="export_out">Print as txt</button>
									<button class="btn btn-xs btn-warning pull-right m-r-xs" id="copy_out">Copy text</button>
								</div>
								<div class="form-control-static col-lg-12 col-md-12 raw_data ">
									<pre> </pre>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Raw Data Table View -->
				<div class="col-lg-12 col-md-12 raw_datatable_container hidden">
					<div class="col-lg-6 col-md-6">
						<div class="panel panel-info raw_data_table">
							<div class="panel-heading">
								<h3> Request Raw Data Table </h3>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered table-hover compact" id="RQDATA_Table">
									<thead>
										<tr>
											<th>Field Path</th>
											<th>Value </th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="panel panel-info raw_data_table">
							<div class="panel-heading">
								<h3> Response Raw Data Table </h3>
							</div>
							<div class="panel-body">
								<table class="table table-striped table-bordered table-hover compact" id="RSDATA_Table">
									<thead>
										<tr>
											<th>Field Path</th>
											<th>Value </th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
					<div id="dtlrawtableloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
						<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
							<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
							<div>S</div>
							<div>D</div>
							<div>S</div>
						</svg>
					</div>
				</div>
			</div>
			<div id="dtlrawloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
				<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
					<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
					<div>S</div>
					<div>D</div>
					<div>S</div>
				</svg>
			</div>
		</form>
	</div>

</div>

<script type="text/javascript">
	var dtlloader, rawtblloader; var postdata;
	$(document).ready(function(){
		dtlloader = initLoader('dtlrawloader');
		rawtblloader = initLoader('dtlrawtableloader');
		dtlloader.show();
		triggerAjax({
				script_id : "Transaction Detail",
				method : "POST",
				data : {
					ref_conn : sessionStorage.ref_conn,
					ref_reqs : sessionStorage.ref_reqs,
					ref_node : sessionStorage.ref_node,
					date_logd : sessionStorage.date_logd,
					server_name : sessionStorage.server_name
				}
			},function(data){
				if (data.Status == 'AA'){
					if (data.Data.length > 0 ){
						tempdata = data.Data[0];
						$('#ph_type').text(tempdata.ph_type);
						$('#ph_mmap').text(tempdata.ph_mmap);
						genData(tempdata.kq_raw_data, "RQ_DATA_RAW");
						genData(tempdata.ks_raw_data, "RS_DATA_RAW");
						rawtblloader.show();
						getJsondata(tempdata.kq_raw_data.replace(/&quot;/g,'"'),"RQDATA_Table");
						getJsondata(tempdata.ks_raw_data.replace(/&quot;/g,'"'), "RSDATA_Table");
					}
				}
				dtlloader.hide();
			});

		var ele = $('.raw_data_switch .js-switch')[0];
    var switchtyp = new Switchery(ele, { color: '#1AB394' });
    ele.onchange = function() {
		var checker = ele.checked;
			if (checker == true){
				$(" .raw_data_container").hide();
				$(".raw_datatable_container").removeClass("hidden");
				$(".raw_datatable_container").show();
				$("#RQDATA_Table").DataTable().columns.adjust().draw();
				$("#RSDATA_Table").DataTable().columns.adjust().draw();
			}
			else{
				$(".raw_data_container").show();
				$(".raw_datatable_container").hide();
			}
		};
	});

	$("#export_in").click(function(event){
		event.preventDefault();
		downloadInnerHtml('Raw Data In','RQ_DATA_RAW .raw_data pre');
	});

	$("#copy_in").click(function(event){
		event.preventDefault();
		copyText("RQ_DATA_RAW .raw_data pre");
	});

	$("#copy_out").click(function(event){
		event.preventDefault();
		copyText("RS_DATA_RAW .raw_data pre");
	});

	$("#export_out").click(function(event){
		event.preventDefault();
		downloadInnerHtml('Raw Data Out','RS_DATA_RAW .raw_data pre');
	});

	function genData(data, cont){
		var ele = $("#" + cont + " .raw_data pre")[0];
		ele.innerHTML += data;
	}

	function getJsondata(data, table){
		triggerHTTP({
			"method" : "POST",
			"path"	 : "/parse.nio",
			"data"	 : data
		}, function(data){
			var status = data.Status;
			var tabledata;
			var lang;
			if (status == 'AA'){
				temp = JSON.parse(data.Data);
				tabledata = temp.parsedData.data;
				lang = '';
			}
			else{
				lang = data.Data;
				tabledata = [];
			}
			genRawTable(tabledata, table, lang);
		});
	}

	function genRawTable(data, table, lang){
		var color = ['rgba(149,184,209,0.6)', 'rgba(121,180,169,0.6)', 'rgba(170,174,127,0.6)'];
		if (lang == ''){
			lang = "Not supported message.";
		}
		$("#" + table).DataTable({
			"lengthChange": false,
		  "destroy"	: true,
			"sort" : false,
			"filter"	: true,
			"paging"	: false,
			"order"	: false,
			"info"		: false,
			"scrollY": "300px",
  		"scrollCollapse": true,
			"scrollX" : true,
			"autoWidth" : false,
			"data" 	: data ,
			"language": {
            		 "emptyTable": lang
       		 },
			"columns": [
						{ "data": "path" },
						{ "data": "value" }
				],
				"initComplete" : function(settings, json) {
						rawtblloader.hide();
				},
			"createdRow": function( row, data, dataIndex ) {
				var grp = data.group;
				if ( grp > 0 ) {
					var tempcol = color[grp - 1];
				 	$(row).css("background-color",tempcol);
				}
			  }
		});
	}

</script>
