<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 07/04/2016	| Added for SDS Error Log

	======================================================================================

-->

<head>
	<style>
		.well{
			word-wrap: break-word;
			white-space: pre-wrap;
		}
	</style>
</head>

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SDS Error Log</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">SDS Error Log </a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" >

	<div class="container-fluid">
		<div class="col-lg-12 col-md-12">
			<div class="ibox">
				<div class="ibox-content row">

					<div class="input-group col-lg-12 col-md-12">
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="Sdate">Start date</label>
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" id="Sdate" placeholder="YYYY-MM-DD">
							</div>
						</div>

						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="Edate">End date</label>
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" id="Edate" placeholder="YYYY-MM-DD">
							</div>
						</div>
					</div>

					<div class="input-group col-lg-12 col-md-12">
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="Stime">Start time</label>
							<div class="input-group">
								<input type="text" class="form-control" id="Stime" placeholder="HH:MM:SS / HHMMSS">
							</div>
						</div>

						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="Etime">End time</label>
							<div class="input-group">
								<input type="text" class="form-control" id="Etime" placeholder="HH:MM:SS / HHMMSS">
							</div>
						</div>
					</div>

					<div class="input-group col-lg-12 col-md-12">
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="Sname">Server name</label>
							<div class="input-group">
								<input type="text" class="form-control" id="Sname">
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="ErrRef">Error Reference</label>
							<div class="input-group">
								<input type="text" class="form-control" id="ErrRef">
							</div>
						</div>
					</div>

					<div class="input-group col-lg-12 col-md-12 m-t-xs">
						<button class="btn btn-primary btn-w-s pull-right m-r-xs" id="btn_search">Search</button>
						<button class="btn btn-primary btn-w-s pull-right m-r-xs" id="btn_clear">Clear</button>
					</div>

					<hr>

					<div class="col-lg-12 col-md-12">
						<div class="table-responsive">
							<table class="compact table-nowrap table-hover dataTables" id="E_Table">
								<thead>
									<tr>
										<th>Date</th>
										<th>Time</th>
										<th>MS</th>
										<th>Err Ref</th>
										<th>Err Thread</th>
										<th>Server Name</th>
									</tr>
								</thead>
							</table>
						</div>
						<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
							<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
								<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
								<div>S</div>
								<div>D</div>
								<div>S</div>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-12 col-md-12" id="Err_Msg">
			<div class="ibox">
				<div class="ibox-content">
					<div class="feed-activity-list">

						<div class="feed-element">
							<div class="media-body">
								<strong>Server Name : </strong>
								<strong id="SRV_NAME"> </strong>
							</div>
						</div>

						<div class="feed-element">
							<div class="media-body">
								<strong>Error Message</strong>
								<br>
								<div class="well"  id="ERR_MSG">

								</div>
							</div>
						</div>

						<div class="feed-element">
							<div class="media-body">
								<strong>Error Trace</strong>
								<br>
								<div class="well" id="ERR_TRC">

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<script type="text/javascript">
	var loader;
	$(document).ready(function(){
		$('.input-group.date').datepicker({
    	  todayBtn: "linked",
       	keyboardNavigation: false,
       	forceParse: true,
        autoclose: true,
        format: "yyyy-mm-dd",
				enableOnReadonly: true
    	});
		loader = initLoader('loader');
		genTable();
	});

	$('#E_Table').on( 'click', 'tr', function () {
    	if ( $(this).hasClass('selected') ) {
        	$(this).removeClass('selected');
        	clearBox();
   		 }
    	else {
       	 	$('#E_Table').DataTable().$('tr.selected').removeClass('selected');
       	 	$(this).addClass('selected');
       	 	if ($('#E_Table').DataTable().row( this ).data() != null)
       	 	{
       	 		if (Object.keys($('#E_Table').DataTable().row( this ).data()).length > 0)
       	 		{
       	 			showMsg($('#E_Table').DataTable().row( this ).data());
       	 			 $("body, html").animate({
									scrollTop: $("#Err_Msg").offset().top
								}, 600);
         		}
       	 	}
   		 }
   	});

    $('#btn_search').click(function(event){
    	event.preventDefault();
			genTable();
    });

    $('#btn_clear').click(function(event){
    	event.preventDefault();
    	$('input').val("");
    });

		function genTable(){
			loader.show();
			triggerAjax({
				method 	: "POST",
				data		: {
						SDate		: $('#Sdate').val(),
						EDate		: $('#Edate').val(),
						STime		: $('#Stime').val(),
						ETime		: $('#Etime').val(),
						SName		: $('#Sname').val(),
						ErrRef	: $('#ErrRef').val()
				},
				script_id: "Error Search"
			}, function(data){
				$('#E_Table').DataTable( {
			  		"lengthChange": false,
			  		"autoWidth": false ,
			  		"destroy": true,
			  		"filter" : false,
			  		"info" : false,
			  		"processing" : true,
	    			"data" : data.Data,
						"columns": [
									{ "render": function ( data, type, row ) {
										return formatDate(row.date_logd);
									}},
									{ "render": function ( data, type, row ) {
										return formatTime(row.time_logd);
									}},
									{ "data": "tims_logd" },
									{ "data": "err_ref" },
									{ "data": "err_thd", "width": "15%" },
									{ "data": "server_name" }
							],
						"initComplete": function( settings, json ) {
							   loader.hide();
						}
				});
			});
		}

    function showMsg(arry){
    	if (arry.err_msg != null){
    		if (arry.err_msg.indexOf('Unexpected error') > -1){
    			var temp = arry.err_msg.split(":");
    			if (temp.length > 0){
    				$('#ERR_MSG').text(temp[0] + '\n' + Hex2Str(temp[1].trim()));
    			}
    		}
    		else{
    			$('#ERR_MSG').text(arry.err_msg);
    		}
    	}
    	else{
    		$('#ERR_MSG').text(arry.err_msg);
    	}
    	$('#ERR_TRC').text(arry.err_trc);
    	$('#SRV_NAME').text(arry.server_name);
    }

	function clearBox(){
		$('#SRV_NAME').empty();
		$('#ERR_MSG').empty();
		$('#ERR_TRC').empty();
	}

</script>
