<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 05/04/2016	| Added for Transaction Search(Request Container)

	======================================================================================

-->

<!-- ContentBody -->
<div class="ibox float-e-margin" >
	<!-- container body for request message-->
	<div class="ibox-title">
		<h4> Request </h4>
	</div>

	<div class="ibox-content">
		<form class="form-horizontal">

			<div class="form-group" style="background-color:#935347;display:none;" id="RQErrMSG">
				<h4 style="color:#f6f1ed;text-align:center;"> No Record Found </h4>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Date</label>
				<div class="col-sm-4">
					<p class="form-control-static" id="RQ_D">  </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Time</label>
				<div class="col-sm-4 b-r">
					<p class="form-control-static" id="RQ_T">  </p>
				</div>
				<div class="col-sm-1">
					<p class="form-control-static" id="RQ_Tims">  </p>
				</div>
				<label class="control-label col-sm-1">(ms)</label>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">IP Address</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RQ_IP">  </p>
				</div>

				<label class="control-label col-sm-4">Port</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RQ_Port">  </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">User Agent</label>
				<div class="col-sm-8">
					<p class="form-control-static" id="U_AGT" style="word-wrap: break-word;">  </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Cookie</label>
				<div class="col-sm-8">
					<p class="form-control-static" id="RQ_CKIE"> </p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-4">Header Length</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RQ_HDL"> </p>
				</div>
				<label class="control-label col-sm-4">Body Length</label>
				<div class="col-sm-2">
					<p class="form-control-static" id="RQ_BDL"> </p>
				</div>
			</div>

			<div class="form-group">
				<details class="col-sm-12">
					<summary class="control-label col-sm-12" style="text-align:left">Header Data</summary>
					<div class="form-control-static col-sm-11 col-sm-offset-1" id="RQ_HDT"> </div>
				</details>
			</div>
		</form>
	</div>

</div>

<script type="text/javascript">

	$(document).ready(function(){
		$.ajax({
				"url"	: "PHP/SQL/LOG/RQ_Transaction.php",
    			"type"	: "POST",
    			"data"  : {
    							"ACT" 		: "INQ",
								"RRref"		: sessionStorage.ref_conn,
								"RReq"		: sessionStorage.ref_reqs,
								"RNode"		: sessionStorage.ref_node,
								"Date"		: sessionStorage.date_reqs,
								"servername": sessionStorage.server_name
							},
				success: function(data){
					data = JSON.parse(data);
					if (data.length > 0)
					{
						$('#RQ_D').text(formatDate(data[0].date_reqs));
						$('#RQ_T').text(formatTime(data[0].time_reqs));
						$('#RQ_Tims').text(data[0].tims_reqs);
						$('#RQ_IP').text(data[0].remote_ip);
						$('#RQ_Port').text(data[0].remote_port);
						$('#U_AGT').text(data[0].user_agent);
						$('#RQ_CKIE').text(data[0].cookie);
						$('#RQ_HDL').text(data[0].len_hdr);
						$('#RQ_BDL').text(data[0].len_bdy);
						var arrEle = data[0].dta_hdr.split("\n");
						genHeaderSum(arrEle);
					}
					else
					{
						$("#RQErrMSG").show();
					}
				}
		});

		function genHeaderSum(arrEle)
		{
			var hdrDta = document.getElementById("RQ_HDT");
			var temp = '<p style="word-wrap: break-word;">' + arrEle[0] + '</p>';
			hdrDta.innerHTML +=  temp;

			for (i = 1; i < arrEle.length; i ++)
			{
				var subArrEle = arrEle[i].split(/:(.+)/);
				for (j = 0; j < subArrEle.length ; j +=2 )
				{
					if (typeof subArrEle[j] != 'undefined' && typeof subArrEle[j + 1] != 'undefined' && subArrEle[j] != '' && subArrEle[j + 1] != '')
					{
						var temp2 = '<dt>' + subArrEle[j] + '</dt>';
						temp2 = temp2 + '<p style="word-wrap: break-word;">' + subArrEle[j + 1] + '</p> <br>';
						hdrDta.innerHTML +=  temp2;
						temp2 = '';
					}
				}
			}
		}

	});

</script>
