<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| ChunYong		| 13/07/2017| New Release for V2.
	======================================================================================

-->



<!-- ContentBody -->
<div class="row">
	<div class="col-lg-12">
		<div class="tab-container">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab-1" data-toggle="tab"> Transaction Summary </a>
				</li>
				<li>
					<a href="#tab-2" data-toggle="tab"> Transaction Detail </a>
				</li>
				<li>
					<a href="#tab-3" data-toggle="tab"> Transaction Performance </a>
				</li>
				<li>
					<a href="#tab-4" data-toggle="tab"> Transaction Com Raw Data</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab-1">

				</div>
				<div class="tab-pane" id="tab-2">

				</div>
				<div class="tab-pane" id="tab-3">

				</div>
				<div class="tab-pane" id="tab-4">

				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		$("#tab-1").load("pages/SDS_LOG/SDS_TR_SUM.html");
		$("#tab-2").load("pages/SDS_LOG/SDS_TR_DTL.html");
		$("#tab-3").load("pages/SDS_LOG/SDS_TR_PFM.html");
		$("#tab-4").load("pages/SDS_LOG/SDS_TR_COM.html");
	});

</script>
