<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 18/07/2017	| New Release.

	======================================================================================

-->

<head>
	<style>
	#COM_DATA_RAW pre {
		white-space: pre-wrap;       /* Since CSS 2.1 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}

	table.dataTable thead .sorting,
	table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc {
    background : none;
	}
	</style>
</head>


<!-- ContentBody -->
<div class="panel" >
	<div class="panel-heading">
		<div class="jumbotron">
			<h2> Transaction Com Raw Data </h2>
		</div>
	</div>

	<div class="panel-body">
		<form class="form-horizontal col-lg-12 col-md-12">
			<div class="col-lg-12 col-md-12">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" id="C_Table">
						<thead>
							<tr>
								<th>Action</th>
								<th>Entry</th>
								<th>Entry Type</th>
								<th>Thread Type</th>
							</tr>
						</thead>
					</table>
				</div>
				<div id="comloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
					<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
						<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
						<div>S</div>
						<div>D</div>
						<div>S</div>
					</svg>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="cmRawModal" class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Raw Data</h2>
      </div>
      <div class="modal-body" id="COM_DATA_RAW">
				<div class="row">
					<div class="col-xs-7 col-lg-4 col-md-4 widget style1 yellow-bg text-center m-l-xl">
						<h4> Raw Data View  <input type="checkbox" class="js-switch"  />  Table View </h4>
					</div>
					<div class="cmraw_data_container">
						<div class="col-lg-12 col-md-12">
							<button class="btn btn-xs btn-warning pull-right m-r-md" id="export_com">Print as txt</button>
							<button class="btn btn-xs btn-warning pull-right m-r-xs" id="copy_com">Copy text</button>
						</div>
						<div class="form-control-static col-lg-12 col-md-12 raw_data ">
							<pre> </pre>
							<div id="rawloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
								<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
									<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
									<div>S</div>
									<div>D</div>
									<div>S</div>
								</svg>
							</div>
						</div>
					</div>
					<div class="cmraw_datatable_container hidden">
						<div class="col-lg-12 col-md-12">
							<table class="table table-striped table-bordered table-hover compact" id="COMDATA_Table">
								<thead>
									<tr>
										<th>Field Path</th>
										<th>Value </th>
									</tr>
								</thead>
							</table>
							<div id="rawtableloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
								<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
									<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
									<div>S</div>
									<div>D</div>
									<div>S</div>
								</svg>
							</div>
						</div>
					</div>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">

	var comloader, rawloader, rawtableloader; var postdata;
	$(document).ready(function(){
		comloader = initLoader('comloader');
		rawloader = initLoader('rawloader');
		rawtableloader = initLoader('rawtableloader');
		comloader.show();
		postdata = {
			ref_conn : sessionStorage.ref_conn,
			ref_reqs : sessionStorage.ref_reqs,
			ref_node : sessionStorage.ref_node,
			date_logd : sessionStorage.date_logd,
			server_name : sessionStorage.server_name
		};

		triggerAjax({
				script_id : "Com Data",
				data : postdata,
				method : "POST"
			}, function(data){
				$("#C_Table").dataTable({
							"data" 			: data.Data,
							"lengthChange": false,
				  		"destroy": true,
				  		"sort"	 : false,
							"autoWidth" : false,
							"language"	: {
									"emptyTable": "No records found"
							},
							"columns" 	: [
								{ "data": null, "class" : "text-center", "defaultContent": '<a href="" title="View" class="btn btn-xs btn-default btn-rounded btn-outline editor_view"><i class="fa fa-search"></i></a> ' },
								{ "data": "type" },
								{ "data": "entry_type" },
								{ "data": "thread_type" }
							],
							"initComplete" : function(settings, json) {
								comloader.hide();
							}
					});
		});

		var cmele = $('#COM_DATA_RAW .js-switch')[0];
    var switchtyp = new Switchery(cmele, { color: '#1AB394' });
    cmele.onchange = function() {
		var checker = cmele.checked;
			if (checker == true){
				$("#COM_DATA_RAW .cmraw_data_container").hide();
				$("#COM_DATA_RAW  .cmraw_datatable_container").removeClass("hidden");
				$("#COM_DATA_RAW  .cmraw_datatable_container").show();
				$("#COMDATA_Table").DataTable().columns.adjust().draw();
			}
			else{
				$("#COM_DATA_RAW .cmraw_data_container").show();
				$("#COM_DATA_RAW  .cmraw_datatable_container").hide();
			}
		};
	});

	$('#C_Table').on( 'click', 'a.editor_view', function (event) {
  	event.preventDefault();
		rawloader.show();
		postdata.thread_type = $('#C_Table').DataTable().row( $(this).parents('tr') ).data().thread_type;
    postdata.entry_type = $('#C_Table').DataTable().row( $(this).parents('tr') ).data().entry_type;
		triggerAjax({
				script_id : "Com Detail",
				data : postdata,
				method : "POST"
			}, function(data){
				if (data.Status == 'AA'){
					if (data.Data.length > 0 ){
						$("#COM_DATA_RAW .raw_data pre").html(data.Data[0].raw_data);
						rawtableloader.show();
						getCJsondata(data.Data[0].raw_data, "COMDATA_Table");
					}
					$("#cmRawModal").modal('show');
				}
				rawloader.hide();
			});
	});

	$("#export_com").click(function(event){
		event.preventDefault();
		downloadInnerHtml('Raw Data','COM_DATA_RAW .raw_data pre');
	});

	$("#copy_com").click(function(event){
		event.preventDefault();
		copyText("COM_DATA_RAW .raw_data pre");
	});

	function getCJsondata(data, table){
		triggerHTTP({
			"method" : "POST",
			"path"	 : "/parse.nio",
			"data"	 : data
		}, function(data){
			var status = data.Status;
			var tabledata;
			var lang;
			if (status == 'AA'){
				temp = JSON.parse(data.Data);
				tabledata = temp.parsedData.data;
				lang = '';
			}
			else{
				lang = data.Data;
				tabledata = [];
			}
			genCTable(tabledata, table, lang);
		});
	}

	function genCTable(data, table, lang){
		var color = ['rgba(149,184,209,0.6)', 'rgba(121,180,169,0.6)', 'rgba(170,174,127,0.6)'];
		if (lang == ''){
			lang = "Not supported message.";
		}
		$("#" + table).DataTable({
			"lengthChange": false,
		  "destroy"	: true,
			"sort" : false,
			"filter"	: true,
			"paging"	: false,
			"order"	: false,
			"info"		: false,
  		"scrollY"	: "400px",
			"scrollX" : true,
  		"scrollCollapse": true,
			"autoWidth" : false,
			"data" 	: data ,
			"language": {
            		 "emptyTable": lang
       		 },
			"columns": [
						{ "data": "path" },
						{ "data": "value" }
				],
				"initComplete" : function(settings, json) {
						rawtableloader.hide();
				},
			"createdRow": function( row, data, dataIndex ) {
				var grp = data.group;
				if ( grp > 0 ) {
					var tempcol = color[grp - 1];
				 	$(row).css("background-color",tempcol);
				}
			  }
		});
	}

</script>
