<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 04/04/2016	| Added for Transaction Search
	| SDS03		| ChunYong		| 27/04/2016	| Change to HTTP Transaction Search
	| SDS04		| ChunYong		| 21/07/2017	| Update with v2 template

	======================================================================================

-->


<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>HTTP Search</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">HTTP Search </a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" >

	<div class="panel">

		<!-- Header for searching input-->
		<div class="panel-body searchbox-header	">
			<form class="form-horizontal" id="search_header">

				<div class="form-group row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 ocl-md-4" for="srchdate"> Search by </label>
						<div class="col-lg-8 col-md-8">
							<div class="input-group">
								<select class="form-control" id="srchdate" name="srchdate">
									<option value="T"> Today </option>
									<option value="7"> Last 7 days </option>
									<option value="30"> Last 30 days </option>
									<option value="R"> Date Range </option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="method"> Methods </label>
						<div class="col-lg-8 col-md-8">
							<div class="input-group">
								<select class="form-control m-b" name="method" id="method">
									<option value=""> </option>
									<option value="GET"> GET </option>
									<option value="POST"> POST </option>
									<option value="PUT"> PUT </option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group form-group-sm row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4"> Date Range </label>
						<div class="col-lg-4 col-md-4">
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="s_date_logd" id="s_date_logd" placeholder="Start Date" disabled>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="e_date_logd" id="e_date_logd" placeholder="End Date" disabled>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="remote_ip">Remote IP</label>
						<div class="col-lg-5 col-md-5">
							<input type="text" class="form-control" id="remote_ip" placeholder="IP:Port / :Port / IP">
						</div>
					</div>
				</div>

				<div class="form-group form-group-sm row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4"> Time Range </label>
						<div class="col-lg-4 col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" name="s_time_logd" id="s_time_logd" placeholder="Start Time (HH:MM:SS / HHMMSS)">
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" name="e_time_logd" id="e_time_logd" placeholder="End Time (HH:MM:SS / HHMMSS)">
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">

						<label class="control-label col-lg-4" for="ref_conn">Reference Connection</label>
						<div class="col-lg-5 col-md-5">
							<input type="text" class="form-control" name = "ref_conn" id="ref_conn">
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-w-s pull-right m-r-md" id="btn_search" >Search</button>
					<button class="btn btn-primary btn-w-s pull-right m-r-md" id="btn_clear" >Clear</button>
				</div>

			</form>
		</div>
	</div>

	<!-- Search Table-->
	<div class="panel" >
		<div class="panel-body">
			<div class="table-responsive col-lg-12 col-md-12" >
				<table class="table table-striped table-bordered table-hover"  id="G_Table">
					<thead>
						<tr>
							<th>Action</th>
							<th>Method</th>
							<th>Response Code</th>
							<th>URI</th>
							<th>Reference Connection</th>
							<th>Remote IP</th>
							<th>Server Name</th>
							<th>Date</th>
							<th>Time</th>
						</tr>
					</thead>
				</table>
				<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
					<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
						<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
						<div>S</div>
						<div>D</div>
						<div>S</div>
					</svg>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<!-- Content for Request & Response Message-->
	<div class="container-fluid hidden" id="subContent">
		<div class="tab-container">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab-1" data-toggle="tab"> Request & Response </a>
				</li>
				<li>
					<a href="#tab-2" data-toggle="tab"> Raw Data</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab-1">

				</div>
				<div class="tab-pane" id="tab-2">

				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">

	var loader;
	$(document).ready(function(){
		loader = initLoader('loader');
		$('.input-group.date').datepicker({
  	      todayBtn: "linked",
     		 	keyboardNavigation: false,
     	    forceParse: true,
          autoclose: true,
          format: "yyyy-mm-dd",
					enableOnReadonly: true
  	});
		$("#srchdate").change(function(){
			if ($("#srchdate").val() == 'R') {
				$("#s_date_logd, #e_date_logd").prop('disabled', false);
			}
			else{
				$("#s_date_logd, #e_date_logd").prop('disabled', true);
			}
		});
		genHTPTable();
	});

    $('#btn_search').click(function(event){
    	//function to reload table when search button press
    	event.preventDefault();
			$(".tab-container .tab-pane").empty();
			$("#subContent").hide();
			genHTPTable();
    });

		$("#btn_clear").click(function(event){
			 event.preventDefault();
			 var formid = $(this).closest("form").attr("id");
			 $("#" + formid + " input").val("");
			 $("#" + formid + " select").find('option:eq(0)').prop('selected', true);
			 $("#s_date_logd, #e_date_logd").prop('disabled', true);
	 });

    $('#Sdate','#Edate','#Rref').keydown(function(event){
    	//enter key function to reload table for search criteria input
    	event.preventDefault();
    	if(e.which ==13)
    	{
    		$('#RQ_DIV').collapse("hide");
				$('#RS_DIV').collapse("hide");
				$('#DTL_DIV').collapse("hide");
				$('#RQ_DIV').empty();
				$('#RS_DIV').empty();
				$('#DTL_DIV').empty();
    		genHTPTable();
    	}
    });

		$('#G_Table').on( 'click', 'a.editor_view', function (event) {
	  	event.preventDefault();
			var table = $('#G_Table').DataTable();
			table.$('tr.selected').removeClass('selected');
	    $(this).parents('tr').addClass('selected');
			storeSession(table.row( $(this).parents('tr') ).data());
			$("#subContent").removeClass("hidden");
			$("#subContent").show();
			$("#tab-1").load("pages/SDS_LOG/SDS_TRSC_RQRS.html");
			$("#tab-2").load("pages/SDS_LOG/SDS_HTTPTRSC_DTL.html");
			$("body, html").animate({
	      	scrollTop: $("#subContent").offset().top
	    }, 500);
		});

		function genHTPTable(){
			loader.show();
			triggerAjax({
				data : $("#search_header").serialize(),
				script_id : 'HTTP Search',
				method: 'POST'
			}, function(data){
				$('#G_Table').DataTable( {
						//"scrollX" : true,
					  "lengthChange": false,
					  "destroy": true,
					  "sort": false,
						"autoWidth" : false,
						"data" 			: data.Data,
						"columns" 	: [
									{ "data": null, "class": "text-center", "defaultContent": '<a href="" title="View" class="btn btn-xs btn-default btn-rounded btn-outline editor_view"><i class="fa fa-search"></i></a>' },
									{ "data": "method" },
									{ "data": "respcd" },
									{ "data": "url" },
									{ "data": "ref_conn" },
									{ "data": "remote_ip" },
									{ "data": "server_name" },
									{ "render": function ( data, type, row ) {
											return formatDate(row.date_reqs);
									}},
									{ "render": function ( data, type, row ) {
											return formatTime(row.time_reqs);
									}},
							],
						"initComplete" : function(settings, json) {
								$("body, html").animate({
										 scrollTop: $(".dataTable").offset().top - 100
								 }, 500);
								loader.hide();
							}
					});

			});
		}

    //store temp key in session storage
    function storeSession(arry){
    	var temp = arry.ref_conn.split(":");
    	sessionStorage.ref_conn = temp[0];
    	sessionStorage.ref_reqs = temp[1];
    	sessionStorage.ref_node = temp[2];
    	sessionStorage.date_reqs = arry.date_reqs;
    	sessionStorage.server_name = arry.server_name;
    }

</script>
