<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 01/07/2016	| Added for HTTP Search (Message Detail container)
	| SDS03		| ChunYong		| 20/07/2017	| Update v2 template

	======================================================================================

-->

<!-- ContentBody -->
<div class="panel panel-default" >
	<!-- container body for response message-->
	<div class="panel-heading text-center">
		<h3> Raw Data </h3>
	</div>

	<div class="panel-body">
		<div class="table-responsive col-lg-12 col-md-12">
			<table class="table table-striped table-bordered table-hover" id="EX_Table">
				<thead>
					<tr>
						<th>Entry</th>
						<th>Entry Type</th>
						<th>Thread Type</th>
						<th>Detail</th>
					</tr>
				</thead>
			</table>
			<div id="comloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
				<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
					<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
					<div>S</div>
					<div>D</div>
					<div>S</div>
				</svg>
			</div>
		</div>
	</div>

</div>

<div class="modal inmodal" id="ex_raw" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content animated bounceIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Raw Data</h4>
			</div>
			<div class="modal-body form-horizontal">
				<div class="row form-group">
					<strong class="control-label col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1" for="thread_name"> SDS Entry </strong>
					<div class="col-lg-8 col-md-8">
						<p class="form-control-static" id="thread_name"></p>
					</div>
				</div>
				<div class="row form-group b-b">
					<strong class="control-label col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1" for="codepage"> Code Page </strong>
					<div class="col-lg-3 col-md-3">
						<p class="form-control-static" id ="codepage"></p>
					</div>
					<strong class="control-label col-lg-2 col-md-2" for="entry_size"> Entry size </strong>
					<div class="col-lg-3 col-md-3">
						<p class="form-control-static" id="entry_size"></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12 col-md-12">
						<button class="btn btn-xs btn-warning pull-right m-r-md" id="btn_export">Print as txt</button>
						<button class="btn btn-xs btn-warning pull-right m-r-xs" id="btn_copy">Copy text</button>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-lg-12 col-md-12" id="EX_RAWDTA">

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var comloader;
	$(document).ready(function(){
		comloader = initLoader('comloader');
		comloader.show();
		var postdata = {
			ref_conn : sessionStorage.ref_conn,
			ref_reqs : sessionStorage.ref_reqs,
			ref_node : sessionStorage.ref_node,
			date_logd : sessionStorage.date_reqs,
			server_name : sessionStorage.server_name
		};

		$("#btn_export").click(function(){
			downloadInnerHtml('Raw Data','raw_text');
		});

		$("#btn_copy").click(function(){
			copyText("raw_text");
		});

		triggerAjax({
			data : postdata,
			script_id : 'Com Data',
			method: 'POST'
		}, function(data){
			$('#EX_Table').DataTable( {
					"lengthChange": false,
					"destroy": true,
					"sort"	 : false,
					"autoWidth" : false,
					"sort": false,
					"data" 			: data.Data,
					"columns" 	: [
								{ "data": null, "defaultContent": '<a href="" title="View" class="btn btn-xs btn-default btn-rounded btn-outline editor_view"><i class="fa fa-search"></i></a>' },
								{ "data": "type" },
								{ "data": "entry_type" },
								{ "data": "thread_type" }
						],
					"initComplete" : function(settings, json) {
								comloader.hide();
						}
				});

		});

		$('#EX_Table').on( 'click', 'a.editor_view', function (event) {
        	event.preventDefault();
					postdata.thread_type = $('#EX_Table').DataTable().row( $(this).parents('tr') ).data().thread_type;
			    postdata.entry_type = $('#EX_Table').DataTable().row( $(this).parents('tr') ).data().entry_type;
					triggerAjax({
							script_id : "Com Detail",
							data : postdata,
							method : "POST"
						}, function(data){
							if (data.Status == 'AA'){
								if (data.Data.length > 0 ){
									$('#ex_raw #thread_name').text(data.Data[0].thread_name);
									$('#ex_raw #thread_type').text(data.Data[0].thread_type);
									$('#ex_raw #entry_size').text(data.Data[0].entry_size);
									$('#ex_raw #codepage').text(data.Data[0].codepage);
									var temp = '<textarea class="form-control" rows="15" style="word-wrap: break-word;resize: none;" readonly id="raw_text">' + data.Data[0].raw_data + '</textarea>';
									$("#ex_raw #EX_RAWDTA").empty();
									$("#ex_raw #EX_RAWDTA").append(temp);
									$("#ex_raw").modal();
								}
								else{
									$('#ex_raw #thread_name').text("-");
									$('#ex_raw #thread_type').text("-");
									$('#ex_raw #entry_size').text("-");
									$('#ex_raw #codepage').text("-");
									$("#ex_raw #EX_RAWDTA").empty();
									$("#ex_raw #EX_RAWDTA").append('<h2 class="text-center"> No data found !!</h2>' );
									$("#ex_raw").modal();
								}
							}
					});
    	});
	});

</script>
