<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 19/07/2016	| Added for Composite Search
	| SDS03		| ChunYong		| 21/07/2017	| New Design for V2

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Composite Search</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">Composite Inquiry </a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight">

	<div class="panel searchbox-header">

		<!-- Header for searching input-->
		<div class="panel-body">
			<form class="form-horizontal" id="search_header">

				<div class="form-group row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="srchdate"> Search by </label>
						<div class="col-lg-8 col-md-8">
							<div class="input-group">
								<select class="form-control" id="srchdate" name="srchdate">
									<option value="T"> Today </option>
									<option value="7"> Last 7 days </option>
									<option value="30"> Last 30 days </option>
									<option value="R"> Date Range </option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group form-group-sm row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4"> Date Range </label>
						<div class="col-lg-4 col-md-4">
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="s_date_logd" id="s_date_logd" placeholder="Start Date" disabled>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="e_date_logd" id="e_date_logd" placeholder="End Date" disabled>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="comp_flag"> Transaction Status </label>
						<div class="col-lg-8 col-md-8">
							<div class="input-group">
								<select class="form-control m-b" name="comp_flag" id="comp_flag">
									<option value=""> All </option>
									<option value="C"> Completed </option>
									<option value="A"> Accepted </option>
									<option value="R"> Rejected </option>
									<option value="T"> Timeout </option>
									<option value="E"> Error </option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group form-group-sm row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4"> Time Range </label>
						<div class="col-lg-4 col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" name="s_time_logd" id="s_time_logd" placeholder="Start Time (HH:MM:SS / HHMMSS)">
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" name="e_time_logd" id="e_time_logd" placeholder="End Time (HH:MM:SS / HHMMSS)">
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="host_sid" >Source ID</label>
						<div class="col-lg-5 col-md-5">
							<input type="text" class="form-control" name="host_sid" id="host_sid">
						</div>
					</div>
				</div>

				<div class="form-group form-group-sm row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="ref_conn">Connection Reference</label>
						<div class="col-lg-6 col-md-6">
							<input type="text" class="form-control" name="ref_conn" id="ref_conn">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="ph_webservice">Web Service Name</label>
						<div class="col-lg-7 col-md-7">
							<input type="text" class="form-control" name="ph_webservice" id="ph_webservice">
						</div>
					</div>
				</div>

				<div class="hidden hidden-box">
					<div class="form-group form-group-sm row">
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="remote_ip" >Remote IP</label>
							<div class="col-lg-4 col-md-4">
								<input type="text" class="form-control" name="remote_ip" id="remote_ip" placeholder="IP:Port / :Port / IP">
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="trx_ref">Reference</label>
							<div class="col-lg-7 col-md-7">
								<input type="text" class="form-control" name="trx_ref" id="trx_ref" >
							</div>
						</div>
					</div>
					<div class="form-group form-group-sm row">
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="host_ref" >Host Reference</label>
							<div class="col-lg-6 col-md-6">
								<input type="text" class="form-control" name="host_ref" id="host_ref">
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="host_txcd" >Transaction Code</label>
							<div class="col-lg-3 col-md-3">
								<input type="text" class="form-control" name="host_txcd" id="host_txcd">
							</div>
						</div>
					</div>
					<div class="form-group form-group-sm row">
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4" for="trx_cif" >CIF Number</label>
							<div class="col-lg-4 col-md-4">
								<input type="text" class="form-control" name="trx_cif" id="trx_cif">
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-md-4 col-md-4" for="trx_act">Account Number</label>
							<div class="col-md-5 col-md-5">
								<input type="text" class="form-control" name="trx_act" id="trx_act">
							</div>
						</div>
					</div>
					<div class="form-group form-group-sm row">
						<div class="col-lg-6 col-md-6">
							<label class="control-label col-lg-4 col-md-4"> Amount Range </label>
							<div class="col-lg-4 col-md-4">
								<div class="input-group">
									<input type="text" class="form-control" name="s_trx_amt" id="s_trx_amt" placeholder="Start Amount">
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="input-group">
									<input type="text" class="form-control" name="e_trx_amt" id="e_trx_amt" placeholder="End Amount">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<a href="javascript:void(0)" onclick="showMore()"><label type="text" class="show-more control-label col-lg-offset-4 col-lg-3"> Show More Search Options <i class="fa fa-angle-double-down"></i></label></a>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-w-s pull-right m-r-md" id="btn_search" >Search</button>
					<button class="btn btn-primary btn-w-s pull-right m-r-md" id="btn_clear" >Clear</button>
				</div>

			</form>
		</div>
	</div>

	<div class="panel">
		<!-- Search Table-->
		<div class="panel-body">
			<div class="table-responsive col-lg-12 col-md-12">
				<table class="table table-striped table-bordered table-hover" id="C_Table">
					<thead>
						<tr>
							<th>Action</th>
							<th>Web Service</th>
							<th>Type</th>
							<th>Transaction Status</th>
							<th>Host Status</th>
							<th>Source</th>
							<th>Destination</th>
							<th>Remote IP</th>
							<th>Host Reference</th>
							<th>Connection Reference</th>
							<th>Transaction Code</th>
							<th>CIF Number</th>
							<th>Account Number</th>
							<th>Amount</th>
							<th>Server Name</th>
							<th>Date</th>
							<th>Time</th>
						</tr>
					</thead>
				</table>
				<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
					<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
						<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
						<div>S</div>
						<div>D</div>
						<div>S</div>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="subContent" class="hidden" style="padding-bottom:30px;">
	<div class="row">
		<div class="col-lg-12">
			<div class="tab-container">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab-1" data-toggle="tab"> Transaction Summary </a>
					</li>
					<li>
						<a href="#tab-2" data-toggle="tab"> Transaction Detail </a>
					</li>
					<li>
						<a href="#tab-3" data-toggle="tab"> Transaction Performance </a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab-1">

					</div>
					<div class="tab-pane" id="tab-2">

					</div>
					<div class="tab-pane" id="tab-3">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var mainloader;
	$(document).ready(function(){
		mainloader = initLoader('loader');
		$('.input-group.date').datepicker({
  	      todayBtn: "linked",
     		 	keyboardNavigation: false,
     	    forceParse: true,
          autoclose: true,
          format: "yyyy-mm-dd",
					enableOnReadonly: true
    });
		genComTable();
	});

	$("#btn_clear").click(function(event){
			event.preventDefault();
			var formid = $(this).closest("form").attr("id");
			$("#" + formid + " input").val("");
			$("#" + formid + " select").find('option:eq(0)').prop('selected', true);
			$("#s_date_logd, #e_date_logd").prop('disabled', true);
	});

	$("#btn_search").click(function(event){
		event.preventDefault();
		clearSession();
		$("#subContent #tab-1").empty();
		$("#subContent #tab-2").empty();
		$("#subContent #tab-3").empty();
		$("#subContent").hide();
		genComTable();
	});

	$("#srchdate").change(function(){
		if ($("#srchdate").val() == 'R') {
			$("#s_date_logd, #e_date_logd").prop('disabled', false);
		}
		else{
			$("#s_date_logd, #e_date_logd").prop('disabled', true);
		}
	});

	$('#C_Table').on( 'click', 'a.editor_view', function (event) {
		event.preventDefault();
		$('#C_Table').DataTable().$('tr.selected').removeClass('selected');
		$(this).parents('tr').addClass('selected');
		storeSession($('#C_Table').DataTable().row( $(this).parents('tr') ).data());
		$("#subContent").removeClass("hidden");
		$("#subContent").show();
		$("#subContent #tab-1").load("pages/SDS_LOG/SDS_TR_SUM.html");
		$("#subContent #tab-2").load("pages/SDS_LOG/SDS_TR_COMP_DTL.html");
		$("#subContent #tab-3").load("pages/SDS_LOG/SDS_TR_PFM.html");
		$("body, html").animate({
				scrollTop: $("#subContent").offset().top
		}, 500);
	});

	$('#C_Table').on( 'click', 'a.editor_add', function (event) {
			event.preventDefault();
			toastr.options = {
				"closeButton": true,
					"debug": false,
					"progressBar": false,
					"positionClass": "toast-top-right",
					"onclick": null,
					"showDuration": "400",
					"hideDuration": "500",
					"timeOut": "5000",
					"extendedTimeOut": "1000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
			};
			triggerAjax({
				data : {
					'date_logd' : $('#C_Table').DataTable().row( $(this).parents('tr') ).data().date_logd,
					'comp_flag' : $('#C_Table').DataTable().row( $(this).parents('tr') ).data().comp_flag,
					'server_name' : $('#C_Table').DataTable().row( $(this).parents('tr') ).data().server_name,
					'time_logd'	: $('#C_Table').DataTable().row( $(this).parents('tr') ).data().time_logd,
					'ref_conn'	: $('#C_Table').DataTable().row( $(this).parents('tr') ).data().ref_conn,
					'ph_webservice'	: $('#C_Table').DataTable().row( $(this).parents('tr') ).data().ph_webservice
				},
				script_id : 'Add Watchlist',
				method: 'POST'
			}, function(data){
				if (data.Status == 'AA'){
					toastr['success'](data.Data);
				}
				else{
					toastr['error'](data.Data);
				}
			});
	});

	function genComTable(){
		mainloader.show();
		triggerAjax({
			data : $("#search_header").serialize(),
			script_id : 'Composite Search',
			method: 'POST'
		}, function(data){
			$("#C_Table").dataTable({
				"data" 			: data.Data,
				"scrollX" 	: true,
				"lengthChange": false,
				"destroy"		: true,
				"sort" 	: true,
				"autoWidth" : false,
				"language"	: {
						"emptyTable": "No records found"
				},
				"columns": [
							{ "data": null, "defaultContent": '<a href="" title="View" class="btn btn-xs btn-default btn-rounded btn-outline editor_view"><i class="fa fa-search"></i></a> <a href="" title="Add" class="btn btn-xs btn-default btn-rounded btn-outline editor_add"><i class="fa fa-plus"></i></a>' },
							{ "data": "ph_webservice" },
							{ "data": "ph_webservice_type" },
							{ "render": function ( data, type, row ) {
								switch(row.comp_flag){
									case 'Completed' :
										return '<div class="text-center"><span class="label label-primary">' + row.comp_flag + '</span></div>';
										break;
									case 'Rejected' :
										return '<div class="text-center"><span class="label label-danger">' + row.comp_flag + '</span></div>';
										break;
									case 'Timeout' :
										return '<div class="text-center"><span class="label label-warning">' + row.comp_flag + '</span></div>';
										break;
									case 'Accepted' :
										return '<div class="text-center"><span class="label label-success">' + row.comp_flag + '</span></div>';
										break;
									default :
										return '<div class="text-center"><span class="label">' + row.comp_flag + '</span></div>';
										break;
								}
							}},
							{ "data": "host_sts" },
							{ "data": "host_sid" },
							{ "data": "host_did" },
							{ "data": "remote_ip" },
							{ "data": "host_ref" },
							{ "data": "ref_conn" },
							{ "data": "host_txcd" },
							{ "data": "trx_cif" },
							{ "data": "trx_act" },
							{ "render": function ( data, type, row ) {
								return parseFloat(row.trx_amt).toFixed(2);
							}},
							{ "data": "server_name" },
							{ "render": function ( data, type, row ) {
								return formatDate(row.date_logd);
							}},
							{ "render": function ( data, type, row ) {
								return formatTime(row.time_logd);
							}}
						],
						"initComplete" : function(settings, json) {
								$("body, html").animate({
					      	scrollTop: $(".dataTable").offset().top
					    	}, 500);
								mainloader.hide();
						}
				});
			});
	}

	function storeSession(aryData){
		var ref = aryData.ref_conn.split(":");
		sessionStorage.date_logd  = aryData.date_logd.replace(/[-]/g, "");
		sessionStorage.ref_conn = ref[0];
		sessionStorage.ref_reqs = ref[1];
		sessionStorage.ref_node = ref[2];
		sessionStorage.server_name = aryData.server_name;
		sessionStorage.ph_webservice = aryData.ph_webservice;
	}

</script>
