<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 19/04/2016	| Added for Transaction Search
	| SDS03		| ChunYong		| 24/10/2016	| Added for SMS Search
	| SDS04		| ChunYong		| 21/07/2017	| Update for v2 template

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SMS Report</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="setMenuPath({id:'mainContent',path:'pages/DSPC_HOME/DSPC_Home.html'})">Home</a>
			</li>
			<li>
				<a href="#">SMS Report </a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight">

	<div class="panel searchbox-header">

		<!-- Header for searching input-->
		<div class="panel-body">
			<form class="form-horizontal" id="search_header">
				<div class="form-group row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="srchdate"> Search by </label>
						<div class="col-lg-8 col-md-8">
							<div class="input-group">
								<select class="form-control" id="srchdate" name="srchdate">
									<option value="T"> Today </option>
									<option value="7"> Last 7 days </option>
									<option value="30"> Last 30 days </option>
									<option value="R"> Date Range </option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="form-group form-group-sm row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4"> Date Range </label>
						<div class="col-lg-4 col-md-4">
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="s_date_logd" id="s_date_logd" placeholder="Start Date" disabled>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="input-group date">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="e_date_logd" id="e_date_logd" placeholder="End Date" disabled>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="comp_flag"> Transaction Status </label>
						<div class="col-lg-8 col-md-8">
							<div class="input-group">
								<select class="form-control m-b" name="comp_flag" id="comp_flag">
									<option value=""> All </option>
									<option value="C"> Completed </option>
									<option value="A"> Accepted </option>
									<option value="R"> Rejected </option>
									<option value="T"> Timeout </option>
									<option value="E"> Error </option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group form-group-sm row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4"> Time Range </label>
						<div class="col-lg-4 col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" name="s_time_logd" id="s_time_logd" placeholder="Start Time (HH:MM:SS / HHMMSS)">
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" name="e_time_logd" id="e_time_logd" placeholder="End Time (HH:MM:SS / HHMMSS)">
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="phone_num" >Phone Number</label>
						<div class="col-lg-5 col-md-5">
							<input type="text" class="form-control" name="phone_num" id="phone_num">
						</div>
					</div>
				</div>

				<div class="form-group form-group-sm row">
					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="ref_conn" > Reference Connection</label>
						<div class="col-lg-4 col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" name="ref_conn" id="ref_conn">
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
						<label class="control-label col-lg-4 col-md-4" for="host_txcd" >Transaction Code</label>
						<div class="col-lg-4 col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" name="host_txcd" id="ref_conn">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-primary btn-w-s pull-right m-r-md" id="btn_search" >Search</button>
					<button class="btn btn-primary btn-w-s pull-right m-r-md" id="btn_clear" >Clear</button>
				</div>
			</form>
			</div>
		</div>

		<div class="panel">
		<!-- Search Table-->
			<div class="panel-body">
				<div class="table-responsive col-lg-12 col-md-12">
					<table class="table table-striped table-bordered table-hover" id="G_Table">
						<thead>
							<tr>
								<th>Action</th>
								<th>Date</th>
								<th>Time</th>
								<th>Transaction Status</th>
								<th>Transaction Code</th>
								<th>Phone Number</th>
								<th>SMS Provider</th>
								<th>Connection Reference</th>
								<th>Original Connection Reference</th>
								<th>Server Name</th>
							</tr>
						</thead>
					</table>
					<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
						<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
							<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
							<div>S</div>
							<div>D</div>
							<div>S</div>
						</svg>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="modal inmodal" id="Msms_detail" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content animated bounceIn">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">SMS Detail</h4>
			</div>
			<div class="modal-body form-horizontal">
				<div class="form-group">
					<label class="control-label col-lg-3 col-md-3">Phone Number</label>
					<div class="col-lg-3 col-md-3">
						<p class="form-control-static" id="Mphone_num">  </p>
					</div>

					<label class="control-label col-lg-3 col-md-3">Service Provider</label>
					<div class="col-lg-3 col-md-3">
						<p class="form-control-static" id="Msms_provider">  </p>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-lg-3 col-md-3">Transaction Code</label>
					<div class="col-lg-3 col-md-3">
						<p class="form-control-static" id="Mhost_txcd">  </p>
					</div>

					<label class="control-label col-lg-3 col-md-3">Transaction Status</label>
					<div class="col-lg-3 col-md-3">
						<p class="form-control-static" id="Mcomp_flag">  </p>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-lg-3 col-md-3">Response Description</label>
					<div class="col-lg-5 col-md-5">
						<p class="form-control-static" id="Mresp_desc">  </p>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1" style="text-align:left">Message Content</label>
					<div class="form-control-static col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 panel" id="MRW_DATA" style="word-wrap: break-word;"> </div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var loader;
	$(document).ready(function(){
		loader = initLoader('loader');
		$('.input-group.date').datepicker({
    	      todayBtn: "linked",
       		 	keyboardNavigation: false,
       	    forceParse: true,
            autoclose: true,
            format: "yyyy-mm-dd",
						enableOnReadonly: true
    });
		genSMSTable();
	});

	$("#btn_clear").click(function(event){
			event.preventDefault();
			var formid = $(this).closest("form").attr("id");
			$("#" + formid + " input").val("");
			$("#" + formid + " select").find('option:eq(0)').prop('selected', true);
			$("#s_date_logd, #e_date_logd").prop('disabled', true);
	});

	$("#btn_search").click(function(event){
		event.preventDefault();
		clearSession();
		genSMSTable();
	});

	$("#srchdate").change(function(){
		if ($("#srchdate").val() == 'R') {
			$("#s_date_logd, #e_date_logd").prop('disabled', false);
		}
		else{
			$("#s_date_logd, #e_date_logd").prop('disabled', true);
		}
	});


	$('#G_Table').on( 'click', 'a.editor_view', function (event) {
		event.preventDefault();
		var table = $("#G_Table").DataTable();
		var phone_num  = table.row( $(this).parents('tr') ).data().phone_num;
		var sms_provider  = table.row( $(this).parents('tr') ).data().sms_provider;
		var host_txcd  = table.row( $(this).parents('tr') ).data().host_txcd;
		var comp_flag  = table.row( $(this).parents('tr') ).data().comp_flag;
		var resp_desc  = table.row( $(this).parents('tr') ).data().resp_desc;
		var raw_data  = table.row( $(this).parents('tr') ).data().raw_data;
		$("#Msms_detail p").text('');
		$("#MRW_DATA").text('');

		$("#Mphone_num").text(phone_num);
		$("#Msms_provider").text(sms_provider);
		$("#Mhost_txcd").text(host_txcd);
		$("#Mcomp_flag").text(comp_flag);
		$("#Mresp_desc").text(resp_desc);
		$("#MRW_DATA").text(raw_data);
		$("#Msms_detail").modal();
	});

	function genSMSTable(){
		loader.show();
		triggerAjax({
			data : $("#search_header").serialize(),
			script_id : 'SMS Report',
			method: 'POST'
		}, function(data){
				$('#G_Table').DataTable( {
						"scrollX" : true,
			  		"lengthChange": false,
			  		"autoWidth" : false,
			  		"destroy": true,
			  		"sort" : false,
			  		"data" : data.Data,
			  		"dom" : 'Bfrtip',
	          "buttons" : [
	          			{
										extend: 'excel',
										text: 'Export Table Data',
										title: 'SMS Report Excel',
										exportOptions: {
											columns: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ],
											modifier: {
												search: 'none'
											}
										},
									}
	          	],
							"columns": [
										{ "data": null, "defaultContent": '<a href="" title="View" class="btn btn-xs btn-default btn-rounded btn-outline editor_view"><i class="fa fa-search"></i></a>' },
										{ "render": function ( data, type, row ) {
											return formatDate(row.date_logd);
										}},
										{ "render": function ( data, type, row ) {
											return formatTime(row.time_logd);
										}},
										{ "render": function ( data, type, row ) {
											switch(row.comp_flag){
												case 'Completed' :
													return '<div class="text-center"><span class="label label-primary">' + row.comp_flag + '</span></div>';
													break;
												case 'Rejected' :
													return '<div class="text-center"><span class="label label-danger">' + row.comp_flag + '</span></div>';
													break;
												case 'Timeout' :
													return '<div class="text-center"><span class="label label-warning">' + row.comp_flag + '</span></div>';
													break;
												case 'Accepted' :
													return '<div class="text-center"><span class="label label-success">' + row.comp_flag + '</span></div>';
													break;
												case 'Error' :
													return '<div class="text-center"><span class="label label-default">' + row.comp_flag + '</span></div>';
													break;
												default :
													return '<div class="text-center"><span class="label ">' + row.comp_flag + '</span></div>';
													break;
											}
										}},
										{ "data": "host_txcd" },
										{ "data": "phone_num" },
										{ "data": "sms_provider" },
										{ "data": "ref_conn" },
										{ "data": "ori_ref_conn" },
										{ "data": "server_name" }
								],
							 "initComplete": function( settings, json ) {
								 	$("body, html").animate({
						 				scrollTop: $(".dataTable").offset().top
						 			}, 500);
   									loader.hide();
  							}
					});
			});
	}
</script>
