<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 12/04/2016	| Added for SDS Event Log

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SDS Event Log</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">SDS Event Log </a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" >

	<div class="ibox">
		<div class="ibox-content inspinia-timeline">
			<div class="row m-b-sm m-t-sm">
				<div class="input-group">
				<div class="col-lg-12 col-md-12">
					<div class="col-lg-12 col-md-12">
						<div class="input-group date">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" id="SrchDate" placeholder="Search Date (YYYY-MM-DD)">
						</div>
					</div>

				<div class="col-lg-6 col-md-6">
					<input type="text" class="form-control" id="Stime" placeholder="Start Time (HH:MM:SS / HHMMSS)" >
				</div>

				<div class="col-lg-6 col-md-6">
					<input type="text" class="form-control" id="Etime" placeholder="End Time (HH:MM:SS / HHMMSS)">
				</div>
				<div class="col-lg-6 col-md-6">
					<select class="form-control" id="EType">
						<option disabled selected>Event Type</option>
						<option></option>
						<option>DEBUG</option>
						<option>INFO</option>
						<option>WARN</option>
					</select>
				</div>

				<div class="col-lg-6 col-md-6">
					<input type="text" class="form-control" id="Sname" placeholder="Server Name" >
				</div>

			</div>
			<span class="input-group-btn">
				<button type="button" class="btn btn btn-primary" id="search">
					<i class="fa fa-search"> </i>
				</button>
			</span>
			</div>
			</div>
		</div>

		<div class="hr-line-dashed"></div>

		<div class="ibox">
			<div class="ibox-content row">
				<div class="col-lg-12 col-md-12">
					<div class="table-responsive">
						<table class="compact table-nowrap table-hover dataTables" id="S_Table">
							<thead>
								<tr>
									<th>Date</th>
									<th>Time</th>
									<th>MS</th>
									<th>Event Type</th>
									<th>Event Data</th>
									<th>Server Name</th>
								</tr>
							</thead>
						</table>
					</div>
					<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
						<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
							<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
							<div>S</div>
							<div>D</div>
							<div>S</div>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	var loader;
	$(document).ready(function(){
		loader = initLoader('loader');
		$('.input-group.date').datepicker({
    	      todayBtn: "linked",
       		 	keyboardNavigation: false,
       	    forceParse: true,
            autoclose: true,
            format: "yyyy-mm-dd",
						enableOnReadonly: true
    	});
		genTable();
	});

	$("#search").click(function(event){
		event.preventDefault();
		genTable();
	});

	function genTable(){
		clearSession();
		loader.show();
		sessionStorage.date = $("#SrchDate").val();
		sessionStorage.stime = $("#Stime").val();
		sessionStorage.etime = $("#Etime").val();
		sessionStorage.etype = $("#EType").val();
		sessionStorage.SName = $("#Sname").val();
		triggerAjax({
			method 	: "POST",
			data		: {
				SrchDate	: sessionStorage.date,
				STime		: $("#Stime").val(),
				"ETime"	: $("#Etime").val(),
				"EType"	: $("#EType").val(),
			},
			script_id : "Event Count"
		}, function(data){
			sessionStorage.TCount = data.Data[0].count;
			$('#S_Table').DataTable({
		  			"lengthChange": false,
		  			"autoWidth": false,
		  			"destroy": true,
		  			"filter" : false,
		  			"serverSide": true,
		  			"info" : false,
		  			"processing" : true,
						"sort" : false,
		  			"order": false,
    				"ajax": {
    						"url"	: "PHP/SQL/LOG/EV_Transaction.php",
    						"type"	: "POST",
    						"dataSrc" : "data.Data",
						"data"	:  function(d) {
										d.ACT 	= "INQ",
										d.SrchDate	= sessionStorage.date,
										d.STime	= sessionStorage.stime,
										d.ETime	= sessionStorage.etime,
										d.EType	= sessionStorage.etype,
										d.TCount = sessionStorage.TCount,
										d.SName = sessionStorage.SName
										}
					},
					"columnDefs": [
								{
                		"targets": [ 0 ],
                		"width": "9%"
            		},

          ],
							"columns": [
										{ "render": function ( data, type, row ) {
											return formatDate(row.date_logd);
										}},
										{ "render": function ( data, type, row ) {
											return formatTime(row.time_logd);
										}},
										{ "data": "tims_logd", "width": "6%" },
										{ "data": "log_evt" },
										{ "data": "log_dta" },
										{ "data": "server_name" }
							],
							"initComplete": function( settings, json ) {
								   loader.hide();
							}
							});
		});
	}
</script>
