<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 21/04/2016	| Added for Transaction Search(Transaction Detail)
	| SDS03		| ChunYong		| 24/08/2016	| Added Loader for loading
	| SDS04		| ChunYong		| 21/09/2016	| Added export as text file and copy
	| SDS05		| ChunYong		| 12/10/2016	| Added table view of raw data (temporary)
	======================================================================================

-->



<!-- ContentBody -->
<div class="row">
	<div class="form-group">
		<div class="col-lg-12 col-md-12">
			<div class="col-lg-6 col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3> Request Raw Data </h3>
					</div>
					<div class="panel-body" id="RQ_DATA_RAW">
						<div class="col-lg-12 col-md-12">
							<button class="btn btn-xs btn-warning pull-right m-r-md" id="export_in">Print as txt</button>
							<button class="btn btn-xs btn-warning pull-right m-r-xs" id="copy_in">Copy text</button>
						</div>
						<div class="form-control-static col-lg-12 col-md-12 raw_data ">
							<pre> </pre>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3> Response Raw Data </h3>
					</div>
					<div class="panel-body" id="RS_DATA_RAW">
						<div class="col-lg-12 col-md-12">
							<button class="btn btn-xs btn-warning pull-right m-r-md" id="export_out">Print as txt</button>
							<button class="btn btn-xs btn-warning pull-right m-r-xs" id="copy_out">Copy text</button>
						</div>
						<div class="form-control-static col-lg-12 col-md-12 raw_data ">
							<pre> </pre>
						</div>
					</div>
				</div>
			</div>
			<div id="rloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
				<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
					<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
					<div>S</div>
					<div>D</div>
					<div>S</div>
				</svg>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){
		var rloader = initLoader('rloader');
		rloader.show();
		postdata = getWatchListKey();
		triggerAjax({
				script_id : "Transaction Detail",
				method : "POST",
				data : postdata
			},function(data){
				if (data.Status == 'AA'){
					if (data.Data.length > 0 ){
						tempdata = data.Data[0];
						genData(tempdata.kq_raw_data, "RQ_DATA_RAW");
						genData(tempdata.ks_raw_data, "RS_DATA_RAW");
						rloader.hide();
					}
				}
			});
	});

	$("#export_in").click(function(event){
		event.preventDefault();
		downloadInnerHtml('Raw Data In','RQ_DATA_RAW .raw_data pre');
	});

	$("#copy_in").click(function(event){
		event.preventDefault();
		copyText("RQ_DATA_RAW .raw_data pre");
	});

	$("#copy_out").click(function(event){
		event.preventDefault();
		copyText("RS_DATA_RAW .raw_data pre");
	});

	$("#export_out").click(function(event){
		event.preventDefault();
		downloadInnerHtml('Raw Data Out','RS_DATA_RAW .raw_data pre');
	});

	function genData(data, cont){
		var ele = $("#" + cont + " .raw_data pre")[0];
		ele.innerHTML += data;
	}

</script>
