<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| KhaiMeng		| 12/01/2016	| New Release.
	| SDS02		| ChunYong		| 13/07/2016	| Added for Manage Menu Screen
	| SDS03		| ChunYong		| 09/08/2017	| Update with v2 template

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>SDS Menu Management</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">Menu Management</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight" >

	<div class="ibox">

		<!-- Header for searching input-->
		<div class="ibox-title">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-lg-3"> Menu ID </label>
				<div class="col-lg-2">
					<p class="form-control-static" id="MENU_ID"></p>
				</div>
				<label class="control-label col-lg-3"> Menu Title </label>
				<div class="col-lg-2">
					<p class="form-control-static" id="MENU_TITLE"></p>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-3"> Menu Index </label>
				<div class="col-lg-2">
					<p class="form-control-static" id="INDEX_LEVEL"></p>
				</div>
				<label class="control-label col-lg-3"> System </label>
				<div class="col-lg-2">
					<p class="form-control-static" id="SYS"></p>
				</div>
			</div>

			<div class="form-group">
				<button class="btn btn-primary btn-md pull-right m-r-lg" id="btn_add">Add</button>
			</div>

		</form>
		</div>

		<!-- Search Table-->
		<div class="ibox-content">
			<div class="row">
				<div class="table-responsive col-lg-12">
					<table class="table table-striped table-bordered table-hover" id="M_Table">
						<thead>
							<tr>
								<th>Action</th>
								<th>Menu ID</th>
								<th>Menu Title</th>
								<th>Index Level</th>
								<th>System</th>
							</tr>
						</thead>
					</table>
					<div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
						<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
							<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
							<div>S</div>
							<div>D</div>
							<div>S</div>
						</svg>
					</div>
				</div>
			</div>
		</div>

		<div class="ibox-footer">
			<div class="row">
				<button class="btn btn-primary btn-md pull-right m-r-lg" id="btn_back">Back</button>
			</div>
		</div>
	</div>

	<div class="modal inmodal" id="addModal" role="dialog">
    	<div class="modal-dialog">

      		<!-- Modal content-->
      		<div class="modal-content animated fadeIn">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">Add Parent Menu</h4>
        		</div>
        		<div class="modal-body">
          			<form class="form-horizontal" id="addForm" role="form">
          				<div class="form-group">
          					<label class="label-control col-lg-4"> Menu_ID </label>
          					<input class="input-control col-lg-6" id="A_MENU_ID" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
          				</div>

          				<div class="form-group">
          					<label class="label-control col-lg-4"> Menu Title </label>
          					<input class="input-control col-lg-6" id="A_MENU_TITLE" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
          				</div>

          				<div class="form-group">
          					<label class="label-control col-lg-4"> Index Level </label>
          					<input class="input-control col-lg-6" id="A_INDEX_LEVEL" name="A_INDEX_LEVEL" type="text"> </input>
          				</div>

          				<div class="form-group">
          					<label class="label-control col-lg-4"> Icon </label>
          					<input class="input-control col-lg-6" id="A_MENU_ICON" name="A_MENU_ICON" type="text"> </input>
          				</div>

          				<div class="form-group">
          					<label class="label-control col-lg-4"> HTML Location </label>
          					<input class="input-control col-lg-6" id="A_HREF"></input>
          				</div>
          			</form>
        		</div>
        		<div class="modal-footer">
          			<button type="submit" class="btn btn-default" id="btn_Menu_M_Add">Add</button>
          			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
      		</div>
    	</div>
    </div>

    <div class="modal inmodal" id="editModal" role="dialog">
    	<div class="modal-dialog">

      		<!-- Modal content-->
      		<div class="modal-content animated fadeIn">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">Edit User</h4>
        		</div>
        		<div class="modal-body">
          			<form class="form-horizontal" id="edtForm" role="form">
          				<div class="form-group">
          					<label class="label-control col-lg-4"> Menu_ID </label>
          					<input class="input-control col-lg-6" id="E_MENU_ID" disabled> </input>
          				</div>

          				<div class="form-group">
          					<label class="label-control col-lg-4"> Menu Title </label>
          					<input class="input-control col-lg-6" id="E_MENU_TITLE" data-toggle="popover" data-placement="right" data-content="Field cannot be empty."> </input>
          				</div>

          				<div class="form-group">
          					<label class="label-control col-lg-4"> Index Level </label>
          					<input class="input-control col-lg-6" id="E_INDEX_LEVEL" name="E_INDEX_LEVEL" type="text"> </input>
          				</div>

          				<div class="form-group">
          					<label class="label-control col-lg-4"> Icon </label>
          					<input class="input-control col-lg-6" id="E_MENU_ICON" name="E_MENU_ICON" type="text"> </input>
          				</div>

          				<div class="form-group">
          					<label class="label-control col-lg-4"> HTML Location </label>
          					<input class="input-control col-lg-6" id="E_HREF"></input>
          				</div>
          			</form>
        		</div>
        		<div class="modal-footer">
          			<button type="button" class="btn btn-default" id="btn_Menu_M_Edt">Save</button>
          			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		</div>
      		</div>
    	</div>
    </div>

</div>

<script type="text/javascript">

	//Initial table as global variable
	var table;

	$(document).ready(function(){
		$("#MENU_ID").text(sessionStorage.MENU_ID);
		$("#MENU_TITLE").text(sessionStorage.MENU_TITLE);
		$("#INDEX_LEVEL").text(sessionStorage.INDEX_LEVEL);
		$("#SYS").text(sessionStorage.SYS);
		genTable();

		// Edit record
    $('#M_Table').on( 'click', 'a.editor_edit', function (event) {
    	event.preventDefault();
      $('#edtForm input').each(function(){
    		$(this).popover("hide");
	    	$(this).val('');
    	});
      var menuid = table.row( $(this).parents('tr') ).data().MENU_ID;
			triggerAjax({
				method	 : "POST",
				data		 : {
							"MENU_ID"		: menuid,
							"PARENT"		: sessionStorage.MENU_ID
				},
				script_id: "Sub Menu Detail"
			}, function(data){
					if (data.Status == 'AB'){
						Command: toastr["error"](data.Data);
					}
					else{
						$("#editModal").modal();
						$("#E_MENU_ID").val(data.Data[0].MENU_ID);
						$("#E_MENU_TITLE").val(data.Data[0].MENU_TITLE);
						$("#E_INDEX_LEVEL").val(data.Data[0].INDEX_LEVEL);
						$("#E_MENU_ICON").val(data.Data[0].MENU_ICON);
						$("#E_HREF").val(data.Data[0].HREF);
						$("#E_SYS").val(data.Data[0].SYS);
					}
			});
    });

    // Delete a record
    $('#M_Table').on( 'click', 'a.editor_remove', function (e) {
        event.preventDefault();
        var menuid = table.row( $(this).parents('tr') ).data().MENU_ID;
        swal({
              title: "Are you sure to remove the sub menu?",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Yes, delete it!",
              closeOnConfirm: true
          	}, function () {
							triggerAjax({
								method 	: "POST",
								data 		: {
									"MENU_ID"	: menuid
								},
								script_id : "Remove Menu"
							}, function(data){
									if (data.Status == 'AB'){
										Command: toastr["error"](data.Data);
									}
									else{
										Command: toastr["success"](data.Data);
										genTable();
									}
							});
          });
    	});
	});

  $('#btn_search').click(function(){
    //function to reload table when search button press
    event.preventDefault();
    genTable();
  });

  $('#btn_add').click(function(event){
  	//function to reload table when search button press
    event.preventDefault();
    $('#addModal input').val('');
    $('#addModal').modal();
    $('#addForm input').each(function(){
    	$(this).popover("hide");
    });
  });

  $('#btn_back').click(function(event){
  	$("#mainContent").load("pages/CONFIG_MENU/SDS_MENU.html");
  });

  $('#btn_Menu_M_Add').click(function(){
    if ($('#A_MENU_ID').val() != '' && $('#A_MENU_TITLE').val() != '')
    {
			triggerAjax({
				method 	: "POST",
				data 		: {
					"MENU_ID"		: $('#A_MENU_ID').val(),
					"MENU_TITLE"	: $('#A_MENU_TITLE').val(),
					"PARENT"		: sessionStorage.MENU_ID,
					"PARENT_LEVEL"	: sessionStorage.INDEX_LEVEL,
					"INDEX_LEVEL"	: $('#A_INDEX_LEVEL').val(),
					"MENU_ICON"		: $('#A_MENU_ICON').val(),
					"HREF"			: $('#A_HREF').val(),
					"SYS"			: sessionStorage.SYS
				},
				script_id : "Add Sub Menu"
			}, function(data){
					if (data.Status == 'AB'){
						Command: toastr["error"](data.Data);
					}
					else{
						$('#addModal').modal("hide");
						Command: toastr["success"](data.Data);
						genTable();
					}
			});
		}
		else
		{
			$('#addForm input, #addForm select').each(function(){
				if ($(this).val() == '')
				{
					$(this).popover("show");
				}
				else
				{
					$(this).popover("hide");
				}
			});
		}
  });

  $('#btn_Menu_M_Edt').click(function(){
    if ($('#E_MENU_ID').val() != '' && $('#E_MENU_TITLE').val() != '')
    {
			triggerAjax({
				method 	: "POST",
				data		: {
								"MENU_ID"		: $('#E_MENU_ID').val(),
								"MENU_TITLE"	: $('#E_MENU_TITLE').val(),
								"PARENT_LEVEL"	: sessionStorage.INDEX_LEVEL,
								"INDEX_LEVEL"	: $('#E_INDEX_LEVEL').val(),
								"MENU_ICON"		: $('#E_MENU_ICON').val(),
								"HREF"			: $('#E_HREF').val(),
								"SYS"			: $('#E_SYS').val()
				},
				script_id: "Update Sub Menu"
			}, function(data){
					if (data.Status == 'AB'){
						Command: toastr["error"](data.Data);
					}
					else{
						$('#editModal').modal("hide");
						Command: toastr["success"](data.Data);
						genTable();
					}
			});
		}
		else
		{
			$('#edtForm input, #edtForm select').each(function(){
				if ($(this).val() == '')
				{
					$(this).popover("show");
				}
				else
				{
					$(this).popover("hide");
				}
			});
		}
    });

		function genTable(){
			var loader = new SVGLoader( document.getElementById( 'loader' ), { speedIn : 500, easingIn : mina.easeinout } );
			loader.show();
			triggerAjax({
				 method 	: "POST",
				 data 		: {
					 MENU_ID 	: sessionStorage.MENU_ID
				 },
				 script_id: "Sub Menu Search"
			}, function(data){
					table = $('#M_Table').DataTable( {
								"lengthChange": false,
								"destroy": true,
								"sorting": [],
								"data"	 : data.Data,
								"columns": [
											{
													"data": null,
													"className": "text-center",
													"defaultContent": '<a href="" title="Edit" class="btn btn-xs btn-primary m-r-xs editor_edit"><i class="fa fa-pencil"> </i></a> <a href="" title="Remove" class="btn btn-xs btn-primary editor_remove"><i class="fa fa-trash"> </i></a>'
											},
											{ "data": "MENU_ID" },
											{ "data": "MENU_TITLE" },
											{ "data": "INDEX_LEVEL" },
											{ "data": "SYS" }
								],
								"initComplete" : function(settings, json) {
											loader.hide();
								}
						});
			});
		}

</script>
