/*
	CSS for SDS.AP About Us Css Control Sheet
*/

.abtus-cap-s{
  width: 200px;
  height: 200px;
  background-color: #DCD0C0;
  padding-top: 45px;
  animation: square-to-S 5s 1s infinite cubic-bezier(0.250, 0.250, 0.750, 0.750) alternate;
}
.abtus-dot{
	width: 40px;
  height: 40px;
  margin-top: 100px;
  background-color: #DCD0C0;
}
.abtus-cap-d{
 	width: 200px;
  height: 200px;
  background-color: #DCD0C0;
  animation: square-to-D 5s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}
.abtus-incap-d{
	width: 60px;
  height: 60px;
  background-color: #DCD0C0;
  position: absolute;
  top :37%;
  left: 35%;
	animation: insquare-to-inD 5s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}
.abtus-incap-s{
	width: 140px;
  height: 35px;
	background:white;
	opacity:0;
	animation: innsquare-to-S 5s 1s infinite;
}
.abtus-cap-space{
  margin: 10px;
}
.abtus-cap-title{
  background-color:white;
  display: inline-flex;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  border-radius: 10px;
  margin: 0 auto;
}
.sds-logo-sm{
  height:20px;
  width: 20px;
  vertical-align: baseline;
}
.sds-diagram{
  height:500px;
  width: 700px;
}
.article-title{
  margin: 40px 0 20px 0;
}
.article .widget{
  border: medium solid #DCD0C0;
}
.crew .header{
  padding: 5px 0 5px 0;
  background-color: white;
}
.crew .header button{
  margin-top: 10px;
}
.crew .dashboard-header h2{
  border-bottom: 2px solid;
}
.crew .crew-body {
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-color: #9099A2;
  background-size: 70px 120px;
  color: white;
  margin-bottom: 15px;
}
.crew .product-imitation{
  padding :0;
}
.crew .product-imitation img{
   opacity: 0.7;
   width: 100%;
   height:auto;
}
.crew .product-imitation p{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  color: #F4F4F4;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  font-weight: bold;
}
.crew .product-box:hover p{
  visibility: visible;
  opacity: 1;
}
.crew .product-box:hover img{
  opacity: 1;
}
.crew .hall-of-fame-body{
  background-color: #6D7993;
  color: white;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}
.crew-details .product-image img{
  width: 100%;
  height:auto;
}
.crew-details .row{
  margin-bottom: 20px;
}
.crew-details .ibox-content{
  border-radius: 15px;
}
.crew-details .header{
  margin: 5px 5px 15px 5px;
  background-color: white;
  border-radius: 8px;
}
.crew-details .header button{
  margin-top: 10px;
}

@keyframes square-to-D {
  50%  {
		border-radius:50% 50% 0 0;
		background:#C0B283;
		transform:rotate(90deg);
  }
  70%  {
		border-radius:50% 50% 0 0;
		background:#C0B283;
		transform:rotate(90deg);
  }
}
@keyframes insquare-to-inD {
  50%  {
		border-radius:50% 50% 0 0;
		background:white;
  }
}
@keyframes square-to-S {
	30% {border-radius:5% 5% 5% 5%; }
	50% {background:#C0B283; }
}
@keyframes innsquare-to-S {
	50%  { opacity:1; }
	100% { opacity:0; }
}
