<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| ChunYong		| 02/05/2018	| Demo Copy.

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Demo1</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">Demo1 </a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-4 col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3> Panel </h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-lg-3 col-md-3 control-label"> Row 1 </label>
							<div class="col-lg-9 col-md-9">
								<input class="form-control"> </input>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-lg-3 col-md-3 control-label"> Row 2 a </label>
							<div class="col-lg-3 col-md-3">
								<input class="form-control"> </input>
							</div>
							<label class="col-lg-3 col-md-3 control-label"> Row 2 b </label>
							<div class="col-lg-3 col-md-3">
								<input class="form-control"> </input>
							</div>
						</div>
						<hr>
						<div class="col-lg-12 col-md-12">
							<button class="btn btn-primary pull-right"> Button1 </button>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					<div class="row">
						<button class="btn btn-primary pull-right m-r-sm"> Button2 </button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-8">
			<div class="ibox">
				<div class="ibox-title">
					<h3> Ibox </h3>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="table-responsive col-lg-12 col-md-12">
							<table class="table table-striped table-bordered table-hover" id="Table1">
								<thead>
									<tr>
										<th>Action </th>
										<th>Web Service</th>
										<th>Type</th>
										<th>Transaction Status</th>
									</tr>
								</thead>
							</table>
							<div id="mainloader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
								<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
									<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
									<div>S</div>
									<div>D</div>
									<div>S</div>
								</svg>
							</div>
						</div>
					</div>
				</div>
				<div class="ibox-footer">
					<div class="row">
						<button class="btn btn-primary pull-right m-r-sm"> Close </button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="ibox">
			<div class="ibox-title">
				<h2> HTTP Ajax Example </h2>
			</div>
			<div class="ibox-content">
				<div class="row">
					<div class="col-lg-6 col-md-6 b-r">
						<div class="form-group">
							<textarea class="form-control" rows="8" style="resize:none;" id="raw_text"> </textarea>
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-block" id="btn_generate"> Generate </button>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 form-control-static">
						<div class="table-responsive col-lg-12 col-md-12">
							<table class="table table-striped table-bordered table-hover compact" id="Table2">
								<thead>
									<tr>
										<th>Field</th>
										<th>Value</th>
									</tr>
								</thead>
							</table>
							<div id="loader2" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 Z M 40,30 40,30 40,30 40,30 Z">
								<svg width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
									<path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
									<div>S</div>
									<div>D</div>
									<div>S</div>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	var mainloader; var loader2;
	var tbldata = '{"Status":"AA","Data":[{"ph_webservice":"service 1", "ph_webservice_type" : "REST", "comp_flag" : "Completed"}, {"ph_webservice":"ZX_OTPValidateOTPService", "ph_webservice_type" : "SOAP", "comp_flag" : "Fail"}, {"ph_webservice":"ZX_OTPGenCusService", "ph_webservice_type" : "REST", "comp_flag" : "Timeout"}]}';
	$(document).ready(function(){
		mainloader = initLoader('mainloader');
		loader2 = initLoader('loader2');
		genTable1();
	});

	$('#Table1').on( 'click', 'a.editor_view', function (event) {
		event.preventDefault();
		alert("You click on VIEW button");
		alert($('#Table1').DataTable().row( $(this).parents('tr') ).data().ph_webservice + '\n'
					+ $('#Table1').DataTable().row( $(this).parents('tr') ).data().ph_webservice_type + '\n'
					+ $('#Table1').DataTable().row( $(this).parents('tr') ).data().comp_flag);
	});

	$('#Table1').on( 'click', 'a.editor_add', function (event) {
		event.preventDefault();
		alert("You click on ADD button");
	});

	$("#btn_generate").click(function(event){
		event.preventDefault();
		loader2.show();
		//method - POST / GET
		//url - full url for http call
		//prefer - prefer response in (JSON / XML)
		//path - if url is declare path will not be used
		// data - HTTP body data (for POST method only)
		triggerHTTP({
			"method" : "POST",
			"path"	 : "/parse.nio",
			"data"	 : $("#raw_text").val()
		}, function(data){
			var tabledata;
			if (data.Status == 'AA'){
				var temp = JSON.parse(data.Data);
				tabledata = temp.parsedData.data;
			}
			else{
				tabledata = data.Data;
			}
			genTable2(tabledata);
		});
	});

	function genTable1(){
		mainloader.show();
		tbldata = JSON.parse(tbldata);
		$("#Table1").dataTable({
			"data" 			: tbldata.Data,
			"lengthChange": false,
			"destroy"		: true,
			"sort" 	: true,
			"autoWidth" : false,
			"language"	: {
					"emptyTable": "No records found"
			},
			"columns" 	: [
					{ "data": null, "class": "text-center", "defaultContent": '<a href="" title="View" class="btn btn-xs btn-default btn-rounded btn-outline editor_view"><i class="fa fa-search"></i></a> <a href="" title="Add" class="btn btn-xs btn-default btn-rounded btn-outline editor_add"><i class="fa fa-plus"></i></a>' },
					{ "data": "ph_webservice" },
					{ "data": "ph_webservice_type" },
					{ "data": "comp_flag" }
			],
			"initComplete" : function(settings, json) {
					mainloader.hide();
			}
		});
	}

	function genTable2(data){
		$("#Table2").DataTable({
			"lengthChange": false,
			"destroy"	: true,
			"sort" : false,
			"filter"	: true,
			"paging"	: false,
			"order"	: false,
			"info"		: false,
			"scrollY": "400px",
			"scrollCollapse": true,
			"scrollX" : true,
			"autoWidth" : false,
			"data" 	: data ,
			"columns": [
						{ "data": "path" },
						{ "data": "value" }
				],
			"initComplete" : function(settings, json) {
					loader2.hide();
			}
		});
	}
</script>
