<!--


	Please comment this remark every time when you change/update the template
	======================================================================================
	| Code		| Username		| Date			| Remarks
	| SDS01		| ChunYong		| 02/05/2018	| Demo Copy.

	======================================================================================

-->

<!-- ContentHeader -->
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Demo2</h2>
		<ol class="breadcrumb">
			<li>
				<a onclick="backHome()">Home</a>
			</li>
			<li>
				<a href="#">Demo2 </a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<!-- ContentBody -->
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<div class="panel panel-danger">
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group p-sm">
							<button class="btn btn-block btn-primary btn-sm" id="btn_test"> Click Here </button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-md-9">
			<div class="panel panel-danger">
				<div class="panel-body">
					<canvas id="ylinechart" width="350" height="100"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){

	});

	$("#btn_test").click(function(event){
		event.preventDefault();
		triggerHTTP({
			"url"	: "http://localhost:8000/V2.2_Modfy/Data_SRC/data1.php",
			"method" : "GET"
		}, function(data){
			var temp = JSON.parse(data.Data);
			genBarChart(temp);
		});
	});

	function genBarChart(data){
		var label = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'];
		var labelm = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var elsp = [];
		var count = [];
		var month = [];
		var relsp = [];
		var rcount = [];
		for (var i = 0; i < data.length; i++){
			month.push(data[i].wrkmonth);
			elsp.push(data[i].avg_tot_elps);
			count.push(data[i].cnt);
		}
		for (var i = 0; i < label.length; i++){
			if (month.indexOf(label[i]) > -1)
			{
				relsp.push(elsp[month.indexOf(label[i])]);
				rcount.push(count[month.indexOf(label[i])]);
			}
			else
			{
				relsp.push('0');
				rcount.push('0');
			}
		}

		var conf = {
					labels: labelm,
					 datasets: [
							{
								label: "Average Elapsed (MS)",
								fill: false,
								lineTension: 0.1,
								type: 'line',
								backgroundColor: "rgba(75,192,192,0.4)",
								borderColor: "rgba(75,192,192,1)",
								borderCapStyle: 'butt',
								borderDash: [],
								borderDashOffset: 0.0,
								borderJoinStyle: 'miter',
								pointBorderColor: "rgba(75,192,192,1)",
								pointBackgroundColor: "#fff",
								pointBorderWidth: 2,
								pointHoverRadius: 4,
								pointHoverBackgroundColor: "rgba(75,192,192,1)",
								pointHoverBorderColor: "rgba(220,220,220,1)",
								pointHoverBorderWidth: 2,
								pointRadius: 3,
								pointHitRadius: 0,
								data: relsp,
								spanGaps: false,
							},
							{
								label: "Transaction Count",
								fill: false,
								lineTension: 0.2,
								backgroundColor: "rgba(0,0,0, 0.4)",
								borderColor: "rgba(0,0,0, 1)",
								borderCapStyle: 'butt',
								borderDash: [],
								borderDashOffset: 0.0,
								borderJoinStyle: 'miter',
								pointBorderColor: "rgba(0,0,0,1)",
								pointBackgroundColor: "#fff",
								pointBorderWidth: 2,
								pointHoverRadius: 4,
								pointHoverBackgroundColor: "rgba(237,85,101, 1)",
								pointHoverBorderColor: "rgba(0,0,0,1)",
								pointHoverBorderWidth: 2,
								pointRadius: 3,
								pointHitRadius: 0,
								data: rcount,
								spanGaps: false,
							}
						]
			}

		var ctxline = document.getElementById("ylinechart");
		var myylinechart = new Chart(ctxline,{
			type: 'bar',
			data: conf,
			animation:{
				animateScale:true
			},
			options:  {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					},
					legend: {
						display: true,
						position : 'left',
					}
				}
		});
	}

</script>
